{% extends 'secciones/base.html' %}
{% block titulo %} Sección Balonmano {% endblock %}
{% block contenido %}
  <section class="container-lg seccion_deportes">
    <div class="fondo_balonmano">
      <div class="shadow-lg p-3">
        <div class="row mb-4">
          <div class="col-12">
            <h3 class="text_uemc"></h3>
            <h4 class="text-center text-white fw-bold"></h4>
          </div>
          <div class="col-6 text-center">
            <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
          </div>
          <div class="col-6 text-center">
            <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
          </div>
        </div>
      </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc">Aula Valladolid</h3>
          <h4 class="text-center text-white fw-bold">Liga Guerreras Iberdrola</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_balonmano/calendario_aula" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_balonmano/clasi_analis_aula" class="text-decoration-none"><h5 class="text-white">Clasificación y Objetivos</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row">
        <div class="col-12">
          <h3 class="text_ponce">Recoletas Atl.Valladolid</h3>
          <h4 class="text-center text-white fw-bold">Liga Asobal</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_balonmano/calendario_recoletas" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_balonmano/clasi_analis_recoletas" class="text-decoration-none"><h5 class="text-white">Clasificación y Objetivos</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg p-3">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc"></h3>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}