{% extends 'secciones/base.html' %}
{% block titulo %} Sección Baloncesto {% endblock %}
{% block contenido %}
<section class="container-lg seccion_deportes">
  <diV class="fondo_basket">
    <div class="shadow-lg p-3">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc"></h3>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc">UEMC Valladolid</h3>
          <h4 class="text-center text-white fw-bold">Liga Leb Oro</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_basket/calendario_uemc" class="text-decoration-none"><h5 class="text-white pb-2">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_basket/clasif_analisis_uemc" class="text-decoration-none"><h5 class="text-white pb-2">Clasificación y Ánalisis de Objetivos</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_ponce">Ponce Valladolid</h3>
          <h4 class="text-center text-white fw-bold">Liga Femenina 2</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_basket/calendario_ponce" class="text-decoration-none"><h5 class="text-white pb-2">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_basket/clasif_analisis_ponce" class="text-decoration-none"><h5 class="text-white pb-2">Clasificación y Ánalisis de Objetivos</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_ponce">Fundación Aliados</h3>
          <h4 class="text-center text-white fw-bold">Liga Femenina 2</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_basket/calendario_aliados" class="text-decoration-none"><h5 class="text-white pb-2">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_basket/clasif_analisis_aliados" class="text-decoration-none"><h5 class="text-white pb-2">Clasificación y Ánalisis de Objetivos</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg p-3">
      <div class="row">
        <div class="col-12">     
          <h3 class="text_fundacion"></h3></a>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white pb-2"></h5></a>
        </div>
      </div>
    </div>
  </diV>
</section>
{% endblock %}