{% extends 'secciones/base.html' %}
{% block titulo %} Sección Balonmano {% endblock %}
{% block contenido %}
<!--<h1 class="h1_deportes">Balonmano</h1>
  <section class="container-lg seccion_texto">
    <div class="text_seccion">
      <h2 class="text-center">La Intensidad en Movimiento</h2>
      <p>El balonmano es la expresión máxima de intensidad y coordinación en movimiento. En <strong>Valladolid</strong>, este deporte ha encontrado un hogar vibrante y apasionado. Desde las jugadas estratégicas hasta la adrenalina de los partidos, el balonmano en nuestra ciudad es un símbolo de trabajo en equipo, tenacidad y competitividad.</p>  
    </div>
  </section>-->
  <section class="container-lg seccion_deportes mb-5">
    <div class="fondo_balonmano">
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc">Aula Valladolid</h3>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_balonmano/calendario_aula" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_balonmano/clasi_analis_aula" class="text-decoration-none"><h5 class="text-white">Clasificación y Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row">
        <div class="col-12">
          <h3 class="text_ponce">Recoletas Atl.Valladolid</h3>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_balonmano/calendario_recoletas" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_balonmano/clasi_analis_recoletas" class="text-decoration-none"><h5 class="text-white">Clasificación y Ánalisis</h5></a>
        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}