<!doctype html>
<html lang="es">
<head>
  <title>{% block titulo %} Sección de los deportes {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body id="body_secciones">
    <header class="container-fluid d-none d-lg-block sticky-top">
      <section id="cabecera1" class="align-items-center ">
          <!--<div class="d-flex justify-content-center">
            <img src="/static/img/logo_3_bis.png" class="img-fluid" alt="eldeportedelaciudad">
          </div>-->
          <div class="row bg_menu_seccion shadow">
          <div class="col-lg-9 col-md-9">
            <nav class="navbar navbar-expand navbar-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active fw-bold text-white text-menu-seccion" href="/" aria-current="page">Página Principal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active fw-bold text-white text-menu-seccion" href="/seccion/baloncesto" aria-current="page">Baloncesto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active fw-bold text-white text-menu-seccion" href="/seccion/balonmano" aria-current="page">Balonmano</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active fw-bold text-white text-menu-seccion" href="/seccion/futbol" aria-current="page">Fútbol</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active fw-bold text-white text-menu-seccion" href="/seccion/futbol_sala" aria-current="page">Fútbol Sala</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active fw-bold text-white text-menu-seccion" href="/seccion/hockey" aria-current="page">Hockey Línea</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active fw-bold text-white text-menu-seccion" href="/seccion/rugby" aria-current="page">Rugby</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active fw-bold text-white text-menu-seccion" href="/seccion/voleibol" aria-current="page">Voleibol</a>
                  </li>
                </ul>
              </div>
              </div>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            <img src="/static/img/logo_3_blanco.png" class="img-fluid" alt="eldeportedelaciudad">
          </div>
          </div>
      </section>
    </header><!--Fin header1-->
    <header class="container-fluid d-lg-none d-md-block bg_menu_seccion sticky-top">
        <section id="cabecera1" class="d-flex justify-content-around align-items-center">
          <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active fw-bold fs-5 text-white" href="/" aria-current="page">Página Principal</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active fw-bold fs-5 text-white" href="/seccion/baloncesto" aria-current="page">Baloncesto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active fw-bold fs-5 text-white" href="/seccion/balonmano" aria-current="page">Balonmano</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold fs-5 text-white" href="/seccion/futbol" aria-current="page">Fútbol</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold fs-5 text-white" href="/seccion/hockey" aria-current="page">Hockey Línea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active fw-bold fs-5 text-white" href="/seccion/rugby" aria-current="page">Rugby</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active fw-bold text-white text-menu-seccion" href="/seccion/voleibol" aria-current="page">Voleibol</a>
                </li>
                </ul>
              </div>
            </div>
          </nav>
          <div>
            <img src="/static/img/logo_3_blanco.png" class="img-fluid" alt="eldeportedelaciudad">
          </div>
        </section>
      </header>
    {% block contenido %}

    {% endblock %}
    <footer class="container-fluid footer_secciones">
      <div class="row">
        <div class="col-lg-2">
          <a><h5 class="text-center text-white fw-bold pt-4 pb-2">eldeportedelaciudad</h5></a>
        </div>
        <div class="col-lg-5 d-flex justify-content-center pt-4 pb-2">
          <a><h5 class="text-white">Aviso legal |</h5></a>
          <a><h5 class="text-white ms-1">Política de privacidad | </h5></a>
          <a><h5 class="text-white ms-1">Política de cookies</h5></a>
          <!--<a><img src="/static/img/usuario.png" class="usuario" alt="usuario"></a>-->
        </div>
        <div class="col-lg-5 d-flex justify-content-center align-items-center ">
          <a><img src="/static/img/facebook.png" class="iconos me-4" alt="facebook"></a>
          <a><img src="/static/img/instagram.png" class="iconos me-4" alt="instagram"></a>
          <a><img src="/static/img/twitter.png" class="iconos" alt="twitter"></a>
          <!--<a><img src="/static/img/usuario.png" class="usuario" alt="usuario"></a>-->
        </div>
        
      </div>

  </footer>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <!--<script src="/static/js/script.js"></script>-->
</body>
</html>
