{% extends 'secciones/base.html' %}
{% block titulo %} Sección Fútbol {% endblock %}
{% block contenido %}
<h1 class="h1_deportes">Fútbol</h1>
  <section class="container-lg seccion_texto">
    <div class="text_seccion">
      <h2 class="text-center">Donde el Balón es Pasión</h2>
      <p>Bienvenidos al mundo del fútbol en <strong>Valladolid</strong>, donde cada partido es una historia por contar. El deporte rey se vive con fervor y emoción en cada rincón de nuestra comunidad. Desde los equipos locales, tanto femeninos como masculinos, hasta los enfrentamientos internacionales, el fútbol en <strong>Valladolid</strong> es un reflejo de la pasión colectiva y el espíritu competitivo que une a nuestra ciudad.</p>  
    </div>
  </section>
  <section class="container-lg seccion_deportes mb-5">
    <div class="bg_valladolid shadow">
      <div class="row mb-3">
        <div class="col-12">
          <h3 class="text_uemc">Real Valladolid</h3>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Clasificación</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="bg_promesas shadow">
      <div class="row mb-3">
        <div class="col-12">
          <h3 class="text_ponce">Real Valladolid Promesas</h3>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Clasificación</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="bg_fundacion shadow">
      <div class="row mb-3">
        <div class="col-12">    
          <a href="#" class="text-decoration-none"><h3 class="text_fundacion">Real Valladolid Simancas</h3></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Clasificación</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="bg_fundacion shadow">
      <div class="row mb-3">
        <div class="col-12">    
          <a href="#" class="text-decoration-none"><h3 class="text_fundacion">CD Parquesol</h3></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Clasificación</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="bg_fundacion shadow">
      <div class="row mb-3">
        <div class="col-12">    
          <a href="#" class="text-decoration-none"><h3 class="text_fundacion">CD Parquesol B</h3></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Clasificación</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="bg_fundacion shadow">
      <div class="row mb-3">
        <div class="col-12">    
          <a href="#" class="text-decoration-none"><h3 class="text_fundacion">CD San Pio X</h3></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Clasificación</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="bg_fundacion shadow">
      <div class="row">
        <div class="col-12">    
          <a href="#" class="text-decoration-none"><h3 class="text_fundacion">CD San José</h3></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Clasificación</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Ánalisis</h5></a>
        </div>
      </div>
    </div>
  </section>



{% endblock %}