{% extends 'secciones/base.html' %}
{% block titulo %} Sección Fútbol {% endblock %}
{% block contenido %}
  <section class="container-lg seccion_deportes flex-fill">
    <div class="fondo_futbol">
      <div class="shadow-lg p-3">
        <div class="row mb-4">
          <div class="col-12">
            <h3 class="text_uemc"></h3>
            <h4 class="text-center text-white fw-bold"></h4>
          </div>
          <div class="col-6 text-center">
            <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
          </div>
          <div class="col-6 text-center">
            <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
          </div>
        </div>
      </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc">Real Valladolid</h3>
          <!--<h4 class="text-center text-white fw-bold">Liga EA Sports</h4>-->
          <h4 class="text-center text-white fw-bold">Liga EA Sports</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/calendario_vallad" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/clasi_analis_vallad/" class="text-decoration-none"><h5 class="text-white">Clasificación y Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_ponce">Real Valladolid Promesas</h3>
          <h4 class="text-center text-white fw-bold">Liga 2ª RFEF</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/calendario_promesas" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/clasi_analis_prome" class="text-decoration-none"><h5 class="text-white">Clasificación y Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">    
          <h3 class="text_fundacion">Real Valladolid Fem.</h3>
          <!--<h4 class="text-center text-white fw-bold">Liga 3ª Federación Fem</h4>-->
          <h4 class="text-center text-white fw-bold">Liga 3ª Federación (G-1)</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/calendario_simancas" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/clasi_analis_siman" class="text-decoration-none"><h5 class="text-white">Clasificación y Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">    
          <h3 class="text_fundacion">CD Parquesol</h3>
          <h4 class="text-center text-white fw-bold">Liga 3ª Federación Fem</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/calendario_parquesol" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/clasi_analis_parque" class="text-decoration-none"><h5 class="text-white">Clasificación y Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg p-3">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc"></h3>
          <h4 class="text-center text-white fw-bold"></h4>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="" class="text-decoration-none"><h5 class="text-white"></h5></a>
        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}