{% extends 'secciones/base.html' %}
{% block titulo %} Sección Fútbol {% endblock %}
{% block contenido %}
<!--<h1 class="h1_deportes">Fútbol</h1>
  <section class="container-lg seccion_texto">
    <div class="text_seccion">
      <h2 class="text-center">Donde el Balón es Pasión</h2>
      <p>Bienvenidos al mundo del fútbol en <strong>Valladolid</strong>, donde cada partido es una historia por contar. El deporte rey se vive con fervor y emoción en cada rincón de nuestra comunidad. Desde los equipos locales, tanto femeninos como masculinos, hasta los enfrentamientos internacionales, el fútbol en <strong>Valladolid</strong> es un reflejo de la pasión colectiva y el espíritu competitivo que une a nuestra ciudad.</p>  
    </div>
  </section>-->
  <section class="container-lg seccion_deportes mb-5">
    <div class="fondo_futbol">
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc">Real Valladolid</h3>
          <!--<h4 class="text-center text-white fw-bold">Liga EA Sports</h4>-->
          <h4 class="text-center text-white fw-bold">Liga Hypermotion</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/calendario_vallad" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/clasi_analis_vallad/" class="text-decoration-none"><h5 class="text-white">Clasificación y Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_ponce">Real Valladolid Promesas</h3>
          <h4 class="text-center text-white fw-bold">Liga 2ª RFEF</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/calendario_promesas" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/clasi_analis_prome" class="text-decoration-none"><h5 class="text-white">Clasificación y Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">    
          <h3 class="text_fundacion">RV Simancas</h3>
          <!--<h4 class="text-center text-white fw-bold">Liga 3ª Federación Fem</h4>-->
          <h4 class="text-center text-white fw-bold">Liga Gonalpi</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/calendario_simancas" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/clasi_analis_siman" class="text-decoration-none"><h5 class="text-white">Clasificación y Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">    
          <h3 class="text_fundacion">CD Parquesol</h3>
          <h4 class="text-center text-white fw-bold">Liga 3ª Federación Fem</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/calendario_parquesol" class="text-decoration-none"><h5 class="text-white">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_futbol/clasi_analis_parque" class="text-decoration-none"><h5 class="text-white">Clasificación y Ánalisis</h5></a>
        </div>
      </div>
    </div>
    </div>
  </section>
{% endblock %}