{% extends 'secciones/base.html' %}
{% block titulo %} Sección Hockey Línea {% endblock %}
{% block contenido %}
<!--<h1 class="h1_deportes">Hockey Línea</h1>
  <section class="container-lg seccion_texto">
    <div class="text_seccion">
      <h2 class="text-center">Velocidad y Destreza sobre Ruedas</h2>
      <p>El hockey línea en <strong>Valladolid</strong> es un deporte que combina la velocidad, la destreza y la estrategia en cada movimiento. En cada partido, los patines sobre ruedas se convierten en la plataforma para un juego emocionante y dinámico. Únete a nosotros para experimentar la emoción de los golpes, los pases precisos y la pasión sobre el hielo.</p>  
    </div>
  </section>-->
  <section class="container-lg seccion_deportes mb-5">
    <div class="fondo_hockey">
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc">Caja Rural CPLV</h3>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Clasificación</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row">
        <div class="col-12">
          <h3 class="text_ponce">Munia Panteras</h3>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Clasificación</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Ánalisis</h5></a>
        </div>
      </div>
    </div>
    </div>
  </section>



{% endblock %}
