{% extends 'secciones/base.html' %}
{% block titulo %} Sección Rugby {% endblock %}
{% block contenido %}
<!--<h1 class="h1_deportes">Rugby</h1>
  <section class="container-lg seccion_texto">
    <div class="text_seccion">
      <h2 class="text-center">Fuerza y Camaradería en el Campo</h2>
      <p>El rugby en <strong>Valladolid</strong> es sinónimo de fuerza, camaradería y respeto por el adversario. En cada partido, los jugadores demuestran valentía, disciplina y espíritu deportivo. Desde los terrenos de juego hasta la vibrante atmósfera en las gradas, el rugby es un símbolo de unidad y pasión en nuestra ciudad.</p>  
    </div>
  </section>-->
  <section class="container-lg seccion_deportes mb-5">
    <div class="fondo_rugby">
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc">CR El Salvador</h3>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Clasificación</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Ánalisis</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row">
        <div class="col-12">
          <h3 class="text_ponce">VRAC Quesos Entrepinares</h3>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Clasificación</h5></a>
        </div>
        <div class="col-4 text-center">
          <a href="#" class="text-decoration-none"><h5 class="text-white">Ánalisis</h5></a>
        </div>
      </div>
    </div>
    </div>
  </section>



{% endblock %}