{% extends 'secciones/base.html' %}
{% block titulo %} Sección Rugby {% endblock %}
{% block contenido %}
<section class="container-lg seccion_deportes mb-5">
  <div class="fondo_voley">
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_uemc">Univ. Valladolid VCV</h3>
          <h4 class="text-center text-white fw-bold">1ª Divisón Masculina</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_voleibol/calendario_vcv" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_voleibol/clasi_analis_vcv" class="text-decoration-none"><h5 class="text-white">Clasificaciónes</h5></a>
        </div>
      </div>
    </div>
    <!--<div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <h3 class="text_ponce">VRAC</h3>
          <h4 class="text-center text-white fw-bold">División de Honor</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_rugby/calendario_vrac" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_rugby/clasi_analis_vrac" class="text-decoration-none"><h5 class="text-white">Clasificaciónes</h5></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row">
        <div class="col-12">
          <h3 class="text_ponce">Univ. Valladolid VCV Fem</h3>
          <h4 class="text-center text-white fw-bold">División de Honor Femenina</h4>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_rugby/calendario_salvador_fem" class="text-decoration-none"><h5 class="text-white">Calendario</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_rugby/clasi_analis_salvador_fem" class="text-decoration-none"><h5 class="text-white">Clasificaciónes</h5></a>
        </div>
      </div>
    </div>-->
  </div>
</section>
{% endblock %}