<!doctype html>
<html lang="es">
<head>
  <title>{% block titulo %} Eldeportedelaciudad {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!--Favicon-->
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body>
  <header class="container-fluid d-none d-lg-block  sticky-top">
    <section id="cabecera1" class="align-items-center">
        <!--<div class="d-flex justify-content-center">
            <img src="/static/img/logo_3_bis.png" class="img-fluid" alt="eldeportedelaciudad">
        </div>-->
        <div class="row bg-menu shadow">
        <div class="col-lg-8 col-md-8">
        <nav class="navbar navbar-expand navbar-light ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                  <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active text-white fw-bold text-menu-nav" href="/" aria-current="page">Inicio</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link active fs-5 text-white" href="/noticias/" aria-current="page">Noticias</a>
                    </li>-->
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold text-white text-menu-nav" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Secciones</a>
                        <div class="dropdown-menu menu-desple" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="/seccion/baloncesto">Baloncesto</a>
                          <a class="dropdown-item" href="/seccion/balonmano">Balonmano</a>
                          <a class="dropdown-item" href="/seccion/futbol">Fútbol</a>
                          <a class="dropdown-item" href="/seccion/hockey">Hockey Línea</a>
                          <a class="dropdown-item" href="/seccion/rugby">Rugby</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold text-white text-menu-nav" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PlayOffs</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <!--<a class="dropdown-item" href="/playoff/baloncesto">Baloncesto</a>
                          <a class="dropdown-item" href="/playoff/balonmano">Balonmano</a>
                          <a class="dropdown-item" href="/playoff/futbol">Fútbol</a>
                          <a class="dropdown-item" href="/playoff/hockey">Hockey Línea</a>                         
                          <a class="dropdown-item" href="/playoff/rugby">Rugby</a>-->
                          <a class="dropdown-item" href="">Real Valladolid</a>
                          <a class="dropdown-item" href="">Real Valladolid Promesas</a>
                          <a class="dropdown-item" href="">V Simancas</a>
                          <a class="dropdown-item" href="">CD Parquesol</a>
                          <a class="dropdown-item" href="/playoffs_uemc/">UEMC Valladolid</a>
                          <a class="dropdown-item" href="/playoffs_ponce/">Ponce Valladolid</a>
                          <a class="dropdown-item" href="/playoffs_aliados/">Fundación Aliados</a>
                          <a class="dropdown-item" href="/playoffs_aula/">Aula Valladolid</a>
                          <a class="dropdown-item" href="/playoffs_salvador/">El Salvador</a>
                          <a class="dropdown-item" href="/playoffs_vrac/">VRAC</a>
                          <a class="dropdown-item" href="/playoffs_salvador_fem/">El Salvador Fem.</a>                        
                          <a class="dropdown-item" href="/playoffs_caja/">CPLV Caja Rural</a>
                          <a class="dropdown-item" href="#">CPLV Munia Panteras</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold text-white text-menu-nav" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Copa Rey / Reina</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="/copa_valladolid">Real Valladolid</a>
                          <!--<a class="dropdown-item" href="">Real Valladolid Promesas</a>-->
                          <!--<a class="dropdown-item" href="">V Simancas</a>-->
                          <a class="dropdown-item" href="/copa_parquesol">CD Parquesol</a>
                          <a class="dropdown-item" href="/copa_uemc">UEMC Valladolid</a>
                          <!--<a class="dropdown-item" href="">Ponce Valladolid</a>-->
                          <a class="dropdown-item" href="/copa_aliados">Fundación Aliados</a>
                          <a class="dropdown-item" href="/copa_aula">Aula Valladolid</a>
                          <a class="dropdown-item" href="/copa_recoletas">Atl. Valladolid</a>
                          <!--<a class="dropdown-item" href="">El Salvador</a>-->
                          <!--<a class="dropdown-item" href="">VRAC</a>-->
                          <!--<a class="dropdown-item" href="">El Salvador Fem.</a>-->                      
                          <a class="dropdown-item" href="/copa_caja">Caja Rural CPLV</a>
                          <a class="dropdown-item" href="/copa_panteras">CPLV Munia Panteras</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-bold text-white text-menu-nav" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sistema de Ligas</a>
                        <div class="dropdown-menu menu-desple2" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="/sistema_ligas/baloncesto">Baloncesto</a>
                          <a class="dropdown-item" href="/sistema_ligas/balonmano">Balonmano</a>
                          <a class="dropdown-item" href="/sistema_ligas/futbol">Fútbol</a>
                          <a class="dropdown-item" href="/sistema_ligas/hockey">Hockey Línea</a>
                          <a class="dropdown-item" href="/sistema_ligas/rugby">Rugby</a>
                        </div>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link fs-5 text-white" href="#"></a>
                    </li>-->
                    
                    <!--<li class="nav-item">
                        <a class="nav-link fs-5 text-white" href="#">Suscripción</a>
                    </li>-->
                    <!--<li class="nav-item">
                        <a class="nav-link fs-5 text-white" href="#">Contactos</a>
                    </li>-->
                  </ul>
                </div>
            </div>
        </nav>
        </div>
        <div class="col-lg-4 col-md-4 d-flex justify-content-end align-items-center">
            <a><img src="/static/img/facebook.png" class="iconos pe-1" alt="facebook"></a>
            <a><img src="/static/img/instagram.png" class="iconos pe-1" alt="instagram"></a>
            <a><img src="/static/img/twitter.png" class="iconos" alt="twitter"></a>
            <!--<a><img src="/static/img/usuario.png" class="usuario" alt="usuario"></a>--->
        </div>
        </div>
    </section>
  </header><!--Fin header1-->
  <header class="container-fluid d-lg-none d-md-block bg-menu sticky-top">
    <section id="cabecera1" class="d-flex justify-content-around align-items-center">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white fw-bold" href="/" aria-current="page">Inicio</a>
              </li>
              <!--<li class="nav-item">
                  <a class="nav-link active fs-5 text-white" href="/noticias/" aria-current="page">Noticias</a>
              </li>-->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-5 text-white fw-bold" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Secciones</a>
                  <div class="dropdown-menu menu-desple3" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="/seccion/baloncesto">Baloncesto</a>
                    <a class="dropdown-item" href="/seccion/balonmano">Balonmano</a>
                    <a class="dropdown-item" href="/seccion/futbol">Fútbol</a>
                    <a class="dropdown-item" href="/seccion/hockey">Hockey Línea</a>
                    <a class="dropdown-item" href="/seccion/rugby">Rugby</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-5 text-white fw-bold" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PlayOffs</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <!--<a class="dropdown-item" href="/playoff/baloncesto">Baloncesto</a>
                    <a class="dropdown-item" href="/playoff/balonmano">Balonmano</a>
                    <a class="dropdown-item" href="/playoff/futbol">Fútbol</a>
                    <a class="dropdown-item" href="/playoff/hockey">Hockey Línea</a>                         
                    <a class="dropdown-item" href="/playoff/rugby">Rugby</a>-->
                    <a class="dropdown-item" href="/playoffs_valladolid/">Real Valladolid</a>
                          <a class="dropdown-item" href="/playoffs_promesas/">Real Valladolid Promesas</a>
                          <!--<a class="dropdown-item" href="">V Simancas</a>
                          <a class="dropdown-item" href="">CD Parquesol</a>-->
                          <a class="dropdown-item" href="/playoffs_uemc/">UEMC Valladolid</a>
                          <a class="dropdown-item" href="">Ponce Valladolid</a>
                          <a class="dropdown-item" href="/playoffs_fundacion/">Fundación Aliados</a>
                          <a class="dropdown-item" href="/playoffs_aula/">Aula Valladolid</a>
                          <a class="dropdown-item" href="/playoffs_salvador/">El Salvador</a>
                          <a class="dropdown-item" href="/playoffs_vrac/">VRAC</a>
                          <a class="dropdown-item" href="/playoffs_salvador_fem/">El Salvador Fem.</a>                        
                          <a class="dropdown-item" href="/playoffs_caja/">CPLV Caja Rural</a>
                          <a class="dropdown-item" href="/playoffs_panteras/">CPLV Munia Panteras</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-5 text-white fw-bold" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Copa Rey / Reina</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="/copa_valladolid">Real Valladolid</a>
                    <!--<a class="dropdown-item" href="">Real Valladolid Promesas</a>-->
                    <!--<a class="dropdown-item" href="">V Simancas</a>-->
                    <a class="dropdown-item" href="/copa_parquesol">CD Parquesol</a>
                    <a class="dropdown-item" href="/copa_uemc">UEMC Valladolid</a>
                    <!--<a class="dropdown-item" href="">Ponce Valladolid</a>-->
                    <a class="dropdown-item" href="/copa_aliados">Fundación Aliados</a>
                    <a class="dropdown-item" href="/copa_aula">Aula Valladolid</a>
                    <a class="dropdown-item" href="/copa_recoletas">Atl. Valladolid</a>
                    <a class="dropdown-item" href="">El Salvador</a>
                    <a class="dropdown-item" href="">VRAC</a>
                    <a class="dropdown-item" href="">El Salvador Fem.</a>                       
                    <a class="dropdown-item" href="/copa_caja">Caja Rural CPLV</a>
                    <a class="dropdown-item" href="/copa_panteras">CPLV Munia Panteras</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-5 text-white fw-bold" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sistema de Ligas</a>
                  <div class="dropdown-menu menu-desple4" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="/sistema_ligas/baloncesto">Baloncesto</a>
                    <a class="dropdown-item" href="/sistema_ligas/balonmano">Balonmano</a>
                    <a class="dropdown-item" href="/sistema_ligas/futbol">Fútbol</a>
                    <a class="dropdown-item" href="/sistema_ligas/hockey">Hockey Línea</a>
                    <a class="dropdown-item" href="/sistema_ligas/rugby">Rugby</a>
                  </div>
                </li>
              <!--<li class="nav-item">
                  <a class="nav-link fs-5 text-white" href="#">Calendarios</a>
              </li>-->
              <!--<li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle fs-5 text-white" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Participa</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                      <a class="dropdown-item" href="#">¿Qué hacer?</a>
                      <a class="dropdown-item" href="#">Comparteló</a>
                      <a class="dropdown-item" href="#">Escribé tu noticia</a>
                    </div>
                </li>-->
              <!--<li class="nav-item">
                  <a class="nav-link fs-5 text-white" href="#">Suscripción</a>
              </li>-->
            </ul>
          </div>
        </div>
      </nav>
      <div>
        <img src="/static/img/logo_3_blanco.png" class="img-fluid" alt="eldeportedelaciudad">
      </div>
      <div>
        <ul class="navbar-nav text-end">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fs-5 text-white" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RRSS</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="#">Facebook</a>
                <a class="dropdown-item" href="#">Twitter</a>
                <a class="dropdown-item" href="#">Instagram</a>
              </div>
          </li>
        </ul>
      </div>
      <div>
        <!--<a><img src="/static/img/facebook.png" class="iconos d-none d-lg-block" alt="facebook"></a>
        <a><img src="/static/img/instagram.png" class="iconos d-none d-lg-block" alt="instagram"></a>
        <a><img src="/static/img/twitter.png" class="iconos d-none d-lg-block" alt="twitter"></a>-->  
        <!--<a><img src="/static/img/usuario.png" class="usuario" alt="usuario"></a>-->
      </div>
    </section>
  </header>
  {% block contenido %}   

  {% endblock %}
  <footer class="container-fluid footer">
      <div class="row">
        <div class="col-lg-2">
          <a><h5 class="text-center text-white fw-bold pt-4 pb-2">eldeportedelaciudad</h5></a>
        </div>
        <div class="col-lg-5 d-flex justify-content-center pt-4 pb-2">
          <a><h5 class="text-white">Aviso legal |</h5></a>
          <a><h5 class="text-white ms-1">Política de privacidad | </h5></a>
          <a><h5 class="text-white ms-1">Política de cookies</h5></a>
          <!--<a><img src="/static/img/usuario.png" class="usuario" alt="usuario"></a>-->
        </div>
        <div class="col-lg-5 d-flex justify-content-center align-items-center ">
          <a><img src="/static/img/facebook.png" class="iconos me-4" alt="facebook"></a>
          <a><img src="/static/img/instagram.png" class="iconos me-4" alt="instagram"></a>
          <a><img src="/static/img/twitter.png" class="iconos" alt="twitter"></a>
          <!--<a><img src="/static/img/usuario.png" class="usuario" alt="usuario"></a>-->
        </div>
        
      </div>

  </footer>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/leer_mas.js"></script>
</body>
</html>