{% extends 'sitio/base.html' %}
{% block titulo %} Eldeportedelaciudad-Inicio {% endblock %}
{% block contenido %}
<!--Carrusel-->
<div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
	<div class="carousel-inner">
	  {% for datos in nuevos_resultados %}
	  <div class="d-flex">
		  <div class="card-2">
			<h5 class="text-center text-secondary fw-bold deporte">{{ datos.seccion }}</h5>
		  </div>
	  </div>	
	  <div class="carousel-item">
		<div class="card">
		  <div class="card-body">
		    <h6 class="text-center text-secondary"></h6>
			<h6 class="text-center fw-bold text-primary">{{ datos.liga }}</h6>
			<h6>{{ datos.equipoA }}<strong> {{ datos.resultado1 }}</strong></h6>
			<h6>{{ datos.equipoB }}<strong> {{ datos.resultado2 }}</strong></h6>
			<h6 class="text-center text-secondary">{{ datos.fecha_parti }}</h6>
		  </div>
		</div>
	  </div>
	  {% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
</div><!--Fin Carrusel-->
<h1 class="letras_logo">El deporte de la ciudad</h1>
<h2 class="slogan">Deporte local, corazón urbano</h2>
<section id="seccion_home" class="container-lg">
  <div class="bg-white shadow text_home">
	<h4>¡Bienvenid@s a Valladolid, donde el Deporte se Convierte en Historia!</h4>
      <p>En nuestra ciudad, el corazón del deporte late al ritmo de la diversidad. Desde los emocionantes encuentros de fútbol hasta la elegancia en las canchas de baloncesto, pasando por la intensidad del balonmano, la velocidad del hockey línea y la fuerza del rugby, el arte táctico del boxeo y la libertad sobre dos ruedas del ciclismo nuestra ciudad celebra la pasión y el esfuerzo en cada disciplina.</p>
      <p>Que decir del deporte femenino en Valladolid, siendo una fuerza imparable, desafiando estereotipos y rompiendo barreras. Nuestras deportistas marcan historia con determinación y talento en cada competición, mostrando al mundo la grandeza del deporte sin importar el género.</p>
      <p>Explora el espíritu deportivo de la ciudad, donde cada calle, cada estadio y cada logro de nuestros deportistas se convierten en parte de nuestra identidad colectiva. Desde los éxitos de nuestros equipos amateurs hasta los momentos gloriosos de nuestros profesionales.</p>
      <p>En Valladolid, el deporte no es solo un espectáculo, es una experiencia. Únete a nosotros para descubrir cómo el deporte une corazones, inspira a generaciones y moldea nuestra ciudad hacia un futuro lleno de logros deportivos y orgullo comunitario.</p>
      <p>Ven y descubre el legado que ha forjado Valladolid como una cuna de historias deportivas. Desde las hazañas históricas hasta los hitos contemporáneos, cada victoria y cada desafío de nuestros deportistas se convierten en inspiración. Sumérgete en una ciudad que respira y transmite la historia viva del deporte en cada esquina.</p>
      <p>En Valladolid, el deporte es parte integral de nuestra identidad. Desde los estadios hasta las calles, respiramos el espíritu del deporte en cada rincón, y es parte de la emoción que impulsa a nuestra ciudad.</p>
      <p>Conéctate con el legado rico y vibrante del deporte en Valladolid. Desde los logros históricos hasta los eventos más recientes, te invitamos a ser parte de una comunidad que celebra la tradición mientras abraza la emoción del deporte en su forma más moderna y dinámica.</p>
	<!--<h4>¡Bienvenid@s a <strong><i>Valladolid</i></strong>, donde el Deporte se Convierte en Historia!</h4>
	<p>En nuestra ciudad, el corazón del deporte late al ritmo de la diversidad. Desde los emocionantes encuentros de fútbol hasta la elegancia en las canchas de baloncesto, pasando por la intensidad del balonmano, la velocidad del hockey línea y la fuerza del rugby, nuestra ciudad celebra la pasión y el esfuerzo en cada disciplina.
	<p>Que decir del deporte femenino en <strong><i>Valladolid</i></strong>, siendo una fuerza imparable, desafiando estereotipos y rompiendo barreras. Nuestras deportistas marcan historia con determinación y talento en cada competición, mostrando al mundo la grandeza del deporte sin importar el género.</p>
	<p>Descubre la ciudad desde una perspectiva única, a través del latido de su escena deportiva. En <strong>Valladolid</strong>, nos enorgullecemos de ser la plataforma que celebra la pasión, el legado y el presente del deporte en nuestra vibrante localidad.</p>
	<h4>Explora el Espíritu Deportivo de la Ciudad</h4>
	<p>Sumérgete en la emocionante escena deportiva de <strong>Valladolid</strong>, donde cada calle, cada estadio y cada logro de nuestros deportistas se convierten en parte de nuestra identidad colectiva. Desde los éxitos de nuestros equipos amateurs hasta los momentos gloriosos de nuestros profesionales, aquí encontrarás la esencia misma de nuestra comunidad a través del deporte.</p>
	<h4>Un Vistazo al Legado y la Emoción Deportiva</h4>
	<p>Ven y descubre el legado que ha forjado <strong>Valladolid</strong> como una cuna de historias deportivas. Desde las hazañas históricas hasta los hitos contemporáneos, cada victoria y cada desafío de nuestros deportistas se convierten en inspiración. Sumérgete en una ciudad que respira y transmite la historia viva del deporte en cada esquina.</p>
	<h4>Vive la Experiencia Deportiva Completa</h4>
	<p>En <strong>Valladolid</strong>, el deporte no es solo un espectáculo, es una experiencia. Únete a nosotros para descubrir cómo el deporte une corazones, inspira a generaciones y moldea nuestra ciudad hacia un futuro lleno de logros deportivos y orgullo comunitario.</p>
	<h4>¡Explora el Poder del Deporte en <strong>Valladolid</strong>!</h4>
	<p>Bienvenido a la plataforma definitiva para sumergirte en la esencia del deporte en <strong>Valladolid</strong>. En nuestra comunidad deportiva, cada victoria, cada evento y cada historia de superación se convierten en un testimonio vivo de la pasión y el compromiso de nuestros deportistas.</p>
	<h4>Sumérgete en la Pasión Deportiva Local</h4>
	<p>En <strong>Valladolid</strong>, el deporte es parte integral de nuestra identidad. Desde los estadios hasta las calles, respiramos el espíritu del deporte en cada rincón. Únete a nosotros para explorar las hazañas de nuestros equipos, conocer a los deportistas que hacen historia y ser parte de la emoción que impulsa a nuestra ciudad.</p>
	<h4>Donde la Tradición se Encuentra con la Emoción Contemporánea</h4>
	<p>Conéctate con el legado rico y vibrante del deporte en <strong>Valladolid</strong>. Desde los logros históricos hasta los eventos más recientes, te invitamos a ser parte de una comunidad que celebra la tradición mientras abraza la emoción del deporte en su forma más moderna y dinámica.</p>-->
  </div>
</section>
{% endblock %}