{% extends 'sitio/base.html' %}
{% block titulo %}  {% endblock %}
{% block contenido %}
<!--Carrusel-->
<div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="d-flex">
			<div class="card-2">
				<h5 class="text-center text-secondary fw-bold deporte">Baloncesto</h5>
			</div>
		</div>	
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Leb Oro</h6>
			  <h6>Mov. Estudiantes<strong> </strong></h6>
			  <h6>UEMC Valladolid<strong> </strong></h6>
			  <h6 class="text-center text-secondary">26-11-23 (18:30h)</h6>
			</div>
		  </div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Liga Femenina 2</h6>
			  <h6>Ponce Valladolid<strong> </strong></h6>
			  <h6>Miralvalle Plasen<strong> </strong></h6>
			  <h6 class="text-center text-secondary">26-11-23 (13h)</h6>
			</div>
		  </div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Liga Aliados</h6>
			  <h6>Fundación Aliados<strong> </strong></h6>
			  <h6>Mideba Extremadura<strong> </strong></h6>
			  <h6 class="text-center text-secondary">25-11-23 (18:30h)</h6>
			</div>
		  </div>
	  </div>
	  <div class="d-flex">
		<div class="card-2">
			<h5 class="text-center text-secondary fw-bold deporte">Fútbol</h5>
		</div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Liga Hypermotion</h6>
			  <h6>Huesca<strong> </strong></h6>
			  <h6>Real Valladolid<strong> </strong></h6>
			  <h6 class="text-center text-secondary">24-11-23 (21h)</h6>
			</div>
		  </div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Liga RFEF 2ª Div</h6>
			  <h6>Real Valladolid B<strong> 0</strong></h6>
			  <h6>Racing Villalbés<strong> 1</strong></h6>
			  <h6 class="text-center text-secondary">18-11-23</h6>
			</div>
		  </div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Liga Gonalpi</h6>
			  <h6>CD Salamanca Fem.B<strong> 0</strong></h6>
			  <h6>R.V. Simancas<strong> </strong></h6>
			  <h6 class="text-center text-secondary">26-11-23 (16h)</h6>
			</div>
		  </div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Liga Gonalpi</h6>
			  <h6>CD Parquesol B<strong> 1</strong></h6>
			  <h6>Atlético Lince<strong> 1</strong></h6>
			  <h6 class="text-center text-secondary">18-11-23</h6>
			</div>
		  </div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Fem. 3ª Federación</h6>
			  <h6>CD Parquesol<strong> 1</strong></h6>
			  <h6>CD Arratia<strong> 0</strong></h6>
			  <h6 class="text-center text-secondary">11-11-23</h6>
			</div>
		  </div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Tercera RFEF</h6>
			  <h6>Ponferradina B<strong> </strong></h6>
			  <h6>CD Laguna<strong> </strong></h6>
			  <h6 class="text-center text-secondary">25-11-23 (15:45h)</h6>
			</div>
		  </div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Tercera RFEF</h6>
			  <h6>Atl.Tordesillas<strong> </strong></h6>
			  <h6>Villaralbo<strong> </strong></h6>
			  <h6 class="text-center text-secondary">26-11-23 (12h)</h6>
			</div>
		  </div>
	  </div>
	  <div class="d-flex">
		<div class="card-2">
			<h5 class="text-center text-secondary fw-bold deporte">Balonmano</h5>
		</div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Liga Asobal</h6>
			  <h6>Fraikin Granollers<strong> </strong></h6>
			  <h6>At. Valladolid<strong> </strong></h6>
			  <h6 class="text-center text-secondary">24-11-23 (21:30h)</h6>
			</div>
		  </div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Guerreras Iberdrola</h6>
			  <h6>Aula Valladolid<strong> </strong></h6>
			  <h6>-<strong> </strong></h6>
			  <h6 class="text-center text-secondary">Parón selección</h6>
			</div>
		  </div>
	  </div>
	  <div class="d-flex">
		<div class="card-2">
			<h5 class="text-center text-secondary fw-bold deporte">Rugby</h5>
		</div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Copa Ibérica<!--División de Honor--></h6>
			  <h6>Direito Desportivo<strong> </strong></h6>
			  <h6>VRAC Entrepinares<strong> </strong></h6>
			  <h6 class="text-center text-secondary">25-11-23 (16h)</h6>
			</div>
		  </div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">División de Honor</h6>
			  <h6>El Salvador<strong> </strong></h6>
			  <h6>AMPO Ordizia<strong> </strong></h6>
			  <h6 class="text-center text-secondary">26-11-23 (17h)</h6>
			</div>
		  </div>
	  </div>
	  <div class="d-flex justify-content-center">
		<div class="card-2">
			<h5 class="text-center text-secondary fw-bold deporte">Hockey Línea</h5>
		</div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Élite Iberdrola</h6>
			  <h6>CPH Skull Almássera<strong> </strong></h6>
			  <h6>CPLV Munia Panteras<strong> </strong></h6>
			  <h6 class="text-center text-secondary">26-11-23 (13h)</h6>
			</div>
		  </div>
	  </div>
	  <div class="carousel-item">
		<div class="card">
			<div class="card-body">
			  <h6 class="text-center text-secondary"></h6>
			  <h6 class="text-center fw-bold text-primary">Élite Masculina</h6>
			  <h6>HC Playas Oropesa<strong> </strong></h6>
			  <h6>CPLV Caja Rural<strong> </strong></h6>
			  <h6 class="text-center text-secondary">25-11-23 (19h)</h6>
			</div>
		  </div>
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
</div><!--Fin Carrusel-->
<h1 class="letras_logo">El deporte de la ciudad</h1>
<h2 class="slogan">Deporte local, corazón urbano</h2>


{% endblock %}