{% extends 'sitio/base.html' %}
{% block titulo %} Eldeportedelaciudad-Noticias {% endblock %}
{% block contenido %}

<h1>Noticias Deportivas de la Ciudad</h1>

{% for noticia in noticias %}
<section class="container-lg mb-5 noticias">
<article class="bg-white shadow text_noticias">
    <img src="/img/{{ noticia.imagen }}">
    <h2 class="text-center fw-bold">{{ noticia.titulo }}</h2>
    <p class="">{{ noticia.contenido }}</p>
    <h5>{{ noticia.categoria }}</h5>
    <h6>{{ noticia.fecha_publi }}</h6>
</article>
</section>
{% endfor %}


{% endblock %}