{% extends 'playoffs/base.html' %}
{% block titulo %} PlayOffs Baloncesto {% endblock %}
{% block contenido %}
<!--<h1 class="h1_deportes">Baloncesto</h1>-->
  <!--<section class="container-lg seccion_texto">
    <div class="text_seccion">
      <h2 class="text-center">La Magia en la Cancha</h2>
      <p>En <strong>Valladolid</strong>, el baloncesto es más que un juego: es un espectáculo de habilidades, estrategias y emociones. Desde las canchas de los barrios, los equipos femeninos y masculinos, y los eventos a nivel profesional, el baloncesto se ha arraigado profundamente en la identidad deportiva de nuestra ciudad. Únete a nosotros para experimentar la emoción y la elegancia en cada tiro, pase y canasta.</p>  
    </div>
  </section>-->
  <section class="container-lg seccion_playoff mb-5">
    <diV class="fondo_basket_playoff">
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <a href="#" class="text-decoration-none"><h3 class="text_uemc">UEMC Valladolid</h3></a>
          <!--<h4 class="text-center text-white fw-bold">Liga Leb Oro</h4>-->
        </div>
        <!--<div class="col-6 text-center">
          <a href="/equipos_basket/calendario_uemc" class="text-decoration-none"><h5 class="text-white pb-2">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_basket/clasif_analisis_uemc" class="text-decoration-none"><h5 class="text-white pb-2">Clasificación y Ánalisis de Objetivos</h5></a>
        </div>-->
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <a href="#" class="text-decoration-none"><h3 class="text_ponce">Ponce Valladolid</h3></a>
          <!--<h4 class="text-center text-white fw-bold">Liga Femenina 2</h4>-->
        </div>
        <!--<div class="col-6 text-center">
          <a href="/equipos_basket/calendario_ponce" class="text-decoration-none"><h5 class="text-white pb-2">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_basket/clasif_analisis_ponce" class="text-decoration-none"><h5 class="text-white pb-2">Clasificación y Ánalisis de Objetivos</h5></a>
        </div>-->
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row">
        <div class="col-12">     
          <a href="#" class="text-decoration-none"><h3 class="text_fundacion">Fundación Aliados</h3></a>
        </div>
        <!--<div class="col-6 text-center">
          <a href="/equipos_basket/calendario_aliados" class="text-decoration-none"><h5 class="text-white pb-2">Calendario y Resultados</h5></a>
        </div>
        <div class="col-6 text-center">
          <a href="/equipos_basket/clasif_analisis_aliados" class="text-decoration-none"><h5 class="text-white pb-2">Clasificación y Ánalisis de Objetivos</h5></a>
        </div>-->
      </div>
    </div>
    </diV>
  </section>
{% endblock %}