{% extends 'playoffs/base.html' %}
{% block titulo %} PlayOffs Rugby {% endblock %}
{% block contenido %}
<section class="container-lg seccion_deportes mb-5">
  <div class="fondo_rugby_playoff">
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <a href="/playoffs_salvador/" class="text-decoration-none"><h3 class="text_uemc">CR El Salvador</h3></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row mb-4">
        <div class="col-12">
          <a href="/playoffs_vrac/" class="text-decoration-none"><h3 class="text_ponce">VRAC</h3></a>
        </div>
      </div>
    </div>
    <div class="shadow-lg">
      <div class="row">
        <div class="col-12">
          <a href="/playoffs_salvador_fem/" class="text-decoration-none"><h3 class="text_ponce">CR El Salvador Fem</h3></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}