<!doctype html>
<html lang="es">
<head>
  <title>PlayOffs Al Ascenso - UEMC Valladolid</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="fondos_playoffs">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb ms-1">
      <li class="breadcrumb-item"><a href="/" class="text-white text-decoration-none">Inicio</a></li>
      <li class="breadcrumb-item active text-dark" aria-current="page">PlayOffs UEMC Valladolid</li>
    </ol>
  </nav>
<h1 class="text-playoff">Fase Final Al  Ascenso</h1>
<section class="container-lg">
  <div class="d-flex justify-content-center">
    <div class="card tabla_playoff mb-5" style="width: 70rem;">
      <div class="card-body">
        <div class="row table-responsive">
          <div class="col-12">
            <div class="">
            <p class="text-center fw-bold text-white fs-3">PlayOff A La FinalFour</p>
            <table class="table border-secondary">
            {% for partido in datas4.cuartos.partidos %}
              <tr class="text-center">
                <td class="text-center fw-bold fs-5">{{ partido.local }}</td>
                <td class="text-center text-white fw-bold">{{ partido.resultadoA }}</td>
                <td class="text-center text-white fw-bold">{{ partido.resultadoB }}</td>
                <td class="text-center fw-bold fs-5">{{ partido.visitante }}</td>
              </tr>
            {% endfor %}
            </table>           
            <p class="text-center fw-bold text-white fs-3">Semifinales FinalFour</p>
            <table class="table border-secondary">
            {% for partido in datas4.semifinales.partidos %}
              <tr>
                <td class="text-center fw-bold fs-2">{{ partido.local }}</td>
                <td class="text-center text-white fw-bold">{{ partido.resultadoA }}</td>
                <td class="text-center text-white fw-bold">{{ partido.resultadoB }}</td>
                <td class="text-center fw-bold fs-2">{{ partido.visitante }}</td>
              </tr>
            {% endfor %}
            </table>
            <p class="text-center fw-bold text-white fs-3">Final FinalFour</p>
            <table class="table border-secondary">
            {% for partido in datas4.final.partidos %}
              <tr>
                <td>{{ partido.local }}</td>
                <td>{{ partido.resultadoA }}</td>
                <td>{{ partido.resultadoB }}</td>
                <td>{{ partido.visitante }}</td>
              </tr>
            {% endfor %}
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script> 
  <!--<script src="/static/js/script.js"></script>-->
</body>
</html>