<!doctype html>
<html lang="es">
<head>
  <title>Calendario - CPLV Caja Rural</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="bg-white calend_hockey">
  <div class="sticky-top">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ms-1">
          <li class="breadcrumb-item"><a href="/seccion/hockey" class="text-white text-decoration-none">Sección</a></li>
          <li class="breadcrumb-item active text-dark" aria-current="page">Calendario CPLV Caja Rural</li>
        </ol>
    </nav>
  </div>
    <section class="container-lg mb-5">
      <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">	
              <div class="carousel-item active"><!--Tabla Calendario CPLV Caja Rural-->
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos_caja" style="width: 80rem;">
                    <div class="card-body">
                      <div class="table-responsive">
                        <h3 class="text-center text-white fw-bold my-3">Calendario</h3>
                        <table class="table table-bordered tabla_equipos tabla_caja">
                            <thead>
                                <tr class="text-center text-white">
                                  <th></th>
                                  <th colspan="2">Jornadas</th>
                                  <th colspan="4">Resultados</th>
                                  <!--<th colspan="2">Partidos</th>-->
                                </tr>
                                <tr class="text-center text-white">
                                  <th scope="col">Equipos</th>
                                  <th>Ida</th>
                                  <th>Vlt</th>
                                  <th colspan="2">Ida</th>
                                  <th colspan="2">Vlt</th>
                                  <th>Puntos</th>
                                  <!--<th>PP</th>-->
                                  <th>Average</th>
                                </tr>
                            </thead>
                              <tbody>
                                {% for equipo, datos_equipo in tabla_partidos_caja.items() %}
                                  <tr class="text-center">
                                    <th class="text-white">{{ equipo }}</th>
                                    <td class="jorn_ida fw-bold">
                                      {% if datos_equipo.get('primer_enfrentamiento') %}
                                        J-{{ datos_equipo['primer_enfrentamiento']|regex_replace('Jornada','') }}
                                        {% if datos_equipo['jornadas'][datos_equipo['primer_enfrentamiento']]['rol_caja'] %}
                                          ({{ datos_equipo['jornadas'][datos_equipo['primer_enfrentamiento']]['rol_caja'] }})
                                        {% endif %}
                                      {% endif %}
                                    </td>
                                    <td class="jorn_vuelta fw-bold">
                                      {% if datos_equipo.get('segundo_enfrentamiento') %}
                                        J-{{ datos_equipo['segundo_enfrentamiento']|regex_replace('Jornada','') }}
                                        {% if datos_equipo['jornadas'][datos_equipo['segundo_enfrentamiento']]['rol_caja'] %}
                                          ({{ datos_equipo['jornadas'][datos_equipo['segundo_enfrentamiento']]['rol_caja'] }})
                                        {% endif %}
                                      {% endif %}
                                    </td>
                                    <td class="resultadoA fw-bold">{{ tabla_partidos_caja[equipo]['resultadoA'] }}</td>
                                    <td class="resultadoB fw-bold">{{ tabla_partidos_caja[equipo]['resultadoB'] }}</td>
                                    <td class="resultadoAA fw-bold">{{ tabla_partidos_caja[equipo]['resultadoAA'] }}</td>
                                    <td class="resultadoBB fw-bold">{{ tabla_partidos_caja[equipo]['resultadoBB'] }}</td>
                                    <td class="part1"></td>
                                    <td class="average"></td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item"><!-- Resultados temporada 23/24 -->
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos_caja" style="width: 80rem;">
                    <div class="card-body">
                      <div class="container-fluid">
                        <div class="row">
                          {% for goles in nuevos_datos_caja %}
                          <div class="col-lg-4">
                            <div class="card card_calendario mb-3">
                              <div class="table-responsive">
                                <table class="table table-bordered card_calendario tabla_jornadas">
                                  <thead class="fondo_jornadas">
                                    <tr class="text-center">
                                      <td colspan="5" class="text-center text-white fw-bold">{{ goles.nombre }}</td>
                                    </tr>
                                  </thead>
                                  <tbody style="display:none">
                                    {% for partido in goles.partidos %}
                                    <tr class="text-center">
                                      <td class="text-center text-white">{{ partido.fecha }} {{ partido.hora }}</td>
                                      <td class="text-center fw-bold">{{ partido.local }}</td>
                                      <td class="text-center text-white">{{ partido.resultadoA }}</td>
                                      <td class="text-center text-white">{{ partido.resultadoB }}</td>
                                      <td class="text-center fw-bold">{{ partido.visitante }}</td>
                                    </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                                <div class="d-flex ms-1 my-1">
                                  <a href="#" onclick="toggleTabla(this, `{{ goles.nombre }}` ) " class="text-decoration-none ps-3 text-white">Ver</a>
                                </div>
                              </div> 
                            </div>
                          </div>
                        {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
      </div>
    </section>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script> 
<script src="/static/js/script.js"></script>
<script src="/static/js/leer_mas.js"></script>
<script> 
  document.addEventListener('DOMContentLoaded', function() {
    // Seleccionar todas las filas de la tabla
    var filas = document.querySelectorAll('.tabla_caja tbody tr');
    // Iterar sobre cada fila
    filas.forEach(function(fila) {
        // Obtener el nombre del equipo de la fila actual
        var equipo = fila.querySelector('th').textContent.trim();
        console.log(equipo)
        // Obtener la jornada y determinar si el Promesas juega en casa o como visitante
        var jornadaElement = fila.querySelector('.jorn_ida');
        var esLocal = false; // Por defecto, asumimos que el Promesas juega como visitante
        if (jornadaElement) {
            var jornada = jornadaElement.textContent.trim();
            if (jornada.includes('C')) {
                esLocal = true;
            }
        }
        // Obtener los valores de los resultados de la fila
        var resultadoA = parseInt(fila.querySelector('.resultadoA').textContent);
        console.log(resultadoA)
        var resultadoB = parseInt(fila.querySelector('.resultadoB').textContent);
        console.log(resultadoB)
        var resultadoAA = parseInt(fila.querySelector('.resultadoAA').textContent);
        console.log(resultadoAA)
        var resultadoBB = parseInt(fila.querySelector('.resultadoBB').textContent);
        console.log(resultadoBB)
        // Comparar los resultados y actualizar el estilo de las celdas correspondientes
        var part1 = fila.querySelector('.part1');
        var average = fila.querySelector('.average');        
        if (esLocal) {
            if (resultadoA > resultadoB) {
                part1.textContent = '3';
                part1.style.color = 'deepskyblue';
            }else if (resultadoA === resultadoB) {
                part1.textContent = '1';
                part1.style.color = 'deepskyblue';
            }else if (resultadoA < resultadoB) {
                part1.textContent = '0';
                part1.style.color = 'deepskyblue';
            } else if (resultadoAA > resultadoBB) {
                part1.textContent = '3';
                part1.style.color = 'deepskyblue';
            } else if (resultadoAA === resultadoBB){
                part1.textContent = '1';
                part1.style.color = 'deepskyblue';
            } else if (resultadoAA < resultadoBB) {
                part1.textContent = '0';
                part1.style.color = 'deepskyblue';
            }
        } else {
            if (resultadoB > resultadoA) {
                part1.textContent = '3';
                part1.style.color = 'deepskyblue';
            } else if (resultadoB === resultadoA){
                part1.textContent = '1';
                part1.style.color = 'deepskyblue';
            } else if (resultadoB < resultadoA) {
                part1.textContent = '0';
                part1.style.color = 'deepskyblue';
            } else if(resultadoBB > resultadoAA) {
                part1.textContent = '3';
                part1.style.color = 'deepskyblue';
            } else if (resultadoBB === resultadoAA){
                part1.textContent = '1';
                part1.style.color = 'deepskyblue';
            } else if (resultadoBB < resultadoAA) {
                part1.textContent = '0';
                part1.style.color = 'deepskyblue';
            }
          }
          // Verificar si se tienen los resultados del segundo enfrentamiento
          if (!isNaN(resultadoAA) && !isNaN(resultadoBB)) {
          // Calcular el puntaje del segundo enfrentamiento
            var puntajeSegundoEnfrentamiento = 0;
          // Determinar si el equipo juega como local o visitante en el segundo enfrentamiento
            if (resultadoAA > resultadoBB) {
          // "AA" gana como local
              if (!esLocal) {
                puntajeSegundoEnfrentamiento = 3;
              }
            } else if (resultadoAA < resultadoBB) {
          // "AA" gana como visitante
              if (esLocal) {
                puntajeSegundoEnfrentamiento = 3;
              }
          } else {
          // Empate en el segundo enfrentamiento
            puntajeSegundoEnfrentamiento = 1;
          }
          // Actualizar el puntaje total sumando el del segundo enfrentamiento
        if (part1.textContent === '-') {
        part1.textContent = puntajeSegundoEnfrentamiento.toString();
        } else {
        part1.textContent = (parseInt(part1.textContent) + puntajeSegundoEnfrentamiento).toString();
        }
      }
    });
  // Iterar sobre cada fila
  filas.forEach(function(fila) {
    // Obtener los valores de resultadoA y resultadoB de la fila actual
    var resultadoA = parseInt(fila.querySelector('.resultadoA').textContent);
    var resultadoB = parseInt(fila.querySelector('.resultadoB').textContent);
    // Obtener los valores de resultadoAA y resultadoBB de la fila actual para la jornada de vuelta
    var resultadoAA = parseInt(fila.querySelector('.resultadoAA').textContent);
    var resultadoBB = parseInt(fila.querySelector('.resultadoBB').textContent);
    // Obtener la celda 'average'
    var average = fila.querySelector('.average');        
    // Calcular la diferencia de goles dependiendo si resultadoA juega como local o visitante
    var diferenciaGolesIda;
    if (fila.querySelector('.jorn_ida').textContent.includes('C')) {
        // resultadoA juega en casa
        diferenciaGolesIda = resultadoA - resultadoB;
    } else {
        // resultadoA juega como visitante
        diferenciaGolesIda = resultadoB - resultadoA;
    }
    // Calcular la diferencia de goles para la jornada de vuelta
    var diferenciaGolesVuelta;
    if (!isNaN(resultadoAA) && !isNaN(resultadoBB)) {
        if (fila.querySelector('.jorn_ida').textContent.includes('C')) {
            // resultadoAA juega como visitante en la jornada de vuelta
            diferenciaGolesVuelta = resultadoBB - resultadoAA;
        } else {
            // resultadoAA juega en casa en la jornada de vuelta
            diferenciaGolesVuelta = resultadoAA - resultadoBB;
        }
    } else {
        diferenciaGolesVuelta = 0;
    }
    // Calcular el average total sumando las diferencias de goles de ambas jornadas
    var averageTotal = diferenciaGolesIda + diferenciaGolesVuelta;
    // Asignar el valor del average total a la celda 'average'
    average.textContent = averageTotal;
    // Determinar el color de la celda 'average' según la diferencia de goles
    if (averageTotal > 0) {
        average.style.color = 'lime'; // Equipo A ganó
    } else if (averageTotal < 0) {
        average.style.color = 'darkred'; // Equipo A perdió
    } else {
        average.style.color = 'deepskyblue'; // Empate
    }
  });
});
  </script>
</body>
</html>