.calend_basket{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/static/img/cancha_basket.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tabla_equipos{
    background-color: transparent;
    backdrop-filter: blur(12px);
    border: 1px solid #ad6331;
}


