/*html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
  }*/
footer{
    bottom: 0;
    height: 85px;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    /*background-color: #adbcd3;*/
    background-color: transparent;
    backdrop-filter: blur(8px);
    box-shadow: 0px -12px 12px rgba(21, 21, 22, 0.18);
    margin-top: 8%;    
}
.logo-footer{
  max-width: 150px;
}
@media (max-width: 576px){
  .footer-seccion .logo-footer{
    max-width: 60px;
  }
}

@media (max-width: 768px){
  footer{
    height: 30px;
    font-size: 0.80em;
  }
}
.copa_uemc{
  margin-bottom: 22%;
}
.copa_caja{
  margin-bottom: 10%;
}
.copa_panteras{
  margin-bottom: 10%;
}