h1{
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
    color: red;
}
.noticias{
    margin-top: 2%;
    font-family: 'Caveat', cursive;
    text-align: start;
    background-color: white;
    font-size: 1.5em;
    padding: 1.5%;
    width: 60%;
}
.text_noticias{
    padding: 3%;
}
.publicacion{
    margin-top: 2%;
    text-align: start;
    background-color: white;
    font-size: 1.5em;
    padding: 1.5%;
    width: 50%;
}