.h1_deportes{
    color: #0d6efd;
}
.seccion_texto{
    margin-top: 0%;
    font-family: 'Caveat', cursive;
    text-align: start;
    font-size: 1.5em;
    padding: 0.5%; 
}
.seccion_deportes{
    margin-top: 1%;
    font-family: 'Caveat', cursive;
    text-align: start;
    background-color: white;
    font-size: 1.75em;
    padding: 1.5%;
}
.text_seccion{
    padding: 1%;
}
.fondo_basket{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/img/basket.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
@media screen and (max-width: 992px){
    .fondo_basket{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/img/basket.png');
    }
}
@media screen and (max-width: 768px){
    .fondo_basket{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/img/basket.png');
    }
}
@media screen and (max-width: 576px){
    .fondo_basket{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/img/basket.png');
    }
}
@media screen and (max-width: 320px){
    .fondo_basket{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/img/basket.png');
    }
}
.text_uemc{
    text-align: center;
    font-size: 3.5em;
    color: white;
    font-weight: bold;
}
.text_ponce{
    text-align: center;
    font-size: 3.5em;
    color: white;
    font-weight: bold;
}
.text_fundacion{
    text-align: center;
    font-size: 3.5em;
    color: white;
    font-weight: bold;
}
.fondo_balonmano{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/static/img/balonmano.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.fondo_futbol{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/static/img/futbol.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.fondo_hockey{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/static/img/hockey3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.fondo_rugby{
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/img/rugby2.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    overflow: hidden;
}