.table-responsive {
    overflow-x: auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
/* BALONCESTO */
#form_partidos_uemc{
    display: none;
}
#form_partidos_ponce{
    display: none;
}
#form_partidos_aliados{
    display: none;
}
/* FÚTBOL */
#form_partidos_valladolid{
    display: none;
}
#form_partidos_promesas{
    display: none;
}
#form_partidos_simancas{
    display: none;
}
#form_partidos_parquesol{
    display: none;
}
/* BALONMANO */
#form_partidos_aula{
    display: none;
}
#form_partidos_recoletas{
    display: none;
}
/* RUGBY */
#form_partidos_salvador{
    display: none;
}