<!doctype html>
<html lang="es">
<head>
  <title>{% block titulo %}  {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body>
    <nav class="nav justify-content-start mb-3">
      <a class="nav-link" href="#"></a>
      <a class="nav-link" href="/admin/crear_noticia">Crear Noticias</a>
      <a class="nav-link" href="/admin/publi_noticia">Publicar Noticias</a>
      <a class="nav-link" href="/admin/crear_resultados">Crear Resultados</a>
      <!--<a class="nav-link" href="/admin/pub_marcadores">Marcadores</a>-->
      <a class="nav-link" href="/admin/pub_marcadores">Resultados</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Partidos</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="/admin/calendario_uemc">UEMC Valladolid</a>
            <a class="dropdown-item" href="#">Ponce Valladolid</a>
            <a class="dropdown-item" href="">Fundación Aliados</a>
            <a class="dropdown-item" href="#">Real Valladolid</a>
            <a class="dropdown-item" href="#">Promesas</a>
            <a class="dropdown-item" href="">V Simancas</a>
            <a class="dropdown-item" href="#">CD Parquesol</a>
            <a class="dropdown-item" href="">CD Parquesol B</a>
            <a class="dropdown-item" href="#">CD San Pio X</a>
            <a class="dropdown-item" href="#">CD San Jose</a>
            <a class="dropdown-item" href="#">Aula Valladolid</a>
            <a class="dropdown-item" href="#">Atlético Valladolid</a>
            <a class="dropdown-item" href="">VRAC</a>
            <a class="dropdown-item" href="#">CR El Salvador</a>
            <a class="dropdown-item" href="">VRAC Fem.</a>
            <a class="dropdown-item" href="#">Caja Rural CPLV</a>
            <a class="dropdown-item" href="#">CPLV Munia Panteras</a>
          </div>
      </li>
      <a class="nav-link" href="#">Cerrar Sesión</a>
    </nav>
    {% block contenido %}

    {% endblock %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="/static/js/script.js"></script>
</body>
</html>