{% extends 'admin/base.html' %}
{% block titulo %} Admin - Crear Noticia {% endblock %}
{% block contenido %}

<section class="container-lg">
    <h1 class="text-center bg-danger text-white my-5">Creación de Noticias</h1>
    <div class="">
        <form method="" action="" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
          <div class="col-md-8">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required>
          </div>
          <div class="col-md-8">
            <label for="contenido">Contenido</label>
            <textarea type="text" class="form-control" id="contenido" name="contenido" rows="4" cols="50" required></textarea>
          </div>
          <div class="col-md-8">
            <label for="categoria">Categoría</label>
              <input type="text" class="form-control" id="categoria" name="categoria" required>
          </div>
          <div class="col-md-6">
            <label for="fecha_publi">Fecha Publicación</label>
            <input type="text" class="form-control" id="fecha_publi" required>
          </div>
          <div class="col-md-3">
            <label for="imagen">Imágen</label>
            <input type="file" class="form-control" id="imagen" name="imagen" required>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
          </div>
        </form>
    </div>
</section>

{% endblock %}