<!doctype html>
<html lang="es">
<head>
  <title>PlayOff - Aula Valladolid</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="body_admin">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb ms-1">
      <li class="breadcrumb-item"><a href="/admin/crear_noticia" class="text-white text-decoration-none">Inicio</a></li>
      <li class="breadcrumb-item active text-dark" aria-current="page">PlayOff Aula Valladolid</li>
    </ol>
  </nav>
  <header>
    <h1 class="text-center mb-5">PlayOff Liga Guerreras Iberdrola 23/24</h1>
  </header>
    <section class="container-lg">
      <!-- Formulario para los resultados de los partidos -->
      <div class="container-lg d-flex justify-content-center">
        <form id="form_playoff_aula" method="POST" action="/admin/crear_playoff_aula" class="row mb-3">
            <!-- Selección de etapa del torneo -->
            <label for="eliminatoria">Etapa del Torneo:</label>
            <input type="hidden" class="form-control" id="num_partidos" name="num_partidos" value="0">
            <select id="eliminatoria" name="eliminatoria">
              <option value="cuartos">Cuartos de Final</option>
              <option value="semifinales">Semifinales</option>
              <option value="final">Final</option>
            </select>
            <div id="partidosContainer" class="container-lg col-lg-12"></div>
            <!-- Formulario creado con Javascript -->
            </div>
            <!-- Botón para agregar más partidos -->
            <!--<button type="submit" id="agregarPartido" class="btn btn-secondary">Agregar Partido</button>-->
            <!-- Botones de acción -->
            <div class="col-md-12 mt-2">
                <button class="btn btn-primary" type="submit">Guardar Jornada</button>
                <button class="btn btn-danger" type="button">Cerrar</button>
            </div>    
        </form>
    </div>
    </section>  
    <div class="tournament">
      <h4 class="text-center">Cuartos de Final</h4>
      <table class="table border-secondary">
        <tbody>
          {% for enfrentamiento in datas7.cuartos.partidos %}
          <tr>
            <td>{{ enfrentamiento.fecha }}</td>
            <td>{{ enfrentamiento.hora }}</td>
            <td>{{ enfrentamiento.local }}</td>
            <td>{{ enfrentamiento.resultadoA }}</td>
            <td>{{ enfrentamiento.resultadoB }}</td>
            <td>{{ enfrentamiento.visitante }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="submit" id="btn-modificar{{ datas7.cuartos.id }}" class="bg-info text-white border-0 rounded py-1 px-2 me-2" data-bs-toggle="modal" data-bs-target="#modal{{ datas7.cuartos.id }}">Modificar</button>
      <h4 class="text-center">Semifinales</h4>
      <table class="table border-secondary">
        <tbody>
          {% for enfrentamiento in datas7.semifinales.partidos %}
          <tr>
            <td>{{ enfrentamiento.fecha }}</td>
            <td>{{ enfrentamiento.hora }}</td>
            <td>{{ enfrentamiento.local }}</td>
            <td>{{ enfrentamiento.resultadoA }}</td>
            <td>{{ enfrentamiento.resultadoB }}</td>
            <td>{{ enfrentamiento.visitante }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="submit" id="btn-modificar{{ datas7.semifinales.id }}" class="bg-info text-white border-0 rounded py-1 px-2 me-2" data-bs-toggle="modal" data-bs-target="#modal{{ datas7.semifinales.id }}">Modificar</button>
      <h4 class="text-center">Final</h4>
      <table class="table border-secondary">
        <tbody>
          {% for enfrentamiento in datas7.final.partidos %}
          <tr>
            <td>{{ enfrentamiento.fecha }}</td>
            <td>{{ enfrentamiento.hora }}</td>
            <td>{{ enfrentamiento.local }}</td>
            <td>{{ enfrentamiento.resultadoA }}</td>
            <td>{{ enfrentamiento.resultadoB }}</td>
            <td>{{ enfrentamiento.visitante }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="submit" id="btn-modificar{{ datas7.final.id }}" class="bg-info text-white border-0 rounded py-1 px-2 me-2" data-bs-toggle="modal" data-bs-target="#modal{{ datas7.final.id }}">Modificar</button>
    </div>
    <!--Fin Carrusel-->
    <!-- Creación del Modal -->
    <div class="modal fade" id="modal{{ datas7.cuartos.id }}" tabindex="-1" role="dialog" aria-labelledby="modificarModalLabel" aria-hidden="true"> <!-- Modal para Cuartos -->
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Cuartos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/modificar_eliminatoria_aula/{{ datas7.cuartos.id }}">
                      {% for partido in datas7.cuartos.partidos %}
                        <!-- Campos de entrada para editar el partido -->
                        <div class="mb-3">
                          <label for="fecha{{ loop.index0 }}">Fecha:</label>
                          <input type="text" class="form-control" id="fecha{{ loop.index0 }}" name="fecha{{ loop.index0 }}" value="{{ partido.fecha }}">
                        </div>
                        <div class="mb-3">
                          <label for="hora{{ loop.index0 }}">Hora:</label>
                          <input type="time" class="form-control" id="hora{{ loop.index0 }}" name="hora{{ loop.index0 }}" value="{{ partido.hora }}">
                        </div>
                        <div class="mb-3">
                            <label for="local{{ loop.index0 }}">Local:</label>
                            <input type="text" class="form-control" id="local{{ loop.index0 }}" name="local{{ loop.index0 }}" value="{{ partido.local }}">
                        </div>
                        <div class="mb-3">
                            <label for="resultadoA{{ loop.index0 }}">Resultado A:</label>
                            <input type="text" class="form-control" id="resultadoA{{ loop.index0 }}" name="resultadoA{{ loop.index0 }}" value="{{ partido.resultadoA }}">
                        </div>
                        <div class="mb-3">
                            <label for="resultadoB{{ loop.index0 }}">Resultado B:</label>
                            <input type="text" class="form-control" id="resultadoB{{ loop.index0 }}" name="resultadoB{{ loop.index0 }}" value="{{ partido.resultadoB }}">
                        </div>
                        <div class="mb-3">
                            <label for="visitante{{ loop.index0 }}">Visitante:</label>
                            <input type="text" class="form-control" id="visitante{{ loop.index0 }}" name="visitante{{ loop.index0 }}" value="{{ partido.visitante }}">
                        </div> 
                        {% endfor %}
                        <!-- Botón de enviar para enviar los datos modificados -->
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal{{ datas7.semifinales.id }}" tabindex="-1" role="dialog" aria-labelledby="modificarModalLabel" aria-hidden="true"> <!-- Modal para Semifinales -->
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Editar Semifinales</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {% for partido in datas7.semifinales.partidos %}
                  <form method="POST" action="/modificar_eliminatoria_aula/{{ datas7.semifinales.id }}">
                      <!-- Campos de entrada para editar el partido -->
                      <div class="mb-3">
                        <label for="fecha{{ loop.index0 }}">Fecha:</label>
                        <input type="text" class="form-control" id="fecha{{ loop.index0 }}" name="fecha{{ loop.index0 }}" value="{{ partido.fecha }}">
                      </div>
                      <div class="mb-3">
                        <label for="hora{{ loop.index0 }}">Hora:</label>
                        <input type="time" class="form-control" id="hora{{ loop.index0 }}" name="hora{{ loop.index0 }}" value="{{ partido.hora }}">
                      </div>
                      <div class="mb-3">
                          <label for="local{{ loop.index0 }}">Local:</label>
                          <input type="text" class="form-control" id="local{{ loop.index0 }}" name="local{{ loop.index0 }}" value="{{ partido.local }}">
                      </div>
                      <div class="mb-3">
                          <label for="resultadoA{{ loop.index0 }}">Resultado A:</label>
                          <input type="text" class="form-control" id="resultadoA{{ loop.index0 }}" name="resultadoA{{ loop.index0 }}" value="{{ partido.resultadoA }}">
                      </div>
                      <div class="mb-3">
                          <label for="resultadoB{{ loop.index0 }}">Resultado B:</label>
                          <input type="text" class="form-control" id="resultadoB{{ loop.index0 }}" name="resultadoB{{ loop.index0 }}" value="{{ partido.resultadoB }}">
                      </div>
                      <div class="mb-3">
                          <label for="visitante{{ loop.index0 }}">Visitante:</label>
                          <input type="text" class="form-control" id="visitante{{ loop.index0 }}" name="visitante{{ loop.index0 }}" value="{{ partido.visitante }}">
                      </div>
                  </form>
                  {% endfor %}
                  <!-- Botón de enviar para enviar los datos modificados -->
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="modal{{ datas7.final.id }}" tabindex="-1" role="dialog" aria-labelledby="modificarModalLabel" aria-hidden="true"> <!-- Modal para la Final -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Final</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% for partido in datas7.final.partidos %}
                <form method="POST" action="/modificar_eliminatoria_aula/{{ datas7.final.id }}">
                    <!-- Campos de entrada para editar el partido -->
                    <div class="mb-3">
                      <label for="fecha{{ loop.index0 }}">Fecha:</label>
                      <input type="text" class="form-control" id="fecha{{ loop.index0 }}" name="fecha{{ loop.index0 }}" value="{{ partido.fecha }}">
                    </div>
                    <div class="mb-3">
                      <label for="hora{{ loop.index0 }}">Hora:</label>
                      <input type="time" class="form-control" id="hora{{ loop.index0 }}" name="hora{{ loop.index0 }}" value="{{ partido.hora }}">
                    </div>
                    <div class="mb-3">
                        <label for="local{{ loop.index0 }}">Local:</label>
                        <input type="text" class="form-control" id="local{{ loop.index0 }}" name="local{{ loop.index0 }}" value="{{ partido.local }}">
                    </div>
                    <div class="mb-3">
                        <label for="resultadoA{{ loop.index0 }}">Resultado A:</label>
                        <input type="text" class="form-control" id="resultadoA{{ loop.index0 }}" name="resultadoA{{ loop.index0 }}" value="{{ partido.resultadoA }}">
                    </div>
                    <div class="mb-3">
                        <label for="resultadoB{{ loop.index0 }}">Resultado B:</label>
                        <input type="text" class="form-control" id="resultadoB{{ loop.index0 }}" name="resultadoB{{ loop.index0 }}" value="{{ partido.resultadoB }}">
                    </div>
                    <div class="mb-3">
                        <label for="visitante{{ loop.index0 }}">Visitante:</label>
                        <input type="text" class="form-control" id="visitante{{ loop.index0 }}" name="visitante{{ loop.index0 }}" value="{{ partido.visitante }}">
                    </div>
                </form>
                {% endfor %}
                <!-- Botón de enviar para enviar los datos modificados -->
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Obtener el contenedor de los partidos
        var partidosContainer = document.getElementById("partidosContainer");
        // Obtener el campo de selección de etapa del torneo
        var selectEliminatoria = document.getElementById("eliminatoria");
        // Agregar un evento de cambio al campo de selección
        selectEliminatoria.addEventListener("change", function() {
            // Limpiar el contenedor de los partidos
            partidosContainer.innerHTML = "";
            // Obtener la opción seleccionada
            var selectedOption = selectEliminatoria.value;
            // Determinar el número de partidos según la etapa seleccionada
            var numPartidos;
            if (selectedOption === "cuartos") {
                numPartidos = 8;
            } else if (selectedOption === "semifinales") {
                numPartidos = 4;
            } else if (selectedOption === "final") {
                numPartidos = 2;
            }
            document.getElementById("num_partidos").value = numPartidos;
            // Crear los campos de entrada para cada partido
            for (var i = 0; i < numPartidos; i++) {
                // Crear un div para el partido
                var partidoDiv = document.createElement("div");
                partidoDiv.className = "row partido";
                // Crear los campos de entrada para el partido
                var html = `
                    <div class="col-md-5">
                        <label for="fecha${i}"></label>
                        <input type="text" class="form-control" id="fecha${i}" name="fecha${i}">
                    </div>
                    <div class="col-md-5">
                        <label for="hora${i}"></label>
                        <input type="time" class="form-control" id="hora${i}" name="hora${i}">
                    </div>
                    <div class="col-md-4">
                        <label for="local${i}">Local</label>
                        <input type="text" class="form-control" id="local${i}" name="local${i}">
                    </div>
                    <div class="col-md-2">
                        <label for="resultadoA${i}"></label>
                        <input type="text" class="form-control" id="resultadoA${i}" name="resultadoA${i}">
                    </div>
                    <div class="col-md-2">
                        <label for="resultadoB${i}"></label>
                        <input type="text" class="form-control" id="resultadoB${i}" name="resultadoB${i}">
                    </div>
                    <div class="col-md-4">
                        <label for="visitante${i}">Visitante</label>
                        <input type="text" class="form-control" id="visitante${i}" name="visitante${i}">
                    </div>
                `;
                // Agregar los campos de entrada al div del partido
                partidoDiv.innerHTML = html;
                // Agregar el div del partido al contenedor de partidos
                partidosContainer.appendChild(partidoDiv);
            }
        });
    });
</script>
</body>
</html>