{% extends 'admin/base.html' %}
{% block titulo %} Crear Marcadores {% endblock %}
{% block contenido %}
<!--<div class="d-flex justify-content-center mb-4">
<button onclick="mostrarFormulario()" class="btn btn-success text-center fs-3">Crear Resultados</button>
</div>
Creación del formulario para la creación del post 
<div class="container" id="form_resultados_admin">
    <form method="POST" action="/admin/crear_resultados" enctype="multipart/form-data" class="">
      <div class="col-md-7">
        <label for="seccion">Sección</label>
        <input type="text" class="form-control" id="seccion" name="seccion" required>
      </div>
      <div class="col-md-7">
        <label for="liga">Liga</label>
        <input type="text" class="form-control" id="liga" name="liga" required></input>
      </div>
      <div class="col-md-6">
        <label for="equipoA">Equipo Local</label>
        <input type="text" class="form-control" id="equipoA" name="equipoA" required>
      </div>
      <div class="col-md-1">
        <label for="resultado1">Resultados</label>
        <input type="text" class="form-control" id="resultado1" name="resultado1" required>
      </div>
      <div class="col-md-6">
        <label for="equipoB">Equipo Visitante</label>
        <input type="text" class="form-control" id="equipoB" name="equipoB" required>
      </div>
      <div class="col-md-1">
        <label for="resultado2">Resultados</label>
        <input type="text" class="form-control" id="resultado2" name="resultado2" required>
      </div>
      <div class="col-md-6">
        <label for="fecha_parti">Fecha Partido</label>
        <input type="text" class="form-control" id="fecha_parti" name="fecha_parti" required>
      </div>
      <div class="col-md-4">
        <label for="imagen">Imágen</label>
        <input type="file" class="form-control" id="imagen" name="imagen" required>
      </div>
      <div class="col-md-12 mt-2">
        <button class="btn btn-primary" type="submit">Resultados</button>
      </div>
    </form>
</div>-->
<!-- Fin del formulario del post -->
<!-- Creación la visibilidad del post creado -->
    <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
      
        <div class="carousel-inner">
          {% for partidos in resultados_publicados %}
            <div class="d-flex">
                <div class="card-2">
                    <h5 class="text-center text-secondary fw-bold deporte">{{ partidos.seccion }}</h5>
                </div>
            </div>	
          <div class="carousel-item">
            <div class="card">
                <div class="card-body">
                  <h6 class="text-center text-secondary"></h6>
                  <h6 class="text-center fw-bold text-primary">{{ partidos.liga }}</h6>
                  <h6>{{ partidos.equipoA }}<strong> {{ partidos.resultado1 }}</strong></h6>
                  <h6>{{ partidos.equipoB }}<strong> {{ partidos.resultado2 }}</strong></h6>
                  <h6 class="text-center text-secondary">{{ partidos.fecha_parti }}</h6>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-1">
                <button type="submit" class="bg-success text-white border-0 py-1 px-2">Publicar</button>
                <button type="submit" id="btn-modificar{{ partidos.id }}" class="bg-info text-white border-0 py-1 px-2" data-bs-toggle="modal" data-bs-target="#modal{{ partidos.id }}">Modificar</button>
                <button type="submit" class="bg-danger text-white border-0 py-1 px-2">Eliminar</button>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Modal para la editación del post -->
    {% for partidos in resultados_publicados %}
    <div class="modal fade" id="modal{{ partidos.id }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title text-secondary fw-bold fs-3" id=""></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{{ url_for('modificar_marcador', id=partidos.id) }}" method="POST" class="row">
                <div class="col-md-8 mb-2"> 
                <label for="seccion">Sección</label>
                <input type="text" name="seccion" id="seccion" class="form-control" value="{{ partidos.seccion }}">
                </div>
                <div class="col-md-8 mb-2">
                <label for="liga">Liga</label>
                <input name="liga" id="liga" class="form-control" value="{{ partidos.liga }}">
                </div>
                <div class="col-md-7 mb-2">
                <label for="equipoA">Equipo A</label>
                <input type="text" name="equipoA" id="equipoA" class="form-control" value="{{ partidos.equipoA }}">
                </div>
                <div class="col-md-2 mb-2"> 
                <label for="resultado1"></label>
                <input type="text" name="resultado1" id="resultado1" class="form-control" value="{{ partidos.resultado1 }}">
                </div>
                <div class="col-md-7 mb-2">
                <label for="equipoB">Equipo B</label>
                <input type="text" name="equipoB" id="equipoB" class="form-control" value="{{ partidos.equipoB }}">
                </div>
                <div class="col-md-2 mb-2">
                <label for="resultado2" class="form-label"></label>
                <input type="text" name="resultado2" id="resultado2" class="form-control" value="{{ partidos.resultado2 }}">
                </div>
                <div class="col-md-6 mb-2">
                <label for="fecha_parti">Fecha partido</label>
                <input type="text" name="fecha_parti" id="fecha_parti" class="form-control" value="{{ partidos.fecha_parti}}">
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-success mt-3">Actualizar</button>
                  </div>
                  <!--<div class="col-6">
                    <button type="button" class="btn btn-danger mt-3" data-bs-dismiss="modal">Cerrar</button>
                  </div>-->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
{% endblock %}