{% extends 'admin/base.html' %}
{% block titulo %} Admin - Publicar Noticia {% endblock %}
{% block contenido %}
<h1 class="text-center">Publicación de las noticias</h1>
{% for publicado in noticias_publicadas %}
<section class="container-lg mb-5 publi_noticias">
    <div class="">
    <article class="bg-white shadow text_publi">
      <div class="img_noticia" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/static/imagenes/{{ publicado.imagen }}');">
      <!--<img src="/static/imagenes/{{ publicado.imagen }}" alt="{{ publicado.categoria }}">-->
      <div class="content">
      <h2 class="text-center fw-bold">{{ publicado.titulo }}</h2>
      <p class="">{{ publicado.contenido }}</p>
      <h5>{{ publicado.categoria }}</h5>
      <h6>{{ publicado.fecha_publi }}</h6>
      </div>
      </div>
    </article>
    <div class="row mt-3">
        <div class="col-md-2">
        <form action="{{ url_for('publicar_noticia', id=publicado.id) }}" method="POST">
        <button type="submit" class="bg-success text-white border-0 px-2">Publicar</button>
        </form>
        </div>
        <div class="col-md-2">
        <button type="submit" id="btn-modificar{{ publicado.id }}" class="bg-info text-white border-0 px-2" data-bs-toggle="modal" data-bs-target="#modal{{ publicado.id }}">Modificar</button>
        </div>
        <div class="col-md-2">
        <button type="submit" class="bg-danger text-white border-0 px-2">Eliminar</button>
        </div>
    </div>
    </div>
</section>
{% endfor %}
 <!-- Modal para la editación del post -->
 {% for publicado in noticias_publicadas %}
 <div class="modal fade" id="modal{{ publicado.id }}" tabindex="-1" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h1 class="modal-title text-secondary fw-bold fs-3" id=""></h1>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <form action="{{ url_for('modificar_noticia', id=publicado.id) }}" method="POST" class="row">
             <div class="col-md-12 mb-2"> 
             <label for="titulo">Título</label>
             <input type="text" name="titulo" id="titulo" class="form-control" value="{{ publicado.titulo }}">
             </div>
             <div class="col-md-12 mb-2">
             <label for="contenido">Contenido</label>
             <textarea type="text" name="contenido" id="contenido" class="form-control" rows="5" cols="75" value="{{ publicado.contenido }}">{{ publicado.contenido }}</textarea>
             </div>
             <div class="col-md-4 mb-2">
             <label for="categoria">Categoría</label>
             <input type="text" name="categoria" id="categoria" class="form-control" value="{{ publicado.categoria }}">
             </div>
             <div class="col-md-4 mb-2"> 
             <label for="fecha_publi">Publicado</label>
             <input type="text" name="fecha_publi" id="fecha_publi" class="form-control" value="{{ publicado.fecha_publi }}">
             </div>
             <div class="row">
               <div class="col-md-6">
                 <button type="submit" class="btn btn-success mt-3">Actualizar</button>
               </div>
               <!--<div class="col-6">
                 <button type="button" class="btn btn-danger mt-3" data-bs-dismiss="modal">Cerrar</button>
               </div>-->
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
   {% endfor %}
{% endblock %}