{% extends 'admin/base.html' %}
{% block titulo %} Admin - Publicar Noticia {% endblock %}
{% block contenido %}

{% for publicado in noticias_publicadas %}
<section class="container-lg mb-5 noticias">
    <article class="bg-white shadow text_noticias">
        <img src="/img/{{ publicado.imagen }}">
        <h2 class="text-center fw-bold">{{ publicado.titulo }}</h2>
        <p class="">{{ publicado.contenido }}</p>
        <h5>{{ publicado.categoria }}</h5>
        <h6>{{ publicado.fecha_publi }}</h6>
    </article>
</section>

{% endblock %}