{% extends 'admin/base.html' %}
{% block titulo %} Admin - Publicar Noticia {% endblock %}
{% block contenido %}

<h1 class="text-center">Publicación de las noticias</h1>

{% for publicado in noticias_publicadas %}
<section class="container-lg mb-5 noticias">
    <article class="bg-white shadow text_noticias">
        <h2 class="text-center fw-bold">{{ publicado[0] }}</h2>
        <p class="">{{ publicado[1] }}</p>
        <h5>{{ publicado[2] }}</h5>
        <h6>{{ publicado[3] }}</h6>
    </article>
    <div>
        <button type="submit" class="bg-success text-white">Publicar</button>
        <button type="submit" class="bg-primary text-white">Modificar</button>
        <button type="submit" class="bg-danger text-white">Eliminar</button>
    </div>
</section>
{% endfor %}
{% endblock %}