<!doctype html>
<html lang="es">
<head>
  <title>{% block titulo %} Sección de los deportes {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="bg-white calend_futbol">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ms-1">
          <li class="breadcrumb-item"><a href="/seccion/futbol" class="text-white text-decoration-none">Sección</a></li>
          <li class="breadcrumb-item active text-secondary" aria-current="page">Calendario Real Valladolid</li>
        </ol>
    </nav>
    <section class="container-lg mb-5">
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">	
              <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos" style="width: 70rem;">
                    <div class="card-body">
                      <div class="table-responsive">
                        <h3 class="text-center text-white fw-bold">Calendario</h3>
                        <table class="table table-bordered tabla_equipos"><!--Tabla Calendario Valladolid-->
                            <thead>
                                <tr class="text-center text-white">
                                  <th></th>
                                  <th colspan="2">Jornadas</th>
                                  <th colspan="4">Resultados</th>
                                  <!--<th colspan="">Puntos</th>-->
                                </tr>
                                <tr class="text-center text-white">
                                  <th scope="col">Equipos</th>
                                  <th>Ida</th>
                                  <th>Vlt</th>
                                  <th colspan="2">Ida</th>
                                  <th colspan="2">Vlt</th>
                                  <th>Puntos</th>
                                  <th>Golaverage</th>
                                </tr>
                            </thead>
                              <tbody>
                                <tr class="text-center"><!--Leganes-->
                                    <th class="text-white">Leganes</th>
                                    <td class="jor-futb fw-bold">16-C</td>
                                    <td class="jor-futb fw-bold">25-F</td>
                                    <td class="id-V fw-bold">1</td>
                                    <td class="id-A fw-bold">1</td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Racing Ferrol-->
                                    <th class="text-white">Racing Ferrol</th>
                                    <td class="jor-futb fw-bold">21-C</td>
                                    <td class="jor-futb fw-bold">31-F</td>
                                    <td class="id-V fw-bold">0</td>
                                    <td class="id-A fw-bold">1</td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Sporting-->
                                    <th class="text-white">Sporting</th>
                                    <td class="jor-futb fw-bold">1-C</td>
                                    <td class="jor-futb fw-bold">27-F</td>
                                    <td class="id-V fw-bold">2</td>
                                    <td class="id-A fw-bold">0</td>                   
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Espanyol-->
                                    <th class="text-white">Espanyol</th>
                                    <td class="jor-futb fw-bold">11-F</td>
                                    <td class="jor-futb fw-bold">39-C</td>
                                    <td class="id-A fw-bold">2</td>
                                    <td class="id-V fw-bold">0</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Eibar-->
                                    <th class="text-white">Eibar</th>
                                    <td class="jor-futb fw-bold">13-F</td>
                                    <td class="jor-futb fw-bold">32-C</td>
                                    <td class="id-A fw-bold">5</td>
                                    <td class="id-V fw-bold">1</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Levante-->
                                    <th class="text-white">Levante</th>
                                    <td class="jor-futb fw-bold">18-F</td>
                                    <td class="jor-futb fw-bold">33-C</td>
                                    <td class="id-A fw-bold">2</td>
                                    <td class="id-V fw-bold">1</td> 
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Racing-->
                                    <th class="text-white">Racing</th>
                                    <td class="jor-futb fw-bold">15-F</td>
                                    <td class="jor-futb fw-bold">24-C</td>
                                    <td class="id-A fw-bold">2</td>
                                    <td class="id-V fw-bold">3</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Burgos-->
                                    <th class="text-white">Burgos</th>
                                    <td class="jor-futb fw-bold">8-C</td>
                                    <td class="jor-futb fw-bold">22-F</td>
                                    <td class="id-V fw-bold">3</td>
                                    <td class="id-A fw-bold">0</td>
                                    <td class="vta-A fw-bold">1</td>
                                    <td class="vta-V fw-bold">0</td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Elche-->
                                    <th class="text-white">Elche</th>
                                    <td class="jor-futb fw-bold">5-C</td>
                                    <td class="jor-futb fw-bold">23-F</td>
                                    <td class="id-V fw-bold">1</td>
                                    <td class="id-A fw-bold">1</td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Tenerife-->
                                    <th class="text-white">Tenerife</th>
                                    <td class="jor-futb fw-bold">14-C</td>
                                    <td class="jor-futb fw-bold">42-F</td>
                                    <td class="id-V fw-bold">2</td>
                                    <td class="id-A fw-bold">0</td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Oviedo-->
                                    <th class="text-white">Oviedo</th>
                                    <td class="jor-futb fw-bold">7-F</td>
                                    <td class="jor-futb fw-bold">28-C</td>
                                    <td class="id-A fw-bold">0</td>
                                    <td class="id-V fw-bold">1</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Mirandés-->
                                    <th class="text-white">Mirandés</th>
                                    <td class="jor-futb fw-bold">10-C</td>
                                    <td class="jor-futb fw-bold">38-F</td>
                                    <td class="id-V fw-bold">3</td>
                                    <td class="id-A fw-bold">2</td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Zaragoza-->
                                    <th class="text-white">Zaragoza</th>
                                    <td class="jor-futb fw-bold">2-F</td>
                                    <td class="jor-futb fw-bold">30-C</td>
                                    <td class="id-A fw-bold">1</td>
                                    <td class="id-V fw-bold">0</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Eldense-->
                                    <th class="text-white">Eldense</th>
                                    <td class="jor-futb fw-bold">9-F</td>
                                    <td class="jor-futb fw-bold">35-C</td>
                                    <td class="id-A fw-bold">0</td>
                                    <td class="id-V fw-bold">1</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Albacete-->
                                    <th class="text-white">Albacete</th>
                                    <td class="jor-futb fw-bold">4-F</td>
                                    <td class="jor-futb fw-bold">26-C</td>
                                    <td class="id-A fw-bold">2</td>
                                    <td class="id-V fw-bold">0</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Villarreal B-->
                                    <th class="text-white">Villarreal B</th>
                                    <td class="jor-futb fw-bold">20-F</td>
                                    <td class="jor-futb fw-bold">41-C</td>
                                    <td class="id-A fw-bold">1</td>
                                    <td class="id-V fw-bold">0</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Andorra-->
                                    <th class="text-white">Andorra</th>
                                    <td class="jor-futb fw-bold">12-C</td>
                                    <td class="jor-futb fw-bold">29-F</td>
                                    <td class="id-V fw-bold">2</td>
                                    <td class="id-A fw-bold">0</td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Huesca-->
                                  <th class="text-white">Huesca</th>
                                  <td class="jor-futb fw-bold">17-F</td>
                                  <td class="jor-futb fw-bold">37-C</td>
                                  <td class="id-A fw-bold">0</td>
                                  <td class="id-V fw-bold">1</td>
                                  <td class="vta-V fw-bold"></td>
                                  <td class="vta-A fw-bold"></td>
                                  <td class="puntos fw-bold"></td>
                                  <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Alcorcón--> 
                                  <th class="text-white">Alcorcón</th>
                                  <td class="jor-futb fw-bold">3-C</td>
                                  <td class="jor-futb fw-bold">40-F</td>
                                  <td class="id-V fw-bold">0</td>
                                  <td class="id-A fw-bold">2</td>
                                  <td class="vta-A fw-bold"></td>
                                  <td class="vta-V fw-bold"></td>
                                  <td class="puntos fw-bold"></td>
                                  <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Cartagena-->
                                  <th class="text-white">Cartagena</th>
                                  <td class="jor-futb fw-bold">6-C</td>
                                  <td class="jor-futb fw-bold">34-F</td>
                                  <td class="id-V fw-bold">1</td>
                                  <td class="id-A fw-bold">0</td>
                                  <td class="vta-A fw-bold"></td>
                                  <td class="vta-V fw-bold"></td>
                                  <td class="puntos fw-bold"></td>
                                  <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Amorebieta-->
                                  <th class="text-white">Amorebieta</th>
                                  <td class="jor-futb fw-bold">19-C</td>
                                  <td class="jor-futb fw-bold">36-F</td>
                                  <td class="id-V fw-bold">2</td>
                                  <td class="id-A fw-bold">1</td>
                                  <td class="vta-A fw-bold"></td>
                                  <td class="vta-V fw-bold"></td>
                                  <td class="puntos fw-bold"></td>
                                  <td class="average fw-bold"></td>
                                </tr>
                              </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos" style="width: 70rem;">
                    <div class="card-body">
                      <div class="table-responsive">
                        <h3 class="text-center text-white fw-bold">Resultados</h3>
                        <table class="table tabla_resul_futbol"><!--Tabla Resultados-->
                            <thead>
                                <h5 class="text-center">Visitante</h5>
                              <tr>
                                <th><h5 class="">Local</h5></th>
                                <th class="vertical">Leganes</th>
                                <th class="vertical">Racing Ferrol</th>
                                <th class="vertical">Sporting</th>
                                <th class="vertical">Espanyol</th>
                                <th class="vertical">Eibar</th>
                                <th class="vertical">Levante</th>
                                <th class="vertical">Valladolid</th>
                                <th class="vertical">Racing</th>
                                <th class="vertical">Burgos</th>
                                <th class="vertical">Elche</th>
                                <th class="vertical">Tenerife</th>
                                <th class="vertical">Oviedo</th>
                                <th class="vertical">Mirandés</th>
                                <th class="vertical">Zaragoza</th>
                                <th class="vertical">Eldense</th>
                                <th class="vertical">Albacete</th>
                                <th class="vertical">Villarreal B</th>
                                <th class="vertical">Andorra</th>
                                <th class="vertical">Huesca</th>
                                <th class="vertical">Alcorcón</th>
                                <th class="vertical">Cartagena</th>
                                <th class="vertical">Amorebieta</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr><!--Leganes-->
                                <th>Leganes</th>
                                <td class="bg-dark"></td>
                                <td class="text-primary">2-2</td><!--Racing Ferrol-->
                                <td class="text-white">J-40</td><!--Sporting-->
                                <td class="text-white">J-35</td><!--Espanyol-->
                                <td class="text-white">J-29</td><!--Eibar-->
                                <td class="">2-1</td><!--Levante-->
                                <td class="text-white">J-25</td><!--Valladolid-->
                                <td class="">2-1</td><!--Racing-->
                                <td class="text-white">J-23</td><!--Burgos-->
                                <td class="text-white">J-42</td><!--Elche-->
                                <td class="text-primary">1-1</td><!--Tenerife-->
                                <td class="">0-0</td><!--Oviedo-->
                                <td class="text-white">J-31</td><!--Mirandés-->
                                <td class="text-white">J-37</td><!--Zaragoza-->
                                <td class="text-primary">1-1</td><!--Eldense-->
                                <td class="">2-0</td><!--Albacete-->
                                <td class="">1-0</td><!--Villarreal B-->
                                <td class="text-danger">0-1</td><!--Andorra-->
                                <td class="">2-0</td><!--Huesca-->
                                <td class="text-white">J-27</td><!--Alcorcón-->
                                <td class="text-white">J-33</td><!--Cartagena-->
                                <td class="">6-0</td><!--Amorebieta-->
                              </tr>
                              <tr><!--Racing Ferrol-->
                                <th>Racing Ferrol</th>
                                <td class="text-white">J-41</td><!--Leganes-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class="text-white">J-25</td><!--Eibar-->
                                <td class="text-white">J-27</td><!--Levante-->
                                <td class="text-white">J-31</td><!--Valladolid-->
                                <td class="text-white">J-29</td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class="text-white">J-33</td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class="text-white">J-23</td><!--Oviedo-->
                                <td class="text-white">J-37</td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class="text-white">J-35</td><!--Huesca-->
                                <td class="text-white">J-39</td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Sporting-->
                                <th>Sporting</th>
                                <td class="text-primary">1-1</td><!--Leganes-->
                                <td class="text-white">J-24</td><!--Racing Ferrol-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Espanyol-->
                                <th>Espanyol</th>
                                <td class="text-danger">0-1</td><!--Leganes-->
                                <td class=""></td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Eibar-->
                                <th>Eibar</th>
                                <td class="text-danger">0-1</td><!--Leganes-->
                                <td class=""></td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Levante-->
                                <th>Levante</th>
                                <td class="text-white">J-26</td><!--Leganes-->
                                <td class=""></td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Valladolid-->
                                <th>Valladolid</th>
                                <td class="text-primary">1-1</td><!--Leganes-->
                                <td class=""></td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Racing-->
                                <th>Racing</th>
                                <td class="text-white">J-28</td><!--Leganes-->
                                <td class=""></td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Burgos-->
                                <th>Burgos</th>
                                <td class="">1-0</td><!--Leganes-->
                                <td class="text-white">J-26</td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Elche-->
                                <th>Elche</th>
                                <td class="">1-0</td><!--Leganes-->
                                <td class=""></td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Tenerife-->
                                <th>Tenerife</th>
                                <td class="text-white">J-36</td><!--Leganes-->
                                <td class="text-white">J-38</td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Oviedo-->
                                <th>Oviedo</th>
                                <td class="text-white">J-24</td><!--Leganes-->
                                <td class=""></td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Mirandés-->
                                <th>Mirandés</th>
                                <td class="text-danger">1-3</td><!--Leganes-->
                                <td class=""></td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Zaragoza-->
                                <th>Zaragoza</th>
                                <td class="">1-0</td><!--Leganes-->
                                <td class="text-white">J-40</td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Eldense-->
                                <th>Eldense</th>
                                <td class="text-white">J-38</td><!--Leganes-->
                                <td class="text-white">J-28</td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Albacete-->
                                <th>Albacete</th>
                                <td class="text-white">J-39</td><!--Leganes-->
                                <td class="text-white">J-32</td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Villarreal B-->
                                <th>Villarreal B</th>
                                <td class="text-white">J-32</td><!--Leganes-->
                                <td class="text-white">J-36</td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Andorra-->
                                <th>Andorra</th>
                                <td class="text-danger">2-3</td><!--Leganes-->
                                <td class="text-white">J-42</td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Huesca-->
                                <th>Huesca</th>
                                <td class="text-white">J-34</td><!--Leganes-->
                                <td class=""></td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class="bg-dark"></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Alcorcón-->
                                <th>Alcorcón</th>
                                <td class="text-danger">0-2</td><!--Leganes-->
                                <td class=""></td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class="bg-dark"></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Cartagena-->
                                <th>Cartagena</th>
                                <td class="text-danger">0-3</td><!--Leganes-->
                                <td class="text-white">J-30</td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Amorebieta-->
                              </tr>
                              <tr><!--Amorebieta-->
                                <th>Amorebieta</th>
                                <td class="text-white">J-30</td><!--Leganes-->
                                <td class="text-white">J-34</td><!--Racing Ferrol-->
                                <td class=""></td><!--Sporting-->
                                <td class=""></td><!--Espanyol-->
                                <td class=""></td><!--Eibar-->
                                <td class=""></td><!--Levante-->
                                <td class=""></td><!--Valladolid-->
                                <td class=""></td><!--Racing-->
                                <td class=""></td><!--Burgos-->
                                <td class=""></td><!--Elche-->
                                <td class=""></td><!--Tenerife-->
                                <td class=""></td><!--Oviedo-->
                                <td class=""></td><!--Mirandés-->
                                <td class=""></td><!--Zaragoza-->
                                <td class=""></td><!--Eldense-->
                                <td class=""></td><!--Albacete-->
                                <td class=""></td><!--Villarreal B-->
                                <td class=""></td><!--Andorra-->
                                <td class=""></td><!--Huesca-->
                                <td class=""></td><!--Alcorcón-->
                                <td class=""></td><!--Cartagena-->
                                <td class="bg-dark"></td>
                              </tr>
                            </tbody>        
                        </table>
                          <p class="fw-bold"><strong class="text-danger">Rojo</strong>-Gana equipo visitante</p>
                          <p class="fw-bold"><strong class="text-primary">Azúl</strong>-Empate</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        </section>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script> 
<script src="/static/js/script.js"></script>
<script>
// Obtener todas las filas de la tabla
const rows = document.querySelectorAll('.tabla_equipos tbody tr');
// Iterar sobre cada fila para realizar los cálculos
rows.forEach(row => {
    const idA = parseFloat(row.querySelector('.id-A').textContent);
    const idV = parseFloat(row.querySelector('.id-V').textContent);
    const vtA = parseFloat(row.querySelector('.vta-A').textContent);
    const vtV = parseFloat(row.querySelector('.vta-V').textContent);
    const gan1 = row.querySelector('.puntos');
    // Inicializar la puntuación actual a 0 si es NaN
    const puntosActuales = isNaN(parseInt(gan1.textContent)) ? 0 : parseInt(gan1.textContent);
    // Calcular puntos para el partido de ida
    let puntosIda = 0;
    if (idA > idV) {
        puntosIda = 0;
    } else if (idA < idV) {
        puntosIda = 3;
    } else {
        puntosIda = 1;
    }
    // Calcular puntos para el partido de vuelta
    let puntosVuelta = 0;
    if (!isNaN(vtA) && !isNaN(vtV)) {
        if (vtV > vtA) {
            puntosVuelta = 3;
        } else if (vtA > vtV) {
            puntosVuelta = 0;
        } else {
            puntosVuelta = 1;
        }
    }
    // Sumar puntos de ida y vuelta y actualizar la clase 'puntos'
    const puntosTotales = puntosActuales + puntosIda + puntosVuelta;
    gan1.textContent = puntosTotales.toString();
    // Calcular average
    const avgIda = idV - idA;
    const avgVuelta = (isNaN(vtA) || isNaN(vtV)) ? 0 : vtV - vtA;
    const avgTotal = avgIda + avgVuelta;
    // Actualizar la clase 'average'
    const average = row.querySelector('.average');
    if (!isNaN(avgTotal)) {
        average.textContent = avgTotal;
        average.style.color = (avgTotal > 0) ? 'forestgreen' : ((avgTotal < 0) ? 'darkred' : 'darkblue');
    } else {
        average.textContent = '';
    }
});
</script>
</body>
</html>