<!doctype html>
<html lang="es">
<head>
  <title>{% block titulo %} Calendario - Resultados - V Simancas {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="bg-white calend_futbol">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ms-1">
          <li class="breadcrumb-item"><a href="/seccion/futbol" class="text-white text-decoration-none">Sección</a></li>
          <li class="breadcrumb-item active text-secondary" aria-current="page">Calendario V Simancas</li>
        </ol>
    </nav>
    <section class="container-lg mb-5">
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">	
              <div class="carousel-item active"><!--Tabla Calendario V Simancas-->
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos" style="width: 70rem;">
                    <div class="card-body">
                      <div class="table-responsive">
                        <h3 class="text-center text-white fw-bold">Calendario</h3>
                        <table class="table table-bordered tabla_equipos"><!--Tabla Calendario V Simancas-->
                            <thead>
                                <tr class="text-center text-white">
                                  <th></th>
                                  <th colspan="2">Jornadas</th>
                                  <th colspan="4">Resultados</th>
                                  <!--<th colspan="">Puntos</th>-->
                                </tr>
                                <tr class="text-center text-white">
                                  <th scope="col">Equipos</th>
                                  <th>Ida</th>
                                  <th>Vlt</th>
                                  <th colspan="2">Ida</th>
                                  <th colspan="2">Vlt</th>
                                  <th>Puntos</th>
                                  <th>Golaverage</th>
                                </tr>
                            </thead>
                              <tbody>
                                <tr class="text-center"><!--CD San Jose-->
                                    <th class="text-white">CD San Jose</th>
                                    <td class="jor-futb fw-bold">4-C</td>
                                    <td class="jor-futb fw-bold">19-F</td>
                                    <td class="id-V fw-bold">1</td>
                                    <td class="id-A fw-bold">1</td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--CD Fem Ponfe-->
                                    <th class="text-white">CD Fem Ponfe</th>
                                    <td class="jor-futb fw-bold">14-F</td>
                                    <td class="jor-futb fw-bold">29-C</td>
                                    <td class="id-A fw-bold">1</td>
                                    <td class="id-V fw-bold">3</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Amigos Duero-->
                                    <th class="text-white">Amigos Duero</th>
                                    <td class="jor-futb fw-bold">13-C</td>
                                    <td class="jor-futb fw-bold">28-F</td>
                                    <td class="id-V fw-bold">0</td>
                                    <td class="id-A fw-bold">0</td>                   
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Capiscol CF-->
                                    <th class="text-white">Capiscol CF</th>
                                    <td class="jor-futb fw-bold">2-C</td>
                                    <td class="jor-futb fw-bold">17-F</td>
                                    <td class="id-V fw-bold">3</td>
                                    <td class="id-A fw-bold">0</td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Burgos CF B-->
                                    <th class="text-white">Burgos CF B</th>
                                    <td class="jor-futb fw-bold">9-F</td>
                                    <td class="jor-futb fw-bold">24-C</td>
                                    <td class="id-A fw-bold">0</td>
                                    <td class="id-V fw-bold">0</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--CD Milagrosa-->
                                    <th class="text-white">CD Milagrosa</th>
                                    <td class="jor-futb fw-bold">10-C</td>
                                    <td class="jor-futb fw-bold">25-F</td>
                                    <td class="id-V fw-bold">6</td>
                                    <td class="id-A fw-bold">1</td> 
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Salamanca FF B-->
                                    <th class="text-white">Salamanca FF B</th>
                                    <td class="jor-futb fw-bold">11-F</td>
                                    <td class="jor-futb fw-bold">26-C</td>
                                    <td class="id-A fw-bold">1</td>
                                    <td class="id-V fw-bold">1</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Olimpico B-->
                                    <th class="text-white">Olimpico B</th>
                                    <td class="jor-futb fw-bold">1-F</td>
                                    <td class="jor-futb fw-bold">16-C</td>
                                    <td class="id-A fw-bold">0</td>
                                    <td class="id-V fw-bold">4</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--CD Navega-->
                                    <th class="text-white">CD Navega</th>
                                    <td class="jor-futb fw-bold">3-F</td>
                                    <td class="jor-futb fw-bold">18-C</td>
                                    <td class="id-A fw-bold">0</td>
                                    <td class="id-V fw-bold">3</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--C Leonesa-->
                                    <th class="text-white">C Leonesa</th>
                                    <td class="jor-futb fw-bold">8-C</td>
                                    <td class="jor-futb fw-bold">23-F</td>
                                    <td class="id-V fw-bold">11</td>
                                    <td class="id-A fw-bold">0</td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--Atlético Lince-->
                                    <th class="text-white">Atlético Lince</th>
                                    <td class="jor-futb fw-bold">7-F</td>
                                    <td class="jor-futb fw-bold">22-C</td>
                                    <td class="id-A fw-bold">1</td>
                                    <td class="id-V fw-bold">4</td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--CD Parquesol B-->
                                    <th class="text-white">CD Parquesol B</th>
                                    <td class="jor-futb fw-bold">15-C</td>
                                    <td class="jor-futb fw-bold">30-F</td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--CD Palencia FF-->
                                    <th class="text-white">CD Palencia FF</th>
                                    <td class="jor-futb fw-bold">12-C</td>
                                    <td class="jor-futb fw-bold">27-F</td>
                                    <td class="id-V fw-bold">7</td>
                                    <td class="id-A fw-bold">0</td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="puntos fw-bold"></td>
                                    <td class="average fw-bold"></td>
                                </tr>
                                <tr class="text-center"><!--San Pio X-->
                                  <th class="text-white">San Pio X</th>
                                  <td class="jor-futb fw-bold">5-F</td>
                                  <td class="jor-futb fw-bold">20C</td>
                                  <td class="id-A fw-bold">0</td>
                                  <td class="id-V fw-bold">20</td>
                                  <td class="vta-V fw-bold"></td>
                                  <td class="vta-A fw-bold"></td>
                                  <td class="puntos fw-bold"></td>
                                  <td class="average fw-bold"></td>
                              </tr>
                              <p>J-6 y J-21 V Simancas Descansa</p>
                              </tbody>  
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item"><!--Tabla Resultados V Simancas-->
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos" style="width: 70rem;">
                    <div class="card-body">
                      <div class="table-responsive">
                        <h3 class="text-center text-white fw-bold">Resultados</h3>
                        <table class="table tabla_resul_futbol"><!--Tabla Resultados V Simancas-->
                            <thead>
                                <h5 class="text-center">Visitante</h5>
                              <tr>
                                <th><h5 class="">Local</h5></th>
                                <th class="vertical">CD San Jose</th>
                                <th class="vertical">CD Fem Ponfe</th>
                                <th class="vertical">Amigos Duero</th>
                                <th class="vertical">Capiscol CF</th>
                                <th class="vertical">Burgos CF B</th>
                                <th class="vertical">CD Milagrosa</th>
                                <th class="vertical">V Simancas</th>
                                <th class="vertical">Salamanca FF B</th>
                                <th class="vertical">Olimpico B</th>
                                <th class="vertical">CD Navega</th>
                                <th class="vertical">C Leonesa</th>
                                <th class="vertical">Atlético Lince</th>
                                <th class="vertical">CD Parquesol B</th>
                                <th class="vertical">CD Palencia FF</th>
                                <th class="vertical">San Pio X</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr><!--CD San Jose-->
                                <th>CD San Jose</th>
                                <td class="bg-dark"></td>
                                <td class="text-white">J-21</td><!--CD Fem Ponfe-->
                                <td class="">2-0</td><!--Amigos Duero-->
                                <td class="text-danger">2-4</td><!--Capiscol CF-->
                                <td class="">4-0</td><!--Burgos CF B-->
                                <td class="text-white">J-17</td><!--CD Milagrosa-->
                                <td class="text-white">J-19</td><!--V Simancas-->
                                <td class="">5-1</td><!--Salamanca FF B-->
                                <td class="text-white">J-23</td><!--Olimpico B-->
                                <td class="text-white">J-25</td><!--CD Navega-->
                                <td class="text-white">J-30</td><!--C Leonesa-->
                                <td class="">6-1</td><!--Atlético Lince-->
                                <td class="">3-1</td><!--CD Parquesol B-->
                                <td class="text-white">J-26</td><!--CD Palencia FF-->
                                <td class="">13-0</td><!--San Pio X-->
                              </tr>
                              <tr><!--CD Fem Ponfe-->
                                <th>CD Fem Ponfe</th>
                                <td class="text-danger">1-3</td><!--CD San Jose-->
                                <td class="bg-dark"></td>
                                <td class="text-white">J-30</td><!--Amigos Duero-->
                                <td class="text-primary">2-2</td><!--Capiscol CF-->
                                <td class="text-white">J-26</td><!--Burgos CF B-->
                                <td class="">3-0</td><!--CD Milagrosa-->
                                <td class="text-danger">1-3</td><!--V Simancas-->
                                <td class="text-white">J-28</td><!--Salamanca FF B-->
                                <td class="text-white">J-18</td><!--Olimpico B-->
                                <td class="text-white">J-20</td><!--CD Navega-->
                                <td class="">2-1</td><!--C Leonesa-->
                                <td class="text-white">J-24</td><!--Atlético Lince-->
                                <td class="">5-0</td><!--CD Parquesol B-->
                                <td class="text-white">J-16</td><!--CD Palencia FF-->
                                <td class="text-white">J-22</td><!--San Pio X-->
                              </tr>
                              <tr><!--Amigos Duero-->
                                <th>Amigos Duero</th>
                                <td class="text-white">J-20</td><!--CD San Jose-->
                                <td class="text-white">J-15</td><!--CD Fem Ponfe-->
                                <td class="bg-dark"></td>
                                <td class="text-white">J-18</td><!--Capiscol CF-->
                                <td class="text-danger">1-2</td><!--Burgos CF B-->
                                <td class="text-white">J-26</td><!--CD Milagrosa-->
                                <td class="text-white">J-28</td><!--V Simancas-->
                                <td class="text-primary">2-2</td><!--Salamanca FF B-->
                                <td class="">2-0</td><!--Olimpico B-->
                                <td class="">6-0</td><!--CD Navega-->
                                <td class="text-white">J-24</td><!--C Leonesa-->
                                <td class="">2-0</td><!--Atlético Lince-->
                                <td class="text-white">J-16</td><!--CD Parquesol B-->
                                <td class="text-white">J-29</td><!--CD Palencia FF-->
                                <td class="">8-0</td><!--San Pio X-->
                              </tr>
                              <tr><!--Capiscol CF-->
                                <th>Capiscol CF</th>
                                <td class="text-white">J-24</td><!--CD San Jose-->
                                <td class="text-white">J-19</td><!--CD Fem Ponfe-->
                                <td class="text-danger">1-4</td><!--Amigos Duero-->
                                <td class="bg-dark"></td>
                                <td class="text-primary">1-1</td><!--Burgos CF B-->
                                <td class="text-white">J-30</td><!--CD Milagrosa-->
                                <td class="text-white">J-17</td><!--V Simancas-->
                                <td class="">3-2</td><!--Salamanca FF B-->
                                <td class="text-white">J-21</td><!--Olimpico B-->
                                <td class="">3-0</td><!--CD Navega-->
                                <td class="text-white">J-28</td><!--C Leonesa-->
                                <td class="">3-1</td><!--Atlético Lince-->
                                <td class="">4-0</td><!--CD Parquesol B-->
                                <td class="text-white">J-22</td><!--CD Palencia FF-->
                                <td class="">7-0</td><!--San Pio X -->
                              </tr>
                              <tr><!--Burgos CF B-->
                                <th>Burgos CF B</th>
                                <td class="text-white">J-16</td><!--CD San Jose-->
                                <td class="">3-2</td><!--CD Fem Ponfe-->
                                <td class="text-white">J-25</td><!--Amigos Duero-->
                                <td class="text-white">J-29</td><!--Capiscol CF-->
                                <td class="bg-dark"></td>
                                <td class="">4-1</td><!--CD Milagrosa-->
                                <td class="text-primary">0-0</td><!--V Simancas-->
                                <td class="text-white">J-23</td><!--Salamanca FF B-->
                                <td class="text-primary">0-0</td><!--Olimpico B-->
                                <td class="text-white">J-15</td><!--CD Navega-->
                                <td class="text-white">J-20</td><!--C Leonesa-->
                                <td class="">2-0</td><!--Atlético Lince-->
                                <td class="text-white">J-27</td><!--CD Parquesol B-->
                                <td class="">5-1</td><!--CD Palencia FF-->
                                <td class="">11-0</td><!--San Pio X-->
                              </tr>
                              <tr><!--CD Milagrosa-->
                                <th>CD Milagrosa</th>
                                <td class="text-danger">3-5</td><!--CD San Jose-->
                                <td class="text-white">J-27</td><!--CD Fem Ponfe-->
                                <td class="text-primary">3-3</td><!--Amigos Duero-->
                                <td class="text-white">J-15</td><!--Capiscol CF-->
                                <td class="text-white">J-22</td><!--Burgos CF B-->
                                <td class="bg-dark"></td>
                                <td class="text-white">J-25</td><!--V Simancas-->
                                <td class="">3-2</td><!--Salamanca FF B-->
                                <td class="text-white">J-29</td><!--Olimpico B-->
                                <td class="text-white">J-16</td><!--CD Navega-->
                                <td class="">4-1</td><!--C Leonesa-->
                                <td class="text-white">J-20</td><!--Atlético Lince-->
                                <td class="">5-2</td><!--CD Parquesol B-->
                                <td class="">7-2</td><!--CD Palencia FF-->
                                <td class="text-white">J-18</td><!--San Pio X-->
                              </tr>
                              <tr><!--V Simancas-->
                                <th>V Simancas</th>
                                <td class="text-primary">1-1</td><!--CD San Jose-->
                                <td class="text-white">J-29</td><!--CD Fem Ponfe-->
                                <td class="text-primary">0-0</td><!--Amigos Duero-->
                                <td class="">3-0</td><!--Capiscol CF-->
                                <td class="text-white">J-24</td><!--Burgos CF B-->
                                <td class="">6-1</td><!--CD Milagrosa-->
                                <td class="bg-dark"></td>
                                <td class="text-white">J-26</td><!--Salamanca FF B-->
                                <td class="text-white">J-16</td><!--Olimpico B-->
                                <td class="text-white">J-18</td><!--CD Navega-->
                                <td class="">11-0</td><!--C Leonesa-->
                                <td class="text-white">J-22</td><!--Atlético Lince-->
                                <td class="text-white">J-15</td><!--CD Parquesol B-->
                                <td class="">7-0</td><!--CD Palencia FF-->
                                <td class="text-white">J-20</td><!--San Pio X-->
                              </tr>
                              <tr><!--Salamanca FF B-->
                                <th>Salamanca FF B</th>
                                <td class="text-white">J-18</td><!--CD San Jose-->
                                <td class="">5-2</td><!--CD Fem Ponfe-->
                                <td class="text-white">J-27</td><!--Amigos Duero-->
                                <td class="text-white">J-16</td><!--Capiscol CF-->
                                <td class="">3-0</td><!--Burgos CF B-->
                                <td class="text-white">J-24</td><!--CD Milagrosa-->
                                <td class="text-primary">1-1</td><!--V Simancas-->
                                <td class="bg-dark"></td>
                                <td class="text-white">J-15</td><!--Olimpico B-->
                                <td class="text-danger">0-2</td><!--CD Navega-->
                                <td class="text-white">J-22</td><!--C Leonesa-->
                                <td class="">3-0</td><!--Atlético Lince-->
                                <td class="text-white">J-29</td><!--CD Parquesol B-->
                                <td class="text-primary">3-3</td><!--CD Palencia FF-->
                                <td class="">8-0</td><!--San Pio X-->
                              </tr>
                              <tr><!--Olimpico B-->
                                <th>Olimpico B</th>
                                <td class="text-danger">0-4</td><!--CD San Jose-->
                                <td class="text-primary">1-1</td><!--CD Fem Ponfe-->
                                <td class="text-white">J-17</td><!--Amigos Duero-->
                                <td class="text-primary">1-1</td><!--Capiscol CF-->
                                <td class="text-white">J-28</td><!--Burgos CF B-->
                                <td class="">3-2</td><!--CD Milagrosa-->
                                <td class="text-danger">0-4</td><!--V Simancas-->
                                <td class="text-white">J-30</td><!--Salamanca FF B-->
                                <td class="bg-dark"></td>
                                <td class="text-white">J-22</td><!--CD Navega-->
                                <td class="">1-0</td><!--C Leonesa-->
                                <td class="text-white">J-26</td><!--Atlético Lince-->
                                <td class="text-white">J-19</td><!--CD Parquesol B-->
                                <td class="text-white">J-20</td><!--CD Palencia FF-->
                                <td class="text-white">J-24</td><!--San Pio X-->
                              </tr>
                              <tr><!--CD Navega-->
                                <th>CD Navega</th>
                                <td class="text-danger">0-3</td><!--CD San Jose-->
                                <td class="">1-0</td><!--CD Fem Ponfe-->
                                <td class="text-white">J-19</td><!--Amigos Duero-->
                                <td class="text-white">J-23</td><!--Capiscol CF-->
                                <td class="text-white">J-30</td><!--Burgos CF B-->
                                <td class="text-danger">1-4</td><!--CD Milagrosa-->
                                <td class="text-danger">0-3</td><!--V Simancas-->
                                <td class="text-white">J-17</td><!--Salamanca FF B-->
                                <td class="text-danger">0-1</td><!--Olimpico B-->
                                <td class="bg-dark"></td>
                                <td class="text-primary">1-1</td><!--C Leonesa-->
                                <td class="text-white">J-28</td><!--Atlético Lince-->
                                <td class="text-white">J-21</td><!--CD Parquesol B-->
                                <td class="text-white">J-24</td><!--CD Palencia FF-->
                                <td class="text-white">J-26</td><!--San Pio X-->
                              </tr>
                              <tr><!--C Leonesa-->
                                <th>C Leonesa</th>
                                <td class="text-white">J-15</td><!--CD San Jose-->
                                <td class="text-white">J-25</td><!--CD Fem Ponfe-->
                                <td class="text-danger">0-3</td><!--Amigos Duero-->
                                <td class="text-danger">0-3</td><!--Capiscol CF-->
                                <td class="text-primary">1-1</td><!--Burgos CF B-->
                                <td class="text-white">J-21</td><!--CD Milagrosa-->
                                <td class="text-white">J-23</td><!--V Simancas-->
                                <td class="text-danger">1-2</td><!--Salamanca FF B-->
                                <td class="text-white">J-27</td><!--Olimpico B-->
                                <td class="text-white">J-29</td><!--CD Navega-->
                                <td class="bg-dark"></td>
                                <td class="text-white">J-18</td><!--Atlético Lince-->
                                <td class="">4-0</td><!--CD Parquesol B-->
                                <td class="">3-0</td><!--CD Palencia FF-->
                                <td class="text-white">J-16</td><!--San Pio X-->
                              </tr>
                              <tr><!--Atlético Lince-->
                                <th>Atlético Lince</th>
                                <td class="text-white">J-29</td><!--CD San Jose-->
                                <td class="">1-0</td><!--CD Fem Ponfe-->
                                <td class="text-white">J-23</td><!--Amigos Duero-->
                                <td class="text-white">J-27</td><!--Capiscol CF-->
                                <td class="text-white">J-19</td><!--Burgos CF B-->
                                <td class="text-danger">2-5</td><!--CD Milagrosa-->
                                <td class="text-danger">1-4</td><!--V Simancas-->
                                <td class="text-white">J-21</td><!--Salamanca FF B-->
                                <td class="text-primary">1-1</td><!--Olimpico B-->
                                <td class="text-danger">2-3</td><!--CD Navega-->
                                <td class="">3-2</td><!--C Leonesa-->
                                <td class="bg-dark"></td>
                                <td class="text-white">J-25</td><!--CD Parquesol B-->
                                <td class="text-primary">2-2</td><!--CD Palencia FF-->
                                <td class="text-white">J-15</td><!--San Pio X-->
                              </tr>
                              <tr><!--CD Parquesol B-->
                                <th>CD Parquesol B</th>
                                <td class="text-white">J-22</td><!--CD San Jose-->
                                <td class="text-white">J-17</td><!--CD Fem Ponfe-->
                                <td class="text-danger">0-5</td><!--Amigos Duero-->
                                <td class="text-white">J-20</td><!--Capiscol CF-->
                                <td class="text-danger">0-2</td><!--Burgos CF B-->
                                <td class="text-white">J-28</td><!--CD Milagrosa-->
                                <td class="text-white">J-30</td><!--V Simancas-->
                                <td class="text-danger">1-3</td><!--Salamanca FF B-->
                                <td class="text-primary">1-1</td><!--Olimpico B-->
                                <td class="text-primary">3-3</td><!--CD Navega-->
                                <td class="text-white">J-26</td><!--C Leonesa-->
                                <td class="text-primary">1-1</td><!--Atlético Lince-->
                                <td class="bg-dark"></td>
                                <td class="text-white">J-18</td><!--CD Palencia FF-->
                                <td class="">1-0</td><!--San Pio X-->
                              </tr>
                              <tr><!--CD Palencia FF-->
                                <th>CD Palencia FF</th>
                                <td class="text-danger">0-7</td><!--CD San Jose-->
                                <td class="text-danger">0-4</td><!--CD Fem Ponfe-->
                                <td class="text-danger">2-6</td><!--Amigos Duero-->
                                <td class="text-danger">0-4</td><!--Capiscol CF-->
                                <td class="text-white">J-21</td><!--Burgos CF B-->
                                <td class="text-white">J-23</td><!--CD Milagrosa-->
                                <td class="text-white">J-27</td><!--V Simancas-->
                                <td class="text-white">J-25</td><!--Salamanca FF B-->
                                <td class="text-danger">0-2</td><!--Olimpico B-->
                                <td class="text-primary">3-3</td><!--CD Navega-->
                                <td class="text-white">J-19</td><!--C Leonesa-->
                                <td class="text-white">J-17</td><!--Atlético Lince-->
                                <td class="text-primary">3-3</td><!--CD Parquesol B-->
                                <td class="bg-dark"></td>
                                <td class="">7-0</td><!--San Pio X-->
                              </tr>
                              <tr><!--San Pio X-->
                                <th>San Pio X</th>
                                <td class="text-white">J-27</td><!--CD San Jose-->
                                <td class="text-danger">0-7</td><!--CD Fem Ponfe-->
                                <td class="text-white">J-21</td><!--Amigos Duero-->
                                <td class="text-white">J-25</td><!--Capiscol CF-->
                                <td class="text-white">J-17</td><!--Burgos CF B-->
                                <td class="text-danger">2-12</td><!--CD Milagrosa-->
                                <td class="text-danger">0-20</td><!--V Simancas-->
                                <td class="text-white">J-19</td><!--Salamanca FF B-->
                                <td class="">2-0</td><!--Olimpico B-->
                                <td class="text-danger">0-5</td><!--CD Navega-->
                                <td class="text-danger">1-8</td><!--C Leonesa-->
                                <td class="text-white">J-30</td><!--Atlético Lince-->
                                <td class="text-white">J-23</td><!--CD Parquesol B-->
                                <td class="text-white">J-28</td><!--CD Palencia FF-->
                                <td class="bg-dark"></td>
                              </tr>
                            </tbody>        
                        </table>
                          <p class="fw-bold"><strong class="text-danger">Rojo</strong>-Gana equipo visitante</p>
                          <p class="fw-bold"><strong class="text-primary">Azúl</strong>-Empate</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        </section>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script> 
<script src="/static/js/script.js"></script>
<script>
// Obtener todas las filas de la tabla
const rows = document.querySelectorAll('.tabla_equipos tbody tr');
// Iterar sobre cada fila para realizar los cálculos
rows.forEach(row => {
    const idA = parseFloat(row.querySelector('.id-A').textContent);
    const idV = parseFloat(row.querySelector('.id-V').textContent);
    const vtA = parseFloat(row.querySelector('.vta-A').textContent);
    const vtV = parseFloat(row.querySelector('.vta-V').textContent);
    const gan1 = row.querySelector('.puntos');
    // Inicializar la puntuación actual a 0 si es NaN
    const puntosActuales = isNaN(parseInt(gan1.textContent)) ? 0 : parseInt(gan1.textContent);
    // Calcular puntos para el partido de ida
    let puntosIda = 0;
    if (idA > idV) {
        puntosIda = 0;
    } else if (idA < idV) {
        puntosIda = 3;
    } else {
        puntosIda = 1;
    }
    // Calcular puntos para el partido de vuelta
    let puntosVuelta = 0;
    if (!isNaN(vtA) && !isNaN(vtV)) {
        if (vtV > vtA) {
            puntosVuelta = 3;
        } else if (vtA > vtV) {
            puntosVuelta = 0;
        } else {
            puntosVuelta = 1;
        }
    }
    // Sumar puntos de ida y vuelta y actualizar la clase 'puntos'
    const puntosTotales = puntosActuales + puntosIda + puntosVuelta;
    gan1.textContent = puntosTotales.toString();
    // Calcular average
    const avgIda = idV - idA;
    const avgVuelta = (isNaN(vtA) || isNaN(vtV)) ? 0 : vtV - vtA;
    const avgTotal = avgIda + avgVuelta;
    // Actualizar la clase 'average'
    const average = row.querySelector('.average');
    if (!isNaN(avgTotal)) {
        average.textContent = avgTotal;
        average.style.color = (avgTotal > 0) ? 'forestgreen' : ((avgTotal < 0) ? 'darkred' : 'darkblue');
    } else {
        average.textContent = '';
    }
});
</script>
</body>
</html>