{% extends 'base.html' %}
{% block titulo %} Eldeportedelaciudad - Administrador {% endblock %}
{% block contenido %}
  <header>
    <h1>Crear Nueva Noticia</h1>
  </header>
  <form method="POST" action="/admin/create_new">
    <label for="titulo">Título:</label><br>
    <input type="text" id="titulo" name="titulo"><br><br>

    <label for="contenido">Contenido:</label><br>
    <textarea id="contenido" name="contenido" rows="4" cols="50"></textarea><br><br>

    <label for="categoria">Categoría:</label><br>
    <input type="text" id="categoria" name="categoria"><br><br>

    <label for="fecha_publi">Públicado:</label><br>
    <input type="date" id="fecha_publi" name="fecha_publi"><br><br>

    <input type="submit" value="Guardar">
  </form>
{% endblock %}  
 