<!doctype html>
<html lang="es">
<head>
  <title>{% block titulo %} Sección de los deportes {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="bg-white calend_basket">
    <section class="container-lg d-flex justify-content-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-2">
              <li class="breadcrumb-item"><a href="/seccion/baloncesto" class="text-white text-decoration-none">Sección</a></li>
              <li class="breadcrumb-item active text-white" aria-current="page">Calendario UEMC</li>
            </ol>
        </nav>
        <div class="table-responsive ">
          <h2 class="text-center fw-bold text-white mt-2">UEMC Valladolid</h2>
            <table class="table table-bordered tabla_equipos">
                <thead>
                    <tr class="text-center text-white">
                      <th></th>
                      <th colspan="2">Jornadas</th>
                      <th colspan="4">Resultados</th>
                      <th colspan="2">Partidos</th>
                      <!--<th>Perdidos</th>-->
                      <th></th>
                      <th></th>
                    </tr>
                    <tr class="text-center text-white">
                      <th scope="col">Equipos</th>
                      <th>Ida</th>
                      <th>Vlt</th>
                      <th colspan="2">Ida</th>
                      <th colspan="2">Vlt</th>
                      <th>PG</th>
                      <th>PP</th>
                      <!--<th>Ida</th>
                      <th>Vlt</th>-->
                      <th>Average</th>
                      <th>Average Final</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                        <th class="text-white">Tizona Burgos</th>
                        <td class="text-secondary fw-bold">1ª-F</td>
                        <td class="text-secondary fw-bold">31ª-C</td>
                        <td class="id-A">90</td>
                        <td class="id-V">86</td>
                        <td class="vta-V">88</td>
                        <td class="vta-A">77</td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Hestia Menorca</th>
                        <td class="text-secondary fw-bold">2ª-C</td>
                        <td class="text-secondary fw-bold">24ª-F</td>
                        <td class="id-V">89</td>
                        <td class="id-A">88</td>
                        <td class="vta-A">90</td>
                        <td class="vta-V">79</td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">HLA Alicante</th>
                        <td class="text-secondary fw-bold">3ª-F</td>
                        <td class="text-secondary fw-bold">18ª-C</td>
                        <td class="id-A"></td>
                        <td class="id-V"></td>                   
                        <td class="vta-V"></td>
                        <td class="vta-A"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Leyma Coruña</th>
                        <td class="text-secondary fw-bold">4ª-C</td>
                        <td class="text-secondary fw-bold">30ª-F</td>
                        <td class="id-V"></td>
                        <td class="id-A"></td>
                        <td class="vta-A"></td>
                        <td class="vta-V"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">San Pablo Burgos</th>
                        <td class="text-secondary fw-bold">5ª-F</td>
                        <td class="text-secondary fw-bold">27ª-C</td>
                        <td class="id-A"></td>
                        <td class="id-V"></td>
                        <td class="vta-V"></td>
                        <td class="vta-A"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Real Betis</th>
                        <td class="text-secondary fw-bold">6ª-C</td>
                        <td class="text-secondary fw-bold">32ª-F</td>
                        <td class="id-V"></td>
                        <td class="id-A"></td> 
                        <td class="vta-A"></td>
                        <td class="vta-V"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Alega Cantabria</th>
                        <td class="text-secondary fw-bold">7ª-F</td>
                        <td class="text-secondary fw-bold">21ª-C</td>
                        <td class="id-A"></td>
                        <td class="id-V"></td>
                        <td class="vta-V"></td>
                        <td class="vta-A"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Força Lleida</th>
                        <td class="text-secondary fw-bold">8ª-C</td>
                        <td class="text-secondary fw-bold">28ª-F</td>
                        <td class="id-V"></td>
                        <td class="id-A"></td>
                        <td class="vta-A"></td>
                        <td class="vta-V"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Movistar Estudiantes</th>
                        <td class="text-secondary fw-bold">9ª-F</td>
                        <td class="text-secondary fw-bold">29ª-C</td>
                        <td class="id-A"></td>
                        <td class="id-V"></td>
                        <td class="vta-V"></td>
                        <td class="vta-A"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Gipuzkoa Basket</th>
                        <td class="text-secondary fw-bold">10ª-C</td>
                        <td class="text-secondary fw-bold">19ª-F</td>
                        <td class="id-V"></td>
                        <td class="id-A"></td>
                        <td class="vta-A"></td>
                        <td class="vta-V"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Amics Castello</th>
                        <td class="text-secondary fw-bold">11ª-C</td>
                        <td class="text-secondary fw-bold">22ª-F</td>
                        <td class="id-V"></td>
                        <td class="id-A"></td>
                        <td class="vta-A"></td>
                        <td class="vta-V"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Rioverde Clavijo</th>
                        <td class="text-secondary fw-bold">12ª-F</td>
                        <td class="text-secondary fw-bold">23ª-C</td>
                        <td class="id-A"></td>
                        <td class="id-V"></td>
                        <td class="vta-V"></td>
                        <td class="vta-A"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Caceres</th>
                        <td class="text-secondary fw-bold">13ª-F</td>
                        <td class="text-secondary fw-bold">20ª-C</td>
                        <td class="id-A">79</td>
                        <td class="id-V">87</td>
                        <td class="vta-V"></td>
                        <td class="vta-A"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1">-</td>
                        <!--<td class="per-2"></td>-->
                        <td class="text-success average"></td>
                        <td class="text-success aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Melilla</th>
                        <td class="text-secondary fw-bold">14ª-C</td>
                        <td class="text-secondary fw-bold">26ª-F</td>
                        <td class="id-V">73</td>
                        <td class="id-A">76</td>
                        <td class="vta-A"></td>
                        <td class="vta-V"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Alimerka Oviedo</th>
                        <td class="text-secondary fw-bold">15ª-F</td>
                        <td class="text-secondary fw-bold">33ª-C</td>
                        <td class="id-A"></td>
                        <td class="id-V"></td>
                        <td class="vta-V"></td>
                        <td class="vta-A"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Fuenlabrada</th>
                        <td class="text-secondary fw-bold">16ª-C</td>
                        <td class="text-secondary fw-bold">34ª-F</td>
                        <td class="id-V"></td>
                        <td class="id-A"></td>
                        <td class="vta-A"></td>
                        <td class="vta-V"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                    <tr class="text-center">
                        <th class="text-white">Club Ourense</th>
                        <td class="text-secondary fw-bold">17ª-F</td>
                        <td class="text-secondary fw-bold">25ª-C</td>
                        <td class="id-A">90</td>
                        <td class="id-V">89</td>
                        <td class="vta-V"></td>
                        <td class="vta-A"></td>
                        <td class="gan-1"></td>
                        <!--<td class="gan-2"></td>-->
                        <td class="per-1"></td>
                        <!--<td class="per-2"></td>-->
                        <td class="average"></td>
                        <td class="aver-tot"></td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </section>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
<script>
    // Obtener todas las filas de la tabla
const rows = document.querySelectorAll('.tabla_equipos tbody tr');

// Iterar sobre cada fila para realizar los cálculos
rows.forEach(row => {
    const idA = parseFloat(row.querySelector('.id-A').textContent);
    const idV = parseFloat(row.querySelector('.id-V').textContent);
    const vtA = parseFloat(row.querySelector('.vta-A').textContent);
    const vtV = parseFloat(row.querySelector('.vta-V').textContent);

    const gan1 = row.querySelector('.gan-1');
    //const gan2 = row.querySelector('.gan-2');
    const per1 = row.querySelector('.per-1');
    //const per2 = row.querySelector('.per-2');
    const average = row.querySelector('.average');
    const averTot = row.querySelector('.aver-tot');

    // Calcular resultados idA e idV y aplicar estilos
    if (idA > idV) {
        gan1.textContent = '-';
        //gan2.textContent = '-';
        per1.textContent = '1';
        //per2.textContent = '1';
        gan1.style.color = 'black';
        //gan2.style.color = 'black';
        per1.style.color = 'red';
        //per2.style.color = 'red';
    } else if (idA < idV){
        gan1.textContent = '1';
        per1.textContent = '-';
        gan1.style.color = 'green';
        per1.style.color = 'black';
    } 
    if (idV > idA) {
        gan1.textContent = '1';
        //gan2.textContent = '1';
        per1.textContent = '-';
        //per2.textContent = '-';
        gan1.style.color = 'green';
        //gan2.style.color = 'green';
        per1.style.color = 'black';
        //per2.style.color = 'black';
    } else if (idV < idA) {
        gan1.textContent = '-';
        per1.textContent = '1';
        gan1.style.color = '-';
        per1.style.color = 'red';
    }
    // Calcular resultador vtV y vtA 
    if (vtV > vtA) {
        gan1.textContent = '1';
        //gan2.textContent = '1';
        per1.textContent = '-';
        //per2.textContent = '-';
        gan1.style.color = 'green';
        //gan2.style.color = 'green';
        per1.style.color = 'black';
        //per2.style.color = 'black';
    } else if (vtV < vtA) {
        gan1.textContent = '-';
        per1.textContent = '1';
        gan1.style.color = 'black';
        per1.style.color = 'red';

    } 
    if (vtA > vtV){
        gan1.textContent = '-';
        //gan2.textContent = '-';
        per1.textContent = '1';
        //per2.textContent = '1';
        gan1.style.color = 'black';
        //gan2.style.color = 'black';
        per1.style.color = 'red';
        //per2.style.color = 'red';
    } else if (vtA < vtV) {
        gan1.textContent = '1';
        per1.textContent = '-';
        gan1.style.color = 'green';
        per1.style.color = '-';
    }
    // Calcular average
    const avgResult1 = idA - idV;
    const avgResult2 = idV - idA;
    const avgResult3 = vtV - vtA;
    const avgResult4 = vtA - vtV;
    if (avgResult1 > 0) {
        average.textContent = avgResult1;
        average.style.color = 'green';
    } else if (avgResult1 < 0) {
        average.textContent = '-' + avgResult1;
        average.style.color = 'red';
    } else if (avgResult2 > 0 ){
        average.textContent = avgResult2;
        average.style.color = 'green';
    } else if (avgResult2 < 0){
        average.textContent = '-' + avgResult2;
        average.style.color = 'red';
    } else if (avgResult3 > 0) {
        average.textContent = avgResult3;
        average.style.color = 'green';
    } else if (avgResult3 < 0) {
        average.textContent = '-' + avgResult3;
        average.style.color = 'red';
    } else if (avgResult4 > 0) {
        average.textContent = avgResult4;
        average.text.color = 'green';
    } else if (avgResult4 < 0) {
        average.textContent = '-' + avgResult4;
        average.style.color = 'red';
    }
     else {
        average.textContent = avgResult1, avgResult2;
        average.style.color = 'blue';
    }

    // Calcular aver-tot
    const averTotResult = average;
    if (averTotResult > 0) {
        averTot.textContent = 'Ganado';
        averTot.style.color = 'green';
    } else if (averTotResult < 0) {
        averTot.textContent = 'Perdido';
        averTot.style.color = 'red';
    } else {
        averTot.textContent = 'Empatado';
        averTot.style.color = 'blue';
    }
});
</script>

</body>
</html>