<!doctype html>
<html lang="es">
<head>
  <title>Calendario-Fundación Aliados</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="bg-white calend_basket">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ms-1">
          <li class="breadcrumb-item"><a href="/seccion/baloncesto" class="text-white text-decoration-none">Sección</a></li>
          <li class="breadcrumb-item active text-dark" aria-current="page">Calendario Fundación Aliados</li>
        </ol>
    </nav>
    <section class="container-lg mb-5">
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">	
              <div class="carousel-item active"><!--Tabla Calendario-->
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos" style="width: 70rem;">
                    <div class="card-body">
                      <div class="table-responsive">
                        <h3 class="text-center text-white fw-bold">Calendario</h3>
                        <table class="table table-bordered tabla_equipos"><!--Tabla Calendario F.Aliados-->
                            <thead>
                                <tr class="text-center text-white">
                                  <th></th>
                                  <th colspan="2">Jornadas</th>
                                  <th colspan="4">Resultados</th>
                                  <th colspan="2">Partidos</th>
                                </tr>
                                <tr class="text-center text-white">
                                  <th scope="col">Equipos</th>
                                  <th>Ida</th>
                                  <th>Vlt</th>
                                  <th colspan="2">Ida</th>
                                  <th colspan="2">Vlt</th>
                                  <th>PG</th>
                                  <th>PP</th>
                                  <th>Average</th>
                                </tr>
                            </thead>
                              <tbody>
                                <tr class="text-center"><!--CD Ilunión-->
                                    <th class="text-white">CD Ilunión</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                                <tr class="text-center"><!--Bidaideak Bilbao BSR-->
                                    <th class="text-white">Bidaideak Bilbao BSR</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                                <tr class="text-center"><!--Ucam Murcia BSR-->
                                    <th class="text-white">Ucam Murcia BSR</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="id-V fw-bold"></td>                   
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                                <tr class="text-center"><!--BSR Amiab Albacete-->
                                    <th class="text-white">BSR Amiab Albacete</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                                <tr class="text-center"><!--Econy Gran Canaria-->
                                    <th class="text-white">Econy Gran Canaria</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                                <tr class="text-center"><!--Amivel Reyes Gutiérrez-->
                                    <th class="text-white">Amivel Reyes Gutiérrez</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="id-A fw-bold"></td> 
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                                <tr class="text-center"><!--Iberconsa Amfiv-->
                                    <th class="text-white">Iberconsa Amfiv</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                                <tr class="text-center"><!--Fundación Aliados-->
                                    <th class="text-white">Fundación Aliados</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                                <tr class="text-center"><!--Bidaideak Bilbao BSR-->
                                    <th class="text-white">Bidaideak Bilbao BSR</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                                <tr class="text-center"><!--Mideba Extremadura-->
                                    <th class="text-white">Mideba Extremadura</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                                <tr class="text-center"><!--IMF Getafe BSR-->
                                    <th class="text-white">IMF Getafe BSR</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                                <tr class="text-center"><!--Menarini Juventut-->
                                    <th class="text-white">Menarini Juventut</th>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="jornadas fw-bold"></td>
                                    <td class="id-A fw-bold"></td>
                                    <td class="id-V fw-bold"></td>
                                    <td class="vta-V fw-bold"></td>
                                    <td class="vta-A fw-bold"></td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                </tr>
                              </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item"><!--Tabla Resultados-->
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos" style="width: 70rem;">
                    <div class="card-body">
                      <div class="table-responsive">
                        <h3 class="text-center text-white fw-bold">Resultados</h3>
                        <table class="table tabla_resultados"><!--Tabla Resultados-->
                            <thead>
                                <h5 class="text-center jornadas">Visitante</h5>
                              <tr>
                                <th><h5 class="">Local</h5></th>
                                <th class="vertical">CD Ilunión</th>
                                <th class="vertical">Bidaideak Bilbao BSR</th>
                                <th class="vertical">Econy Gran Canaria</th>
                                <th class="vertical">BSR Amiab Albacete</th>
                                <th class="vertical">Mideba Extremadura</th>
                                <th class="vertical">Ucam Murcia BSR</th>
                                <th class="vertical">IMF Getafe BSR</th>
                                <th class="vertical">Iberconsa Amfiv</th>
                                <th class="vertical">Fundación Aliados</th>
                                <th class="vertical">Servigest Burgos BSR</th>
                                <th class="vertical">Amivel Reyes Gutiérrez</th>
                                <th class="vertical">Menarini Juventut</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr><!--CD Ilunion-->
                                <th>CD Ilunión</th>
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Bidaideak Bilbao BSR-->
                                <td class=""></td><!--Ucam Murcia BSR-->
                                <td class=""></td><!--BSR Amiab Albacete-->
                                <td class=""></td><!--Econy Gran Canaria-->
                                <td class=""></td><!--Amivel Reyes Gutiérrez-->
                                <td class=""></td><!--Iberconsa Amfiv-->
                                <td class=""></td><!--Fundación Aliados-->
                                <td class=""></td><!--Servigest Burgos BSR-->
                                <td class=""></td><!--Mideba Extremadura-->
                                <td class=""></td><!--IMF Getafe BSR-->
                                <td class=""></td><!--Menarini Juventut-->
                              </tr>
                              <tr><!--Bidaideak Bilbao BSR-->
                                <th>Bidaideak Bilbao BSR</th>
                                <td class=""></td><!--CD Ilunión-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Ucam Murcia BSR-->
                                <td class=""></td><!--BSR Amiab Albacete-->
                                <td class=""></td><!--Econy Gran Canaria-->
                                <td class=""></td><!--Amivel Reyes Gutiérrez-->
                                <td class=""></td><!--Iberconsa Amfiv-->
                                <td class=""></td><!--Fundación Aliados-->
                                <td class=""></td><!--Servigest Burgos BSR-->
                                <td class=""></td><!--Mideba Extremadura-->
                                <td class=""></td><!--IMF Getafe BSR-->
                                <td class=""></td><!--Menarini Juventut-->
                              </tr>
                              <tr><!--Ucam Murcia BSR-->
                                <th>Ucam Murcia BSR</th>
                                <td class=""></td><!--CD Ilunión-->
                                <td class=""></td><!--Bidaideak Bilbao BSR-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--BSR Amiab Albacete-->
                                <td class=""></td><!--Econy Gran Canaria-->
                                <td class=""></td><!--Amivel Reyes Gutiérrez-->
                                <td class=""></td><!--Iberconsa Amfiv-->
                                <td class=""></td><!--Fundación Aliados-->
                                <td class=""></td><!--Servigest Burgos BSR-->
                                <td class=""></td><!--Mideba Extremadura-->
                                <td class=""></td><!--IMF Getafe BSR-->
                                <td class=""></td><!--Menarini Juventut-->
                                
                              </tr>
                              <tr><!--BSR Amiab Albacete-->
                                <th>BSR Amiab Albacete</th>
                                <td class=""></td><!--CD Ilunión-->
                                <td class=""></td><!--Bidaideak Bilbao BSR-->
                                <td class=""></td><!--Ucam Murcia BSR-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Econy Gran Canaria-->
                                <td class=""></td><!--Amivel Reyes Gutiérrez-->
                                <td class=""></td><!--Iberconsa Amfiv-->
                                <td class=""></td><!--Fundación Aliados-->
                                <td class=""></td><!--Servigest Burgos BSR-->
                                <td class=""></td><!--Mideba Extremadura-->
                                <td class=""></td><!--IMF Getafe BSR-->
                                <td class=""></td><!--Menarini Juventut-->
                                
                              </tr>
                              <tr><!--Econy Gran Canaria-->
                                <th>Econy Gran Canaria</th>
                                <td class=""></td><!--CD Ilunión-->
                                <td class=""></td><!--Bidaideak Bilbao BSR-->
                                <td class=""></td><!--Ucam Murcia BSR-->
                                <td class=""></td><!--BSR Amiab Albacete-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Amivel Reyes Gutiérrez-->
                                <td class=""></td><!--Iberconsa Amfiv-->
                                <td class=""></td><!--Fundación Aliados-->
                                <td class=""></td><!--Servigest Burgos BSR-->
                                <td class=""></td><!--Mideba Extremadura-->
                                <td class=""></td><!--IMF Getafe BSR-->
                                <td class=""></td><!--Menarini Juventut-->
                              </tr>
                              <tr><!--Amivel Reyes Gutiérrez-->
                                <th>Amivel Reyes Gutiérrez</th>
                                <td class=""></td><!--CD Ilunión-->
                                <td class=""></td><!--Bidaideak Bilbao BSR-->
                                <td class=""></td><!--Ucam Murcia BSR-->
                                <td class=""></td><!--BSR Amiab Albacete-->
                                <td class=""></td><!--Econy Gran Canaria-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Iberconsa Amfiv-->
                                <td class=""></td><!--Fundación Aliados-->
                                <td class=""></td><!--Servigest Burgos BSR-->
                                <td class=""></td><!--Mideba Extremadura-->
                                <td class=""></td><!--IMF Getafe BSR-->
                                <td class=""></td><!--Menarini Juventut-->
                                
                              </tr>
                              <tr><!--Iberconsa Amfiv-->
                                <th>Iberconsa Amfiv</th>
                                <td class=""></td><!--CD Ilunión-->
                                <td class=""></td><!--Bidaideak Bilbao BSR-->
                                <td class=""></td><!--Ucam Murcia BSR-->
                                <td class=""></td><!--BSR Amiab Albacete-->
                                <td class=""></td><!--Econy Gran Canaria-->
                                <td class=""></td><!--Amivel Reyes Gutiérrez-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Fundación Aliados-->
                                <td class=""></td><!--Servigest Burgos BSR-->
                                <td class=""></td><!--Mideba Extremadura-->
                                <td class=""></td><!--IMF Getafe BSR-->
                                <td class=""></td><!--Menarini Juventut-->
                              </tr>
                              <tr><!--Fundación Aliados-->
                                <th>Fundación Aliados</th>
                                <td class=""></td><!--CD Ilunión-->
                                <td class=""></td><!--Bidaideak Bilbao BSR-->
                                <td class=""></td><!--Ucam Murcia BSR-->
                                <td class=""></td><!--BSR Amiab Albacete-->
                                <td class=""></td><!--Econy Gran Canaria-->
                                <td class=""></td><!--Amivel Reyes Gutiérrez-->
                                <td class=""></td><!--Iberconsa Amfiv-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Servigest Burgos BSR-->
                                <td class=""></td><!--Mideba Extremadura-->
                                <td class=""></td><!--IMF Getafe BSR-->
                                <td class=""></td><!--Menarini Juventut-->
                              </tr>
                              <tr><!--Servigest Burgos BSR-->
                                <th>Servigest Burgos BSR</th>
                                <td class=""></td><!--CD Ilunión-->
                                <td class=""></td><!--Bidaideak Bilbao BSR-->
                                <td class=""></td><!--Ucam Murcia BSR-->
                                <td class=""></td><!--BSR Amiab Albacete-->
                                <td class=""></td><!--Econy Gran Canaria-->
                                <td class=""></td><!--Amivel Reyes Gutiérrez-->
                                <td class=""></td><!--Iberconsa Amfiv-->
                                <td class=""></td><!--Fundación Aliados-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--Mideba Extremadura-->
                                <td class=""></td><!--IMF Getafe BSR-->
                                <td class=""></td><!--Menarini Juventut-->
                              </tr>
                              <tr><!--Mideba Extremadura-->
                                <th>Mideba Extremadura</th>
                                <td class=""></td><!--CD Ilunión-->
                                <td class=""></td><!--Bidaideak Bilbao BSR-->
                                <td class=""></td><!--Ucam Murcia BSR-->
                                <td class=""></td><!--BSR Amiab Albacete-->
                                <td class=""></td><!--Econy Gran Canaria-->
                                <td class=""></td><!--Amivel Reyes Gutiérrez-->
                                <td class=""></td><!--Iberconsa Amfiv-->
                                <td class=""></td><!--Fundación Aliados-->
                                <td class=""></td><!--Servigest Burgos BSR-->
                                <td class="bg-dark"></td>
                                <td class=""></td><!--IMF Getafe BSR-->
                                <td class=""></td><!--Menarini Juventut-->
                                
                              </tr>
                              <tr><!--IMF Getafe BSR-->
                                <th>IMF Getafe BSR</th>
                                <td class=""></td><!--CD Ilunión-->
                                <td class=""></td><!--Bidaideak Bilbao BSR-->
                                <td class=""></td><!--Ucam Murcia BSR-->
                                <td class=""></td><!--BSR Amiab Albacete-->
                                <td class=""></td><!--Econy Gran Canaria-->
                                <td class=""></td><!--Amivel Reyes Gutiérrez-->
                                <td class=""></td><!--Iberconsa Amfiv-->
                                <td class=""></td><!--Fundación Aliados-->
                                <td class=""></td><!--Servigest Burgos BSR-->
                                <td class=""></td><!--Mideba Extremadura-->
                                <td class="bg-dark"></td>
                                <td class="text-danger"></td><!--Menari Juventut-->
                              </tr>
                              <tr><!--Menari Juventut-->
                                <th>Menari Juventut</th>
                                <td class=""></td><!--CD Ilunión-->
                                <td class=""></td><!--Bidaideak Bilbao BSR-->
                                <td class=""></td><!--Ucam Murcia BSR-->
                                <td class=""></td><!--BSR Amiab Albacete-->
                                <td class=""></td><!--Econy Gran Canaria-->
                                <td class=""></td><!--Amivel Reyes Gutiérrez-->
                                <td class=""></td><!--Iberconsa Amfiv-->
                                <td class=""></td><!--Fundación Aliados-->
                                <td class=""></td><!--Servigest Burgos BSR-->
                                <td class=""></td><!--Mideba Extremadura-->
                                <td class=""></td><!--IMF Getafe BSR-->
                                <td class="bg-dark"></td>
                              </tr>
                            </tbody>        
                        </table>
                          <p><strong class="text-danger">Rojo</strong>-Gana equipo visitante</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        </section>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
<script src="/static/js/script.js"></script>
<script>
// Obtener todas las filas de la tabla
const rows = document.querySelectorAll('.tabla_equipos tbody tr');
// Iterar sobre cada fila para realizar los cálculos
rows.forEach(row => {
    const idA = parseFloat(row.querySelector('.id-A').textContent);
    const idV = parseFloat(row.querySelector('.id-V').textContent);
    const vtA = parseFloat(row.querySelector('.vta-A').textContent);
    const vtV = parseFloat(row.querySelector('.vta-V').textContent);
    const gan1 = row.querySelector('.gan-1');
    const per1 = row.querySelector('.per-1');
    const average = row.querySelector('.average');
    if (idA > idV) {
        gan1.textContent = '-';
        per1.textContent = '1';
        gan1.style.color = 'black';
        per1.style.color = 'red';
    } else if (idA < idV) {
        gan1.textContent = '1';
        per1.textContent = '-';
        gan1.style.color = 'green';
        per1.style.color = 'black';
    } 
    if (!isNaN(vtA) && !isNaN(vtV)) {
        if (vtV > vtA) {
            gan1.textContent = gan1.textContent === '-' ? '1' : (parseInt(gan1.textContent) + 1).toString();
            gan1.style.color = 'green';
        } else if (vtA > vtV) {
            per1.textContent = per1.textContent === '-' ? '1' : (parseInt(per1.textContent) + 1).toString();
            gan1.style.color = 'red';
        }
    }
    // Calcular average
    const avgIda = idV - idA;
    const avgVuelta = (isNaN(vtA) || isNaN(vtV)) ? 0 : vtV - vtA;
    const avgTotal = avgIda + avgVuelta;

    if (!isNaN(avgTotal)) {
        if (avgTotal > 0) {
            average.textContent = avgTotal;
            average.style.color = 'green';
        } else if (avgTotal < 0) {
            average.textContent = avgTotal;
            average.style.color = 'red';
        } else {
            average.textContent = avgTotal;
            average.style.color = 'blue';
    }
} else {
    average.textContent = '';
}
});
</script>
</body>
</html>