<!doctype html>
<html lang="es">
<head>
  <title>{% block titulo %} Sección de los deportes {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="bg-white calend_basket">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ms-1">
          <li class="breadcrumb-item"><a href="/seccion/baloncesto" class="text-white text-decoration-none">Sección</a></li>
          <li class="breadcrumb-item active text-dark" aria-current="page">Calendario UEMC</li>
        </ol>
    </nav>
    <section class="container-lg mb-5">
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">	
              <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos" style="width: 70rem;">
                    <div class="card-body">
                      <div class="table-responsive">
                        <h3 class="text-center text-white fw-bold">Calendario</h3>
                        <table class="table table-bordered tabla_equipos"><!--Tabla Calendario UEMC-->
                            <thead>
                                <tr class="text-center text-white">
                                  <th></th>
                                  <th colspan="2">Jornadas</th>
                                  <th colspan="4">Resultados</th>
                                  <th colspan="2">Partidos</th>
                                </tr>
                                <tr class="text-center text-white">
                                  <th scope="col">Equipos</th>
                                  <th >Ida</th>
                                  <th>Vta</th>
                                  <th colspan="2">Ida</th>
                                  <th colspan="2">Vta</th>
                                  <th>PG</th>
                                  <th>PP</th>
                                  <th>Average</th>
                                </tr>
                            </thead>
                              <tbody>
                                {% for equipo, datos_equipo in tabla_partidos_uemc.items() %}
                                  <tr class="text-center">
                                    <th class="text-white">{{ equipo }}</th>
                                    <td class="jorn_ida fw-bold">
                                      {% for jornada, resultados in datos_equipo['jornadas'].items() %}
                                        {% if datos_equipo['jorn_ida'] %}
                                          J -{{ datos_equipo['jorn_ida']|regex_replace('Jornada','') }} ({{ resultados['rol_uemc'] }})
                                        {% endif %}
                                      {% endfor %}
                                    </td>
                                    <td class="jorn_vuelta fw-bold">
                                      {% for jornada, resultados in datos_equipo['jornadas'].items() %}
                                        {% if datos_equipo['jorn_vuelta'] %}
                                        J -{{ datos_equipo['jorn_vuelta']|regex_replace('Jornada','') }} ({{ resultados['rol_uemc'] }})
                                        {% endif %}
                                      {% endfor %}
                                    </td>
                                    <td class="resultadoA fw-bold">{{ tabla_partidos_uemc[equipo]['resultadoA'] }}</td>
                                    <td class="resultadoB fw-bold">{{ tabla_partidos_uemc[equipo]['resultadoB'] }}</td>
                                    <td class="resultadoAA fw-bold">{{ tabla_partidos_uemc[equipo]['resultadoAA'] }}</td>
                                    <td class="resultadoBB fw-bold">{{ tabla_partidos_uemc[equipo]['resultadoBB'] }}
                                    </td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos" style="width: 70rem;">
                    <div class="card-body">
                      <div class="table-responsive">
                        <h3 class="text-center text-white fw-bold">Resultados</h3>
                        <table class="table tabla_resultados"><!--Tabla Resultados-->
                            <thead>
                                <h5 class="text-center jornadas">Visitante</h5>
                              <tr>
                                <th><h5 class="">Local</h5></th>
                                <th class="vertical">S.Pablo Burgos</th>
                                <th class="vertical">M.Estudiantes</th>
                                <th class="vertical">Club Ourense</th>
                                <th class="vertical">Leyma Coruña</th>
                                <th class="vertical">Guuk Gipuzkoa</th>
                                <th class="vertical">HLA Alicante</th>
                                <th class="vertical">Amics Castelló</th>
                                <th class="vertical">UEMC Valladolid</th>
                                <th class="vertical">Alimerka Oviedo</th>
                                <th class="vertical">Tizona Burgos</th>
                                <th class="vertical">Fuenlabrada</th>
                                <th class="vertical">Alega Cantabria</th>
                                <th class="vertical">Rioverede Clavijo</th>
                                <th class="vertical">Força Lleida</th>
                                <th class="vertical">Hestia Menorca</th>
                                <th class="vertical">Caceres</th>
                                <th class="vertical">Real Betis</th>
                                <th class="vertical">Melilla</th>
                              </tr>
                            </thead>
                            <tbody>
                              
                            </tbody>        
                        </table>
                          <p><strong class="text-danger">Rojo</strong>-Gana equipo visitante</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        </section>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
<script src="/static/js/script.js"></script>
<script>
  // Quinta función calendario individual UEMC
  document.addEventListener('DOMContentLoaded', function() {
    // Seleccionar todas las filas de la tabla
    var filas = document.querySelectorAll('.tabla_equipos tbody tr');
    // Iterar sobre cada fila
    filas.forEach(function(fila) {
        // Obtener el nombre del equipo de la fila actual
        var equipo = fila.querySelector('th').textContent.trim();
        // Obtener la jornada y determinar si el UEMC juega en casa o como visitante
        var jornadaElement = fila.querySelector('.jorn_ida');
        var esLocal = false; // Por defecto, asumimos que el UEMC juega como visitante
        if (jornadaElement) {
            var jornada = jornadaElement.textContent.trim();
            if (jornada.includes('C')) {
                esLocal = true;
            }
        }
        // Obtener los valores de los resultados de la fila
        var resultadoA = parseInt(fila.querySelector('.resultadoA').textContent);
        var resultadoB = parseInt(fila.querySelector('.resultadoB').textContent);
        var resultadoAA = parseInt(fila.querySelector('.resultadoAA').textContent);
        var resultadoBB = parseInt(fila.querySelector('.resultadoBB').textContent);
        // Comparar los resultados y actualizar el estilo de las celdas correspondientes
        var gan1 = fila.querySelector('.gan-1');
        var per1 = fila.querySelector('.per-1');
        if (esLocal) {
            if (resultadoA > resultadoB) {
                gan1.textContent = '1';
                gan1.style.color = 'green';
                per1.textContent = '-';
            } else if (resultadoA < resultadoB) {
                per1.textContent = '1';
                per1.style.color = 'red';
                gan1.textContent = '-';
            } else if (resultadoA > resultadoB) {
                gan1.textContent = '1';
                gan1.style.color = 'green';
                per1.textContent = '-';  
            }else if (resultadoAA < resultadoBB) {
                per1.textContent = '1';
                per1.style.color = 'red';
                gan1.textContent = '-';
            }else {
                gan1.textContent = '-';
                per1.textContent = '-';
            }
        } else {
            if (resultadoB > resultadoA) {
                gan1.textContent = '1';
                gan1.style.color = 'green';
                per1.textContent = '-';
            } else if (resultadoB < resultadoA) {
                per1.textContent = '1';
                per1.style.color = 'red';
                gan1.textContent = '-';
            } else if (resultadoBB > resultadoAA) {
                gan1.textContent = '1';
                gan1.style.color = 'green';
                per1.textContent = '-';
            }else if (resultadoBB < resultadoAA) {
                per1.textContent = '1';
                per1.style.color = 'red';
                gan1.textContent = '-';
            }else {
                gan1.textContent = '-';
                per1.textContent = '-';
            }
        }
    });
});
</script>
</body>
</html>