<!doctype html>
<html lang="es">
<head>
  <title>Calendario-Ponce</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la liga local, la Copa del Rey/Reina, competiciones europeas, y explicaciones de los sistemas de liga.">
  <meta name="keywords" content="deporte, Valladolid, resultados, liga local, Copa del Rey, Copa de la Reina, competiciones europeas, análisis, sistemas de liga">
  <meta name="author" content="eldeportedelaciudad">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="bg-white calend_basket">
  <div class="sticky-top">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb ms-1">
          <li class="breadcrumb-item"><a href="/seccion/baloncesto" class="text-white text-decoration-none">Sección</a></li>
          <li class="breadcrumb-item active text-dark" aria-current="page">Calendario Ponce</li>
        </ol>
    </nav>
  </div>
    <section class="container-lg mb-5">
        <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
            <div class="carousel-inner">	
              <div class="carousel-item active"> <!-- Tabla Calendario Individual -->
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos" style="width: 80rem;">
                    <div class="card-body">
                      <div class="table-responsive">
                        <h3 class="text-center text-white fw-bold">Calendario Individual 24/25</h3>
                        <table class="table table-bordered tabla_equipos tabla_ponce"><!--Tabla Calendario Ponce-->
                            <thead>
                                <tr class="text-center text-white">
                                  <th></th>
                                  <th colspan="2">Jornadas</th>
                                  <th colspan="4">Resultados</th>
                                  <th colspan="2">Partidos</th>
                                </tr>
                                <tr class="text-center text-white">
                                  <th scope="col">Equipos</th>
                                  <th >Ida</th>
                                  <th>Vta</th>
                                  <th colspan="2">Ida</th>
                                  <th colspan="2">Vta</th>
                                  <th>PG</th>
                                  <th>PP</th>
                                  <th>Average</th>
                                </tr>
                            </thead>
                              <tbody>
                                {% for equipo, datos_equipo in tabla_partidos_ponce.items() %}
                                  <tr class="text-center">
                                    <th class="text-white size_equipos">{{ equipo }}</th>
                                    <td class="jorn_ida fw-bold">
                                      {% if datos_equipo.get('primer_enfrentamiento') %}
                                        J-{{ datos_equipo['primer_enfrentamiento']|regex_replace('Jornada','') }}
                                        {% if datos_equipo['jornadas'][datos_equipo['primer_enfrentamiento']]['rol_ponce'] %}
                                          ({{ datos_equipo['jornadas'][datos_equipo['primer_enfrentamiento']]['rol_ponce'] }})
                                        {% endif %}
                                      {% endif %}
                                    </td>
                                    <td class="jorn_vuelta fw-bold">
                                      {% if datos_equipo.get('segundo_enfrentamiento') %}
                                        J-{{ datos_equipo['segundo_enfrentamiento']|regex_replace('Jornada','') }}
                                        {% if datos_equipo['jornadas'][datos_equipo['segundo_enfrentamiento']]['rol_ponce'] %}
                                          ({{ datos_equipo['jornadas'][datos_equipo['segundo_enfrentamiento']]['rol_ponce'] }})
                                        {% endif %}
                                      {% endif %}
                                    </td>
                                    <td class="resultadoA fw-bold">{{ tabla_partidos_ponce[equipo]['resultadoA'] }}</td>
                                    <td class="resultadoB fw-bold">{{ tabla_partidos_ponce[equipo]['resultadoB'] }}</td>
                                    <td class="resultadoAA fw-bold">{{ tabla_partidos_ponce[equipo]['resultadoAA'] }}</td>
                                    <td class="resultadoBB fw-bold">{{ tabla_partidos_ponce[equipo]['resultadoBB'] }}</td>
                                    <td class="gan-1"></td>
                                    <td class="per-1"></td>
                                    <td class="average"></td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item"><!-- Resultados temporada 23/24 -->
                <div class="d-flex justify-content-center">
                  <div class="card tabla_equipos" style="width: 80rem;">
                    <h3 class="text-center text-white fw-bold my-3">Resultados 24/25</h3>
                    <div class="card-body">
                      <div class="container-fluid">
                        <div class="row">
                          {% for goles in nuevos_datos_ponce %}
                          <div class="col-lg-4">
                            <div class="card card_calendario mb-3">
                              <div class="table-responsive">
                                <table class="table table-bordered card_calendario tabla_jornadas">
                                  <thead class="fondo_jornadas">
                                    <tr class="text-center">
                                      <td colspan="5" class="text-center text-white fw-bold">{{ goles.nombre }}</td>
                                    </tr>
                                  </thead>
                                  <tbody style="display:none">
                                    {% for partido in goles.partidos %}
                                    <tr class="text-center">
                                      <td class="text-white text-center fw-bold">{{ partido.fecha }} {{ partido.hora }}</td>
                                      <td class="text-center fw-bold size_equipos">{{ partido.local }}</td>
                                      <td class="text-center text-white">{{ partido.resultadoA }}</td>
                                      <td class="text-center text-white">{{ partido.resultadoB }}</td>
                                      <td class="text-center fw-bold size_equipos">{{ partido.visitante }}</td>
                                    </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                                <div class="d-flex ms-1 my-1">
                                  <a href="#" onclick="toggleTabla(this, `{{ goles.nombre }}` ) " class="text-decoration-none ps-3 text-white">Ver</a>
                                </div>
                              </div> 
                            </div>
                          </div>
                        {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        </section>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script> 
<script src="/static/js/script.js"></script>
<script src="/static/js/leer_mas.js"></script>
<script src="/static/js/num_caracteres.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  // Seleccionar todas las filas de la tabla
  var filas = document.querySelectorAll('.tabla_ponce tbody tr');
  // Iterar sobre cada fila
  filas.forEach(function(fila) {
      // Obtener el nombre del equipo de la fila actual
      var equipo = fila.querySelector('th').textContent.trim();
      console.log(equipo)
      // Obtener la jornada y determinar si el UEMC juega en casa o como visitante
      var jornadaElement = fila.querySelector('.jorn_ida');
      var esLocal = false; // Por defecto, asumimos que el UEMC juega como visitante
      if (jornadaElement) {
          var jornada = jornadaElement.textContent.trim();
          if (jornada.includes('C')) {
              esLocal = true;
          } 
      }
      // Obtener los valores de los resultados de la fila
      var resultadoA = parseInt(fila.querySelector('.resultadoA').textContent);
      console.log(resultadoA)
      var resultadoB = parseInt(fila.querySelector('.resultadoB').textContent);
      console.log(resultadoB)
      var resultadoAA = parseInt(fila.querySelector('.resultadoAA').textContent);
      console.log(resultadoAA)
      var resultadoBB = parseInt(fila.querySelector('.resultadoBB').textContent);
      console.log(resultadoBB)
      // Comparar los resultados y actualizar el estilo de las celdas correspondientes
      var gan1 = fila.querySelector('.gan-1');
      var per1 = fila.querySelector('.per-1');
      var ganados1 = 0;
      var perdidos1 = 0;
      if (esLocal) {
        if (resultadoA > resultadoB) {
            ganados1 = 1;
            gan1.textContent = '1';
            gan1.style.color = 'green';
            per1.textContent = '-';
        } else if (resultadoA < resultadoB) {
            perdidos1 = 1;
            per1.textContent = '1';
            per1.style.color = 'red';
            gan1.textContent = '-';
        }
    } else {
        if (resultadoB > resultadoA) {
            ganados1 = 1;
            gan1.textContent = '1';
            gan1.style.color = 'green';
            per1.textContent = '-';
        } else if (resultadoB < resultadoA) {
            perdidos1 = 1;
            per1.textContent = '1';
            per1.style.color = 'red';
            gan1.textContent = '-';
        }
    }
          // Actualizar recuentos del primer enfrentamiento según los resultados del segundo enfrentamiento
          var jornadaElement2 = fila.querySelector('.jorn_vuelta');
          var esLocalSegundo = false; // Por defecto, asumimos que el UEMC juega como visitante
          if (jornadaElement2) {
            var jornada2 = jornadaElement2.textContent.trim();
            if (jornada2.includes('C')) {
              esLocalSegundo = true;
            } 
          }
        if (!isNaN(resultadoAA) && !isNaN(resultadoBB)) {
          if (esLocalSegundo) {
            if (resultadoAA > resultadoBB) {
              ganados1++;
              gan1.textContent = ganados1.toString();
              gan1.style.color = 'green';
          } else if (resultadoAA < resultadoBB) {
              perdidos1++;
              per1.textContent = perdidos1.toString();
              per1.style.color = 'red';
          }
        } else { // Si UEMC jugó como visitante en el segundo enfrentamiento
          if (resultadoBB > resultadoAA) {
              ganados1++;
              gan1.textContent = ganados1.toString();
              gan1.style.color = 'green';
          } else if (resultadoBB < resultadoAA) {
              perdidos1++;
              per1.textContent = perdidos1.toString();
              per1.style.color = 'red';
          }
        }
      }  
  });
  // Cálculo del average del primer enfrentamiento
  filas.forEach(function(fila) {
    var resultadoA = parseInt(fila.querySelector('.resultadoA').textContent);
    var resultadoB = parseInt(fila.querySelector('.resultadoB').textContent);
    var average = fila.querySelector('.average');
    var avgIda; // Average del primer enfrentamiento
    if (resultadoA && resultadoB) {
      if (fila.querySelector('.jorn_ida').textContent.trim().includes('C')) {
        // UEMC juega como local
        avgIda = resultadoA - resultadoB; // Calcula la diferencia de puntos
      } else {
        // UEMC juega como visitante
        avgIda = resultadoB - resultadoA; // Calcula la diferencia de puntos
      }
    } else {
        avgIda = 0; // Si no hay resultados, el average es 0
    }
    if (!isNaN(avgIda)) {
        average.textContent = avgIda;
      // Colorea el average según su valor
      if (avgIda > 0) {
        average.style.color = 'green';
      } else if (avgIda < 0) {
        average.style.color = 'red';
      } else {
        average.style.color = 'blue';
      }
    } else {
        average.textContent = '';
    }
  });
  // Cálculo del average del primer enfrentamiento
filas.forEach(function(fila) {
    var resultadoA = parseInt(fila.querySelector('.resultadoA').textContent);
    var resultadoB = parseInt(fila.querySelector('.resultadoB').textContent);
    var average = fila.querySelector('.average');
    var avgIda; // Average del primer enfrentamiento
    if (resultadoA && resultadoB) {
        if (fila.querySelector('.jorn_ida').textContent.trim().includes('C')) {
            // UEMC juega como local
            avgIda = resultadoA - resultadoB; // Calcula la diferencia de puntos
        } else {
            // UEMC juega como visitante
            avgIda = resultadoB - resultadoA; // Calcula la diferencia de puntos
        }
    } else {
        avgIda = 0; // Si no hay resultados, el average es 0
    }
    if (!isNaN(avgIda)) {
        average.textContent = avgIda;
        // Colorea el average según su valor
        if (avgIda > 0) {
            average.style.color = 'green';
        } else if (avgIda < 0) {
            average.style.color = 'red';
        } else {
            average.style.color = 'blue';
        }
    } else {
        average.textContent = '';
    }
});
// Cálculo del average del segundo enfrentamiento
filas.forEach(function(fila) {
    var resultadoAA = parseInt(fila.querySelector('.resultadoAA').textContent);
    var resultadoBB = parseInt(fila.querySelector('.resultadoBB').textContent);
    var average = fila.querySelector('.average');
    var avgVuelta; // Average del segundo enfrentamiento
    if (resultadoAA && resultadoBB) {
        if (fila.querySelector('.jorn_vuelta').textContent.trim().includes('C')) {
            // UEMC juega como local en el segundo enfrentamiento
            avgVuelta = resultadoAA - resultadoBB; // Calcula la diferencia de puntos
        } else {
            // UEMC juega como visitante en el segundo enfrentamiento
            avgVuelta = resultadoBB - resultadoAA; // Calcula la diferencia de puntos
        }
    } else {
        avgVuelta = 0; // Si no hay resultados, el average es 0
    }
    if (!isNaN(avgVuelta)) {
        // Actualiza el average total sumando o restando el average del segundo enfrentamiento
        var avgTotal = parseInt(average.textContent) + avgVuelta;
        average.textContent = avgTotal;
        // Colorea el average según su valor
        if (avgTotal > 0) {
            average.style.color = 'green';
        } else if (avgTotal < 0) {
            average.style.color = 'red';
        } else {
            average.style.color = 'blue';
        }
    } else {
        average.textContent = '';
    }
});
});
</script>
</body>
</html>