<!doctype html>
<html lang="es">
<head>
  <title>{% block titulo %} Sección de los deportes {% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="bg-white calend_basket">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-2 ms-2">
          <li class="breadcrumb-item"><a href="/seccion/baloncesto" class="text-white text-decoration-none">Sección</a></li>
          <li class="breadcrumb-item active text-white" aria-current="page">Calendario UEMC</li>
        </ol>
    </nav>
    <section class="container-lg d-flex justify-content-center">
        <div class="table-responsive ">
            <h2 class="text-center fw-bold text-white">UEMC Valladolid</h2>
            <table class="table table-bordered border-dark caption-top tabla_equipos">
                <thead>
                    <tr class="text-center">
                      <th></th>
                      <th colspan="2">Jornadas</th>
                      <th colspan="2">Resultados</th>
                      <th colspan="2">Ganados</th>
                      <th colspan="2">Perdidos</th>
                      <th></th>
                      <th></th>
                    </tr>
                    <tr class="text-center">
                      <th scope="col">Equipos</th>
                      <th>Ida</th>
                      <th>Vlt</th>
                      <th>Ida</th>
                      <th>Vlt</th>
                      <th>Ida</th>
                      <th>Vlt</th>
                      <th>Ida</th>
                      <th>Vlt</th>
                      <th>Average</th>
                      <th>Average Final</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center">
                        <th>Tizona Burgos</th>
                        <td>1ª-F</td>
                        <td>31ª-C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Hestia Menorca</th>
                        <td>2ª-C</td>
                        <td>24ª-F</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>HLA Alicante</th>
                        <td>3ª-F</td>
                        <td>18ª-C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Leyma Coruña</th>
                        <td>4ª-C</td>
                        <td>30ª-F</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>San Pablo Burgos</th>
                        <td>5ª-F</td>
                        <td>27ª-C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Real Betis</th>
                        <td>6ª-C</td>
                        <td>32ª-F</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Alega Cantabria</th>
                        <td>7ª-F</td>
                        <td>21ª-C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Força Lleida</th>
                        <td>8ª-C</td>
                        <td>28ª-F</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Movistar Estudiantes</th>
                        <td>9ª-F</td>
                        <td>29ª-C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Gipuzkoa Basket</th>
                        <td>10ª-C</td>
                        <td>19ª-F</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Amics Castello</th>
                        <td>11ª-C</td>
                        <td>22ª-F</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Rioverde Clavijo</th>
                        <td>12ª-F</td>
                        <td>23ª-C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Caceres</th>
                        <td>13ª-F</td>
                        <td>20ª-C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Melilla</th>
                        <td>14ª-C</td>
                        <td>26ª-F</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Alimerka Oviedo</th>
                        <td>15ª-F</td>
                        <td>33ª-C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Fuenlabrada</th>
                        <td>16ª-C</td>
                        <td>34ª-F</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <th>Club Ourense</th>
                        <td>17ª-F</td>
                        <td>25ª-C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tbody>
            </table>
        </div>
    </section>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script>
<script src="/static/js/script.js"></script>
</body>
</html>