<!doctype html>
<html lang="es">
<head>
  <title>Clasificación y Ánalisis UEMC</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="calend_basket">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb ms-1">
      <li class="breadcrumb-item"><a href="/seccion/baloncesto" class="text-white text-decoration-none">Sección</a></li>
      <li class="breadcrumb-item active text-dark" aria-current="page">Clasificación y Ánalisis</li>
    </ol>
  </nav>
<h2 class="text-white text-center">Ponce Valladolid</h2>
<section class="container-lg mb-5">
  <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">	
        <div class="carousel-item active"><!--Tabla Clasificación-->
          <div class="d-flex justify-content-center">
            <div class="card tabla_equipos" style="width: 70rem;">
              <div class="card-body"> 
                <div class="row table-responsive">
                  <h3 class="text-center">Clasificación</h3>
                  <div class="col-1">
                    <table class="table"> <!--Posiciones-->
                      <thead>
                        <tr>
                          <th>Posición</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr>
                          <td class="bg-success text-white">1</td>
                        </tr>
                        <tr>
                          <td class="bg-success text-white">2</td>
                        </tr>
                        <tr>
                          <td class="bg-success text-white">3</td>
                        </tr>
                        <tr>
                          <td class="bg-success text-white">4</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">5</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">6</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">7</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">8</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">9</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">10</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">11</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">12</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">13</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">14</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-11">
                  <table id="tablaClasifPonce" class="table">
                    <thead>
                      <tr class="text-center">
                        <th>Equipos</th>
                        <th>PJ</th>
                        <th>PG</th>
                        <th>PP</th>
                        <th>PF</th>
                        <th>PC</th>
                        <th>DP</th>
                        <th>PTS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center"> <!--Ponce Valladolid-->
                        <td class="fw-bold">Ponce Valladolid</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">3</td>
                        <td class="perdidos fw-bold">9</td>
                        <td class="favor fw-bold">683</td>
                        <td class="contra fw-bold">802</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Miralvalle Plasen-->
                        <td class="fw-bold">Miralvalle Plasen</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">10</td>
                        <td class="perdidos fw-bold">2</td>
                        <td class="favor fw-bold">844</td>
                        <td class="contra fw-bold">722</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Maristas Coruña-->
                        <td class="fw-bold">Maristas Coruña</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">8</td>
                        <td class="perdidos fw-bold">3</td>
                        <td class="favor fw-bold">746</td>
                        <td class="contra fw-bold">675</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Magectias-->
                        <td class="fw-bold">Magectias</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">4</td>
                        <td class="perdidos fw-bold">8</td>
                        <td class="favor fw-bold">699</td>
                        <td class="contra fw-bold">751</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Adba Sanfer-->
                        <td class="fw-bold">Adba Sanfer</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">3</td>
                        <td class="perdidos fw-bold">9</td>
                        <td class="favor fw-bold">702</td>
                        <td class="contra fw-bold">799</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Náutico Tenerife-->
                        <td class="fw-bold">Náutico Tenerife</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">3</td>
                        <td class="perdidos fw-bold">9</td>
                        <td class="favor fw-bold">738</td>
                        <td class="contra fw-bold">859</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--C.B.Arxil-->
                        <td class="fw-bold">C.B.Arxil</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">9</td>
                        <td class="perdidos fw-bold">3</td>
                        <td class="favor fw-bold">808</td>
                        <td class="contra fw-bold">716</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Tenerife-->
                        <td class="fw-bold">Tenerife</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">2</td>
                        <td class="perdidos fw-bold">10</td>
                        <td class="favor fw-bold">576</td>
                        <td class="contra fw-bold">839</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Mipelletymas-->
                        <td class="fw-bold">Mipelletymas</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">8</td>
                        <td class="perdidos fw-bold">4</td>
                        <td class="favor fw-bold">823</td>
                        <td class="contra fw-bold">761</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Mariscos Antón-->
                        <td class="fw-bold">Mariscos Antón</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">6</td>
                        <td class="perdidos fw-bold">5</td>
                        <td class="favor fw-bold">671</td>
                        <td class="contra fw-bold">644</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Segle XII-->
                        <td class="fw-bold">Segle XII</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">11</td>
                        <td class="perdidos fw-bold">0</td>
                        <td class="favor fw-bold">863</td>
                        <td class="contra fw-bold">556</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--CB Grup Barna-->
                        <td class="fw-bold">CB Grup Barna</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">2</td>
                        <td class="perdidos fw-bold">10</td>
                        <td class="favor fw-bold">674</td>
                        <td class="contra fw-bold">778</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Homs U.E.Mataró-->
                        <td class="fw-bold">Homs U.E.Mataró</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">5</td>
                        <td class="perdidos fw-bold">7</td>
                        <td class="favor fw-bold">716</td>
                        <td class="contra fw-bold">687</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Geieg-->
                        <td class="fw-bold">Geieg</td>
                        <td class="jugados fw-bold "></td>
                        <td class="ganados fw-bold">8</td>
                        <td class="perdidos fw-bold">3</td>
                        <td class="favor fw-bold">699</td>
                        <td class="contra fw-bold">653</td>
                        <td class="dife fw-bold"></td>
                        <td class="puntos fw-bold"></td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item"><!--Tabla PlayOff--> 
          <div class="d-flex justify-content-center">
            <div class="card tabla_equipos" style="width: 70rem;">
              <div class="card-body">
                <div class="row table-responsive">
                  <h3 class="text-center">PlayOff a Liga Femenina Challenge</h3>
                  <div class="col-1">
                    <table class="table"> <!--Posiciones-->
                      <thead>
                        <tr>
                          <th>Posición</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr>
                          <td class="bg-success text-white">1</td>
                        </tr>
                        <tr>
                          <td class="bg-success text-white">2</td>
                        </tr>
                        <tr>
                          <td class="bg-success text-white">3</td>
                        </tr>
                        <tr>
                          <td class="bg-success text-white">4</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">5</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">6</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">7</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">8</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">9</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">10</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">11</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">12</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">13</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">14</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-11">
                  <table id="tablaAscPonce" class="table"><!--Tabla Ascenso-->
                    <thead>
                      <tr class="text-center">
                        <th>Equipos</th>
                        <th>PJ</th>
                        <th>P.Ganados</th>
                        <th>Prox</th>
                        <th>P.Matem</th>
                        <th>P.Opti</th>
                        <th>P.Pesi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center"> <!--Ponce Valladolid-->
                        <td class="fw-bold">Ponce Valladolid</td>
                        <td class="jugados1 fw-bold">12</td>
                        <td class="pts-act1 fw-bold">3</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Miralvalle Plasen-->
                        <td class="fw-bold">Miralvalle Plasen</td>
                        <td class="jugados1 fw-bold ">12</td>
                        <td class="pts-act1 fw-bold">10</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Maristas Coruña-->
                        <td class="fw-bold">Maristas Coruña</td>
                        <td class="jugados1 fw-bold ">11</td>
                        <td class="pts-act1 fw-bold">8</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Magectias-->
                        <td class="fw-bold">Magectias</td>
                        <td class="jugados1 fw-bold ">12</td>
                        <td class="pts-act1 fw-bold">4</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Adba Sanfer-->
                        <td class="fw-bold">Adba Sanfer</td>
                        <td class="jugados1 fw-bold ">12</td>
                        <td class="pts-act1 fw-bold">3</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Náutico Tenerife-->
                        <td class="fw-bold">Náutico Tenerife</td>
                        <td class="jugados1 fw-bold ">12</td>
                        <td class="pts-act1 fw-bold">3</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--C.B.Arxil-->
                        <td class="fw-bold">C.B.Arxil</td>
                        <td class="jugados1 fw-bold ">12</td>
                        <td class="pts-act1 fw-bold">9</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Tenerife-->
                        <td class="fw-bold">Tenerife</td>
                        <td class="jugados1 fw-bold ">12</td>
                        <td class="pts-act1 fw-bold">2</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Mipelletymas-->
                        <td class="fw-bold">Mipelletymas</td>
                        <td class="jugados1 fw-bold ">12</td>
                        <td class="pts-act1 fw-bold">8</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Marsicos Antón-->
                        <td class="fw-bold">Mariscos Antón</td>
                        <td class="jugados1 fw-bold ">11</td>
                        <td class="pts-act1 fw-bold">6</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Segle XII-->
                        <td class="fw-bold">Segle XII</td>
                        <td class="jugados1 fw-bold ">11</td>
                        <td class="pts-act1 fw-bold">11</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--CB Grup Barna-->
                        <td class="fw-bold">CB Grup Barna</td>
                        <td class="jugados1 fw-bold ">12</td>
                        <td class="pts-act1 fw-bold">2</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Homs U.E.Mataró-->
                        <td class="fw-bold">Homs U.E.Mataró</td>
                        <td class="jugados1 fw-bold ">12</td>
                        <td class="pts-act1 fw-bold">5</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Geieg-->
                        <td class="fw-bold">Geieg</td>
                        <td class="jugados1 fw-bold ">11</td>
                        <td class="pts-act1 fw-bold">8</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item"><!--Tabla Descenso-->
          <div class="d-flex justify-content-center">
            <div class="card tabla_equipos" style="width: 70rem;">
              <div class="card-body">
                <div class="row table-responsive">
                  <h3 class="text-center">Descenso Liga Femenina 1</h3>
                  <div class="col-1">
                    <table class="table"> <!--Posiciones-->
                      <thead>
                        <tr>
                          <th>Posición</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr>
                          <td class="bg-secondary text-white">1</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">2</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">3</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">4</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">5</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">6</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">7</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">8</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">9</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">10</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">11</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">12</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">13</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">14</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-11">
                  <table id="tablaPlayPonce" class="table">
                    <thead>
                      <tr class="text-center">
                        <th>Equipos</th>
                        <th>PJ</th>
                        <th>P.Ganados</th>
                        <th>Prox</th>
                        <th>P.Matem</th>
                        <th>P.Opti</th>
                        <th>P.Pesi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center"> <!--Ponce Valladolid-->
                        <td class="fw-bold">Ponce Valladolid</td>
                        <td class="play-jug fw-bold ">12</td>
                        <td class="play-act fw-bold">3</td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Miralvalle Plasen-->
                        <td class="fw-bold">Miralvalle Plasen</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold"></td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Maristas Coruña-->
                        <td class="fw-bold">Maristas Coruña</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold"></td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Magectias-->
                        <td class="fw-bold">Magectias</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold"></td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Adba Sanfer-->
                        <td class="fw-bold">Adba Sanfer</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold">3</td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Náutico Tenerife-->
                        <td class="fw-bold">Náutico Tenerife</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold">3</td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--C.B.Arxil-->
                        <td class="fw-bold">C.B.Arxil</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold"></td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Tenerife-->
                        <td class="fw-bold">Tenerife</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold"></td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Mipelletymas-->
                        <td class="fw-bold">Mipelletymas</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold"></td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Mariscos Antón-->
                        <td class="fw-bold">Mariscos Antón</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold"></td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Segle XII-->
                        <td class="fw-bold">Segle XII</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold"></td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--CB Grup Barna-->
                        <td class="fw-bold">CB Grup Barna</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold"></td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Homs U.E.Mataró-->
                        <td class="fw-bold">Homs U.E.Mataró</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold"></td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      <tr class="text-center"> <!--Geieg-->
                        <td class="fw-bold">Geieg</td>
                        <td class="play-jug fw-bold "></td>
                        <td class="play-act fw-bold"></td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="carousel-item">--><!--Tabla sin asignación-->
          <!--<div class="d-flex justify-content-center">
            <div class="card tabla_equipos" style="width: 70rem;">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                   <h3 class="text-center mb-4">Descenso</h3>
                    <thead class="py-3">
                      <tr class="text-center">
                        <th>Posición</th>
                        <th>Equipos</th>
                        <th>Proximidad</th>
                        <th>P.Matemáticos</th>
                        <th>P.Optimista</th>
                        <th>P.Pesimistas</th>
                        <th>P.Actuales</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center">
                        <th class="bg-success text-white">1</th>
                        <th>S.Pablo Burgos</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-warning text-white">2</th>
                        <th>M.Estudiantes</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-warning text-white">3</th>
                        <th>UEMC Valladolid</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-warning text-white">4</th>
                        <th>Leyma Coruña</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-warning text-white">5</th>
                        <th>Gipuzkoa Basket</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-warning text-white">6</th>
                        <th>Tizona Burgos</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-warning text-white">7</th>
                        <th>HLA Alicante</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-warning text-white">8</th>
                        <th>Força Lleida</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-warning text-white">9</th>
                        <th>Alimerka Oviedo</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-secondary text-white">10</th>
                        <th>Club Ourense</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-secondary text-white">11</th>
                        <th>Grupo Alega Cantabria</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-secondary text-white">12</th>
                        <th>Melilla</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-secondary text-white">13</th>
                        <th>AMICS Castelló</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-secondary text-white">14</th>
                        <th>Real Betis</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-secondary text-white">15</th>
                        <th>Fuenlabrada</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-secondary text-white">16</th>
                        <th>Hestia Menorca</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></tr>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-danger text-white">17</th>
                        <th>Caceres</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                      <tr class="text-center">
                        <th class="bg-danger text-white">18</th>
                        <th>Rioverde Clavijo</th>
                        <th>13</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  </section>
  <!--Fin Carrusel-->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/analisis-ponce.js"></script>
</body>
</html>
