<!doctype html>
<html lang="es">
<head>
  <title></title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body>
    <nav class="nav justify-content-start mb-3">
      <a class="nav-link" href="#">Sección</a>
      <a class="nav-link" href="">Calendario</a>
      <a class="nav-link" href="#">Clasificación y Ánalisis</a>
    </nav>
    <h1 class="mb-4">Clasificación y Ánalisis</h1>
    <section class="container-lg mb-5">
    <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">	
          <div class="carousel-item active">
            <div class="d-flex justify-content-center">
              <div class="card" style="width: 70rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <!--<table class="table">
                     <h3 class="text-center mb-4">Clasificación</h3>
                      <thead class="py-3">
                        <tr class="text-center">
                          <th>Posición</th>
                          <th>Equipos</th>
                          <th>PJ</th>
                          <th>PG</th>
                          <th>PP</th>
                          <th>PF</th>
                          <th>PC</th>
                          <th>DP</th>
                          <th>PTS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <th class="bg-success text-white">1</th>
                          <th>Segle XXI</th>
                          <th>11</th>
                          <th>11</th>
                          <th>0</th>
                          <th>863</th>
                          <th>556</th>
                          <th></th>
                          <th>22</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">2</th>
                          <th>Miralvalle Plasen</th>
                          <th>11</th>
                          <th>9</th>
                          <th>2</th>
                          <th>764</th>
                          <th>653</th>
                          <th></th>
                          <th>20</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">3</th>
                          <th>Maristas Coruña</th>
                          <th>11</th>
                          <th>8</th>
                          <th>3</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">4</th>
                          <th>Leyma Coruña</th>
                          <th>13</th>
                          <th>9</th>
                          <th>4</th>
                          <th>1159</th>
                          <th>1049</th>
                          <th>110</th>
                          <th>22</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">5</th>
                          <th>Gipuzkoa Basket</th>
                          <th>13</th>
                          <th>9</th>
                          <th>4</th>
                          <th>1053</th>
                          <th>958</th>
                          <th>95</th>
                          <th>22</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">6</th>
                          <th>Tizona Burgos</th>
                          <th>13</th>
                          <th>9</th>
                          <th>4</th>
                          <th>1157</th>
                          <th>1091</th>
                          <th>66</th>
                          <th>22</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">7</th>
                          <th>HLA Alicante</th>
                          <th>13</th>
                          <th>8</th>
                          <th>5</th>
                          <th>1023</th>
                          <th>982</th>
                          <th>41</th>
                          <th>21</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">8</th>
                          <th>Força Lleida</th>
                          <th>13</th>
                          <th>7</th>
                          <th>6</th>
                          <th>1022</th>
                          <th>981</th>
                          <th>41</th>
                          <th>20</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">9</th>
                          <th>Alimerka Oviedo</th>
                          <th>13</th>
                          <th>6</th>
                          <th>7</th>
                          <th>1038</th>
                          <th>1041</th>
                          <th>-3</th>
                          <th>19</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">10</th>
                          <th>Club Ourense</th>
                          <th>13</th>
                          <th>6</th>
                          <th>7</th>
                          <th>924</th>
                          <th>1006</th>
                          <th>-82</th>
                          <th>19</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">11</th>
                          <th>Grupo Alega Cantabria</th>
                          <th>13</th>
                          <th>5</th>
                          <th>8</th>
                          <th>1027</th>
                          <th>1088</th>
                          <th>-61</th>
                          <th>18</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">12</th>
                          <th>Melilla</th>
                          <th>13</th>
                          <th>5</th>
                          <th>8</th>
                          <th>957</th>
                          <th>1012</th>
                          <th>-55</th>
                          <th>18</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">13</th>
                          <th>AMICS Castelló</th>
                          <th>13</th>
                          <th>4</th>
                          <th>9</th>
                          <th>1045</th>
                          <th>1127</th>
                          <th>-82</th>
                          <th>17</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">14</th>
                          <th>Real Betis</th>
                          <th>13</th>
                          <th>14</th>
                          <th>9</th>
                          <th>1039</th>
                          <th>1033</th>
                          <th>6</th>
                          <th>17</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">15</th>
                          <th>Fuenlabrada</th>
                          <th>13</th>
                          <th>4</th>
                          <th>9</th>
                          <th>983</th>
                          <th>1050</th>
                          <th>-67</th>
                          <th>17</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">16</th>
                          <th>Hestia Menorca</th>
                          <th>13</th>
                          <th>3</th>
                          <th>10</th>
                          <th>870</th>
                          <th>985</th>
                          <th>-115</th>
                          <th>16</tr>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-danger text-white">17</th>
                          <th>Caceres</th>
                          <th>13</th>
                          <th>3</th>
                          <th>10</th>
                          <th>973</th>
                          <th>1102</th>
                          <th>-129</th>
                          <th>16</th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-danger text-white">18</th>
                          <th>Rioverde Clavijo</th>
                          <th>13</th>
                          <th>2</th>
                          <th>11</th>
                          <th>845</th>
                          <th>992</th>
                          <th>-147</th>
                          <th>15</th>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row table-responsive">
                      <div class="col-1">
                        <table class="">
                          <thead>
                            <tr>
                              <th>Posición</th>
                            </tr>
                          </thead>
                          <tbody class="text-center">
                            <tr>
                              <td>1</td>
                            </tr>
                            <tr>
                              <td>2</td>
                            </tr>
                            <tr>
                              <td>3</td>
                            </tr>
                            <tr>
                              <td>4</td>
                            </tr>
                            <tr>
                              <td>5</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-11">
                        <table id="" class="">
                          <thead>
                            <tr class="text-center">
                              <th>Equipos</th>
                              <th>P.Jugados</th>
                              <th>P.Ganados</th>
                              <th>P.Perdidos</th>
                              <th>Puntos Favor</th>
                              <th>Puntos Contra</th>
                              <th>Dif. Puntos</th>
                              <th>PUNTOS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="text-center">
                              <th>San Pablo Burgos</th>
                              <th class="jugados"></th>
                              <th class="ganados">12</th>
                              <th class="perdidos">3</th>
                              <th class="ptos-fav">1285</th>
                              <th class="ptos-cont">1110</th>
                              <th class="dife"></th>
                              <th class="puntos"></th>
                            </tr>
                            <tr class="text-center">
                              <th>Movistar Estudiantes</th>
                              <th class="jugados"></th>
                              <th class="ganados">13</th>
                              <th class="perdidos">2</th>
                              <th class="ptos-fav">1278</th>
                              <th class="ptos-cont">1106</th>
                              <th class="dife"></th>
                              <th class="puntos"></th>
                            </tr>
                            <tr class="text-center">
                              <th>HLA Alicante</th>
                              <th class="jugados"></th>
                              <th class="ganados">9</th>
                              <th class="perdidos">6</th>
                              <th class="ptos-fav">1185</th>
                              <th class="ptos-cont">1148</th>
                              <th class="dife"></th>
                              <th class="puntos"></th>
                            </tr>
                            <tr class="text-center">
                              <th>LeymaCoruña</th>
                              <th class="jugados"></th>
                              <th class="ganados">11</th>
                              <th class="perdidos">4</th>
                              <th class="ptos-fav">1343</th>
                              <th class="ptos-cont">1202</th>
                              <th class="dife"></th>
                              <th class="puntos"></th>
                            </tr>
                            <tr class="text-center">
                              <th>UEMC Valladolid</th>
                              <th class="jugados"></th>
                              <th class="ganados">10</th>
                              <th class="perdidos">5</th>
                              <th class="ptos-fav">1183</th>
                              <th class="ptos-cont">1172</th>
                              <th class="dife"></th>
                              <th class="puntos"></th>
                            </tr>  
                          </tbody>
                        </table>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <div class="card" style="width: 70rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                     <h3 class="text-center mb-4">Ascenso</h3>
                      <thead class="py-3">
                        <tr class="text-center">
                          <th>Posición</th>
                          <th>Equipos</th>
                          <th>Proximidad</th>
                          <th>P.Matemáticos</th>
                          <th>P.Optimista</th>
                          <th>P.Pesimistas</th>
                          <th>P.Actuales</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <th class="bg-success text-white">1</th>
                          <th>S.Pablo Burgos</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">2</th>
                          <th>M.Estudiantes</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">3</th>
                          <th>UEMC Valladolid</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">4</th>
                          <th>Leyma Coruña</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">5</th>
                          <th>Gipuzkoa Basket</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">6</th>
                          <th>Tizona Burgos</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">7</th>
                          <th>HLA Alicante</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">8</th>
                          <th>Força Lleida</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">9</th>
                          <th>Alimerka Oviedo</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">10</th>
                          <th>Club Ourense</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">11</th>
                          <th>Grupo Alega Cantabria</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">12</th>
                          <th>Melilla</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">13</th>
                          <th>AMICS Castelló</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">14</th>
                          <th>Real Betis</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">15</th>
                          <th>Fuenlabrada</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">16</th>
                          <th>Hestia Menorca</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></tr>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-danger text-white">17</th>
                          <th>Caceres</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-danger text-white">18</th>
                          <th>Rioverde Clavijo</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <div class="card" style="width: 70rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                     <h3 class="text-center mb-4">PlayOff</h3>
                      <thead class="py-3">
                        <tr class="text-center">
                          <th>Posición</th>
                          <th>Equipos</th>
                          <th>Proximidad</th>
                          <th>P.Matemáticos</th>
                          <th>P.Optimista</th>
                          <th>P.Pesimistas</th>
                          <th>P.Actuales</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <th class="bg-success text-white">1</th>
                          <th>S.Pablo Burgos</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">2</th>
                          <th>M.Estudiantes</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">3</th>
                          <th>UEMC Valladolid</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">4</th>
                          <th>Leyma Coruña</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">5</th>
                          <th>Gipuzkoa Basket</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">6</th>
                          <th>Tizona Burgos</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">7</th>
                          <th>HLA Alicante</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">8</th>
                          <th>Força Lleida</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">9</th>
                          <th>Alimerka Oviedo</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">10</th>
                          <th>Club Ourense</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">11</th>
                          <th>Grupo Alega Cantabria</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">12</th>
                          <th>Melilla</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">13</th>
                          <th>AMICS Castelló</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">14</th>
                          <th>Real Betis</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">15</th>
                          <th>Fuenlabrada</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">16</th>
                          <th>Hestia Menorca</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></tr>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-danger text-white">17</th>
                          <th>Caceres</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-danger text-white">18</th>
                          <th>Rioverde Clavijo</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <div class="card" style="width: 70rem;">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                     <h3 class="text-center mb-4">Descenso</h3>
                      <thead class="py-3">
                        <tr class="text-center">
                          <th>Posición</th>
                          <th>Equipos</th>
                          <th>Proximidad</th>
                          <th>P.Matemáticos</th>
                          <th>P.Optimista</th>
                          <th>P.Pesimistas</th>
                          <th>P.Actuales</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <th class="bg-success text-white">1</th>
                          <th>S.Pablo Burgos</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">2</th>
                          <th>M.Estudiantes</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">3</th>
                          <th>UEMC Valladolid</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">4</th>
                          <th>Leyma Coruña</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">5</th>
                          <th>Gipuzkoa Basket</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">6</th>
                          <th>Tizona Burgos</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">7</th>
                          <th>HLA Alicante</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">8</th>
                          <th>Força Lleida</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-warning text-white">9</th>
                          <th>Alimerka Oviedo</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">10</th>
                          <th>Club Ourense</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">11</th>
                          <th>Grupo Alega Cantabria</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">12</th>
                          <th>Melilla</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">13</th>
                          <th>AMICS Castelló</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">14</th>
                          <th>Real Betis</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">15</th>
                          <th>Fuenlabrada</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-secondary text-white">16</th>
                          <th>Hestia Menorca</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></tr>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-danger text-white">17</th>
                          <th>Caceres</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr class="text-center">
                          <th class="bg-danger text-white">18</th>
                          <th>Rioverde Clavijo</th>
                          <th>13</th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    </section>
    <!--Fin Carrusel-->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/analisis-ponce.js"></script>
</body>
</html>
