{% extends 'sistema_ligas/base.html' %}
{% block titulo %} Sistema de Ligas del Rugby {% endblock %}
{% block contenido %}
<!--<h1 class="h1_deportes">Fútbol</h1>
  <section class="container-lg seccion_texto">
    <div class="text_seccion">
      <h2 class="text-center">Donde el Balón es Pasión</h2>
      <p>Bienvenidos al mundo del fútbol en <strong>Valladolid</strong>, donde cada partido es una historia por contar. El deporte rey se vive con fervor y emoción en cada rincón de nuestra comunidad. Desde los equipos locales, tanto femeninos como masculinos, hasta los enfrentamientos internacionales, el fútbol en <strong>Valladolid</strong> es un reflejo de la pasión colectiva y el espíritu competitivo que une a nuestra ciudad.</p>  
    </div>
  </section>-->
  <section class="container-lg">
    <h1 class="text-center my-4 text-white fw-bold">Rugby</h1>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
      <div class="contenedor">
        <div class="categoria">
            <h2 class="fw-bold fs-1">PROFESIONAL</h2>
            <p class="fw-bold">Ámbito Nacional</p>
            <ul class="horizontal-list">
                <li>1.ª DIVISIÓN</li>
                <li>2.ª DIVISIÓN</li>
            </ul>
        </div>
      </div>
      </div>
      <div class="col-lg-12">
        <div class="contenedor">
        <div class="categoria">
            <h2 class="fw-bold fs-1">SEMIPROFESIONAL</h2>
            <p class="fw-bold">Ámbito Nacional</p>
            <ul class="horizontal-list">
                <li>1.ª FEDERACIÓN</li>
                <li>2.ª FEDERACIÓN</li>
                <li>3.ª FEDERACIÓN</li>
            </ul>
        </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="contenedor">
        <div class="categoria">
            <h2 class="fw-bold fs-1">AMATEUR</h2>
            <p class="fw-bold">Ámbito Regional CyL</p>
            <ul class="horizontal-list">
                <li class="federacion">
                  <p class="encabezados">1.ª División Regional Aficionados (7ª Catg.)</p>
                  <div class="texto-adicional">
                    <strong>Ascenso de categoría</strong>
                    <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                    <strong>Descenso de categoría</strong>
                    <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                    
                    <strong>Final de campeones</strong>
                    <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                  </div>
                  <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                </li>
                <li class="federacion">
                  <p class="encabezados">1.ª División Provincial Aficionados (8ª Catg.)</p>
                  <div class="texto-adicional">
                    <strong>Ascenso de categoría</strong>
                    <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                    <strong>Descenso de categoría</strong>
                    <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                    
                    <strong>Final de campeones</strong>
                    <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                    
                  </div>
                  <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
  
                </li>
                <li class="federacion">2.ª División Provincial Aficionados</li>
                <li class="federacion">3.ª División Provincial Aficionados</li>
            </ul>
        </div>
        </div>
      </div>
  
  
  
  
      </div>
    
  </section>
{% endblock %}