{% extends 'sistema_ligas/base.html' %}
{% block titulo %} Sistemas de Ligas de Balonmano {% endblock %}
{% block contenido %}
<!--<h1 class="h1_deportes">Fútbol</h1>
  <section class="container-lg seccion_texto">
    <div class="text_seccion">
      <h2 class="text-center">Donde el Balón es Pasión</h2>
      <p>Bienvenidos al mundo del fútbol en <strong>Valladolid</strong>, donde cada partido es una historia por contar. El deporte rey se vive con fervor y emoción en cada rincón de nuestra comunidad. Desde los equipos locales, tanto femeninos como masculinos, hasta los enfrentamientos internacionales, el fútbol en <strong>Valladolid</strong> es un reflejo de la pasión colectiva y el espíritu competitivo que une a nuestra ciudad.</p>  
    </div>
  </section>-->
  <section class="container-lg">
    
  </section>
{% endblock %}