<!doctype html>
<html lang="es">

<head>
  <title>Sistemas de Ligas - Rugby</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">
  <!-- Favicon -->
  <link rel="icon" type="image/jpg" href="/static/img/logo.png" />
</head>

<body id="body_secciones">
  <div class="d-flex flex-column min-vh-100">
    <section id="cabecera1" class="align-items-center sticky-top">
      <header class="container-fluid d-none d-lg-block"><!-- Cabecera Principal -->
        <!--<div class="d-flex justify-content-center">
            <img src="/static/img/logo_3_bis.png" class="img-fluid" alt="eldeportedelaciudad">
          </div>-->
        <div class="row bg-menu-sistema shadow">
          <div class="col-lg-9 col-md-9">
            <nav class="navbar navbar-expand navbar-light ">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                  <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active text-white fw-bold text-menu-seccion" href="/"
                        aria-current="page">Página Principal</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/baloncesto"
                        aria-current="page">Baloncesto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/balonmano"
                        aria-current="page">Balonmano</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/futbol"
                        aria-current="page">Fútbol</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/futbol_sala"
                        aria-current="page">Fútbol Sala</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/hockey"
                        aria-current="page">Hockey Línea</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/rugby"
                        aria-current="page">Rugby</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/voleibol"
                        aria-current="page">Voleibol</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            <img src="/static/img/logo_3_blanco.png" class="img-fluid" alt="eldeportedelaciudad">
          </div>
        </div>
    </section>
    </header><!--Fin header1-->
    <header class="container-fluid d-lg-none d-md-block bg-menu-sistema">
      <section id="cabecera1" class="d-flex justify-content-around align-items-center">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active fs-5 text-white fw-bold text-menu-seccion" href="/"
                    aria-current="page">Página Principal</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active fs-5 text-white fw-bold text-menu-seccion" href="/sistema_ligas/baloncesto"
                    aria-current="page">Baloncesto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active fs-5 text-white fw-bold text-menu-seccion" href="/sistema_ligas/balonmano"
                    aria-current="page">Balonmano</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active fs-5 text-white fw-bold text-menu-seccion" href="/sistema_ligas/futbol"
                    aria-current="page">Fútbol</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/futbol_sala"
                    aria-current="page">Fútbol Sala</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active fs-5 text-white fw-bold text-menu-seccion" href="/sistema_ligas/hockey"
                    aria-current="page">Hockey Línea</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active fs-5 text-white fw-bold text-menu-seccion" href="/sistema_ligas/rugby"
                    aria-current="page">Rugby</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/voleibol"
                    aria-current="page">Voleibol</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div>
          <img src="/static/img/logo_3_blanco.png" class="img-fluid" alt="eldeportedelaciudad">
        </div>
      </section>
    </header><!-- Fin header 2 -->
    <section class="container-lg my-4 flex-fill">
      <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active"><!-- Sistema liga - Hockey Femenino -->
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 80rem;">
                <div class="card-body">
                  <h1 class="text-center text-white fw-bold">Hockey Femenino</h1>
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-12"><!-- Liga Élite Iberdrola -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h2 class="fw-bold fs-1">Liga Élite Iberdrola</h2>
                          <p class="fw-bold">Real Federación Española de Patinaje</p>
                          <p class="fw-bold">1ª Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong>Organización de la categoría</strong>
                            <p>La competición esta formada por 8 equipos, jugando todos contra todos a doble partido.
                            </p>
                            <strong>Play-Off al Título</strong>
                            <p>El Play-Off de semifinales se disputará al mejor de TRES partidos entre los 4 primeros
                              clasificados en la Liga Regular. Los enfrentamientos de semifinales serán 1º-4º y 2º-3º
                              según la clasificación de la Liga Regular. El Play-Off de la final también es al mejor de
                              TRES partidos, empezando primero en el campo del peor clasificado en la Liga Regular.</p>
                            <strong>Play-Out al Descenso</strong>
                            <p>El Play-Out se disputará al mejor de TRES partidos entre los DOS últimos clasificados en
                              la Liga Regular, el perdedor descendera a la Liga Oro Femenina</p>
                            <strong>SuperCopa de España</strong>
                            <p>La jugarán el 1º clasificado y 2º clasificado de la liga regular, y el campeón y el
                              organizador, sino saliera un organizador sería el subcampeón de la Copa del Rey.Será en
                              una sede única a partido único tanto las semifinales, como la final. </p>
                            <strong>Copa del Rey</strong>
                            <p>La disputarán los 6 primeros clasificados de la primera vuelta de la Liga Regular, el 1º
                              y 2º clasificado pasán a las semifinales directamente. Se disputará en un mismo fin de
                              semana, empezando el viernes los cuartos y acabando el domingo con la final.</p>
                            <strong>Copa de Europa</strong>
                            <p>La disputarán los 5 mejores equipos europeos más el anfitrión de la sede que sea elegida
                              para disputar dicho torneo entre viernes, sabado y domingo del mismo fin de semana.
                              Primero se crearán 2 grupos de 3 equipos cada uno, donde jugarán una liguilla de todos
                              contra todos, entre el viernes y el sabado por la mañana. El sabado por la tarde se
                              jugarán las semifinales entre los 1º y 2º de cada grupo, y el domingo por la tarde se
                              jugará la gran final, con los vencedores de las semifinales.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga Oro Femenina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h2 class="fw-bold fs-1">Liga Oro Femenina</h2>
                          <p class="fw-bold">Real Federación Española de Patinaje</p>
                          <p class="fw-bold">2º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong>Organización de la categoría</strong>
                            <p>Compiten 8 equipos, por sistema de liga regular ida y vuelta, y todos contra todos.</p>
                            <strong>Play-Off Ascenso</strong>
                            <p>Los 4 primeros clasificados jugarán las semifinales al mejor de TRES partidos, los
                              ganadores jugarán la final también al mejor de TRES y el vencedor ascendera a la Liga
                              Élite Iberdrola.</p>
                            <strong>Play-Out Descenso</strong>
                            <p>Los 2 ultimos clasificados jugarán al mejor de TRES partidos,el perdedor descendera a la
                              Liga Plata Femenina.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga Plata Femenina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h2 class="fw-bold fs-1">Liga Plata Femenina</h2>
                          <p class="fw-bold">Real Federación Española de Patinaje</p>
                          <p class="fw-bold">3º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong>Organización de la categoría</strong>
                            <p>La disputarán 12 equipos, divididos en 2 grupos constando la competición en 2 FASES, y se
                              jugara en 5 sedes. La FASE 1 juegan los equipos de cada grupo a partidos de ida y vuelta,
                              y todos contra todos. </p>
                            <strong>Ascenso</strong>
                            <p>Los 3 primeros de cada grupo formarán el Grupo A del ascenso, disputando una liga regular
                              de ida y vuelta y todos contra todos. Los resultados de la ida entre los equipos del mismo
                              grupo se arrastrarán de la primera a la segunda Fase por lo que únicamente se disputarán
                              los partidos correspondientes a la vuelta. El campeón de ascendera a la Liga Oro Femenina.
                            </p>
                            <strong>Descenso</strong>
                            <p> Los 3 ultimos de cada grupo formarán el Grupo D del descenso, con el mismo sistema que
                              el ascenso. El último equipo desciende directo. El penúltimo y antepenúltimo, junto con
                              los 4 equipos que vienen del sector, juegan una liga regular en una sede con 6 equipos.
                              Los 3 primeros obtienen plaza para la Liga Plata Femenina.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item"><!-- Sistema liga - Baloncesto Masculino -->
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 80rem;">
                <div class="card-body">
                  <h1 class="text-center text-white fw-bold">Hockey Masculino</h1>
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-12"><!-- Liga Élite Masculina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h2 class="fw-bold fs-1">Liga Élite Masculina</h2>
                          <p class="fw-bold">Real Federación Española de Patinaje</p>
                          <p class="fw-bold">1ª Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong>Organización de la categoría</strong>
                            <p>La competición esta formada por 10 equipos, jugando todos contra todos a doble partido.
                            </p>
                            <strong>Play-Off al Título</strong>
                            <p>El Play-Off de semifinales se disputará al mejor de TRES partidos entre los 4 primeros
                              clasificados en la Liga Regular. Los enfrentamientos de semifinales serán 1º-4º y 2º-3º
                              según la clasificación de la Liga Regular. El Play-Off de la final también es al mejor de
                              TRES partidos, empezando primero en el campo del peor clasificado en la Liga Regular.</p>
                            <strong>Play-Out al Descenso</strong>
                            <p>El Play-Out se disputará al mejor de TRES partidos entre los DOS últimos clasificados en
                              la Liga Regular, el perdedor descendera a la Liga Oro Masculina</p>
                            <strong>SuperCopa de España</strong>
                            <p>La jugarán el 1º clasificado y 2º clasificado de la liga regular, y el campeón y el
                              organizador, sino saliera un organizador sería el subcampeón de la Copa del Rey.Será en
                              una sede única a partido único tanto las semifinales, como la final. </p>
                            <strong>Copa del Rey</strong>
                            <p>La disputarán los 6 primeros clasificados de la primera vuelta de la Liga Regular, el 1º
                              y 2º clasificado pasán a las semifinales directamente. Se disputará en un mismo fin de
                              semana, empezando el viernes los cuartos y acabando el domingo con la final.</p>
                            <strong>Copa de Europa</strong>
                            <p>La disputarán los 5 mejores equipos europeos más el anfitrión de la sede que sea elegida
                              para disputar dicho torneo entre viernes, sabado y domingo del mismo fin de semana.
                              Primero se crearán 2 grupos de 3 equipos cada uno, donde jugarán una liguilla de todos
                              contra todos, entre el viernes y el sabado por la mañana. El sabado por la tarde se
                              jugarán las semifinales entre los 1º y 2º de cada grupo, y el domingo por la tarde se
                              jugará la gran final, con los vencedores de las semifinales.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga Oro Masculina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h2 class="fw-bold fs-1">Liga Oro Masculina</h2>
                          <p class="fw-bold">Real Federación Española de Patinaje</p>
                          <p class="fw-bold">2º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong>Organización de la categoría</strong>
                            <p>Compiten 10 equipos, por sistema de liga regular ida y vuelta, y todos contra todos.</p>
                            <strong>Play-Off Ascenso</strong>
                            <p>Los 4 primeros clasificados jugarán las semifinales al mejor de TRES partidos, los
                              ganadores jugarán la final también al mejor de TRES y el vencedor ascendera a la Liga
                              Élite Masculina.</p>
                            <strong>Play-Out Descenso</strong>
                            <p>Los 2 ultimos clasificados jugarán al mejor de TRES partidos,el perdedor descendera a la
                              Liga Plata Masculina.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Liga Plata Masculina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h2 class="fw-bold fs-1">Liga Plata Masculina</h2>
                          <p class="fw-bold">Real Federación Española de Patinaje</p>
                          <p class="fw-bold">3º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong>Organización de la categoría</strong>
                            <p>La disputarán 12 equipos, divididos en 2 grupos constando la competición en 2 FASES, y se
                              jugara en 5 sedes. La FASE 1 juegan los equipos de cada grupo a partidos de ida y vuelta,
                              y todos contra todos. </p>
                            <strong>Ascenso</strong>
                            <p>Los 3 primeros de cada grupo formarán el Grupo A del ascenso, disputando una liga regular
                              de ida y vuelta y todos contra todos. Los resultados de la ida entre los equipos del mismo
                              grupo se arrastrarán de la primera a la segunda Fase por lo que únicamente se disputarán
                              los partidos correspondientes a la vuelta. El campeón de ascendera a la Liga Oro
                              Masculina.
                            </p>
                            <strong>Descenso</strong>
                            <p>Los 3 ultimos de cada grupo formarán el Grupo D del descenso, con el mismo sistema que el
                              ascenso. El último equipo desciende directo. El penúltimo y antepenúltimo, junto con los 4
                              equipos que vienen del sector, juegan una liga regular en una sede con 6 equipos. Los 3
                              primeros obtienen plaza para la Liga Plata Masculina.</p>
                          </div>
                          <a href="#" class="mostrar-enlace text-decoration-none"
                            onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section><!--Fin Carrusel-->
    <footer class="container-fluid mt-auto footer-seccion">
      <div class="row">
        <div class="col-lg-3 col-md-3 d-flex justify-content-center align-items-center mb-1 mb-lg-0">
          <a>
            <h5 class="text-start text-white fw-bold fs-4 pt-1 ms-2">eldeportedelaciudad &copy; 2024</h5>
          </a>
        </div>
        <div class="col-lg-7 col-md-8 d-flex flex-wrap justify-content-center align-items-center mb-1 mb-lg-0">
          <a href="#" id="nosotros-link" class="text-decoration-none">
            <h5 class="text-white">Nosotros</h5>
          </a>
          <a href="#" id="contactanos-link" class="text-decoration-none">
            <h5 class="text-white ms-4">Contáctanos</h5>
          </a>
          <a href="#" id="aviso-legal-link" class="text-decoration-none">
            <h5 class="text-white ms-4">Aviso legal</h5>
          </a>
          <a href="#" id="politica-privacidad-link" class="text-decoration-none">
            <h5 class="text-white ms-4">Política de privacidad</h5>
          </a>
          <a href="#" id="politica-cookies-link" class="text-decoration-none">
            <h5 class="text-white ms-4">Política de cookies</h5>
          </a>
          <!--<a><img src="/static/img/usuario.png" class="usuario" alt="usuario"></a>-->
        </div>
        <!--<div class="col-lg-2 d-flex justify-content-end align-items-center ">
          <a><img src="/static/img/facebook.png" class="iconos me-4" alt="facebook"></a>
          <a><img src="/static/img/twitter.png" class="iconos" alt="twitter"></a>
          <--<a><img src="/static/img/usuario.png" class="usuario" alt="usuario"></a>->
        </div>-->
        <div class="col-lg-2 col-md-1 d-flex justify-content-center align-items-center ">
          <img src="/static/img/logo_sinfondo4.png" class="img-fluid me-2 p-1 logo-footer" alt="eldeportedelaciudad">
        </div>
      </div>
    </footer>
    <!-- Modales -->
    <div id="aviso-legal-modal" class="custom-modal aviso-legal-modal"><!-- Aviso Legal -->
      <div class="custom-modal-content aviso-legal-content">
        <span class="custom-close" id="close-aviso-legal">&times;</span>
        <h2 class="text-center fs-1 pb-3"><strong>Aviso Legal</strong></h2>
        <h3><strong>Datos Identificativos</strong></h3>
        <p><strong>Nombre del Sitio:</strong> eldeportedelaciudad.com</p>
        <p><strong>Propietario:</strong> Vanesa Acebes Juarez</p>
        <p><strong>Nif:</strong> 44914916X</p>
        <p><strong>Dirección:</strong> Calle Tomillo 2 1ºB, 47155 Santovenia de Pisuerga ( Valladolid )</p>
        <p><strong>Correo Electrónico:</strong> eldeportedelaciudad@gmail.com</p>
        <h3><strong>Condiciones de Uso</strong></h3>
        <p>El uso de este sitio web implica la aceptación de las siguientes condiciones. Si no está de acuerdo con
          ellas, por favor no utilice este sitio web.</p>
        <h3><strong>Responsabilidad sobre el Contenido</strong></h3>
        <p>El propietario de este sitio web no se responsabiliza de la veracidad, exactitud y actualidad de los datos
          publicados. La información proporcionada es para fines informativos y puede no estar siempre actualizada.</p>
        <h3><strong>Propiedad Intelectual</strong></h3>
        <p>Todos los contenidos, textos, imágenes y código fuente son propiedad del propietario del sitio web o tienen
          licencia para su uso. Queda prohibida su reproducción total o parcial sin autorización expresa.</p>
        <h3><strong>Enlaces Externos</strong></h3>
        <p>Este sitio web puede contener enlaces a otros sitios web. El propietario no se responsabiliza del contenido
          de estos sitios externos.</p>
        <p>Última actualización: 23/05/2024</p>
      </div>
    </div>
    <div id="politica-privacidad-modal" class="custom-modal politica-privacidad-modal"><!-- Política de Privacidad -->
      <div class="custom-modal-content politica-privacidad-content">
        <span class="custom-close" id="close-politica-privacidad">&times;</span>
        <h2 class="text-center fs-1 pb-3"><strong>Política de Privacidad</strong></h2>
        <p>En eldeportedelaciudad, respetamos su privacidad y estamos comprometidos a proteger su información personal.
          Esta política de privacidad describe cómo recopilamos, utilizamos y compartimos su información personal.</p>
        <h3><strong>Qué datos recogemos</strong></h3>
        <p>Podemos recopilar información personal como su nombre, dirección de correo electrónico y dirección IP cuando
          usted visita nuestro sitio web, se suscribe a nuestro boletín o interactúa con nuestras funciones.</p>
        <h3><strong>Cómo recogemos los datos</strong></h3>
        <p>Recopilamos datos personales de diversas maneras, como formularios en línea, cookies y tecnologías de
          seguimiento, y cuando se suscribe a nuestros servicios.</p>
        <h3><strong>Propósito de la recolección</strong></h3>
        <p>Utilizamos sus datos para proporcionar y mejorar nuestros servicios, enviarle información relevante, y para
          análisis internos.</p>
        <h3><strong>Compartir datos</strong></h3>
        <p>No compartimos su información personal con terceros, excepto cuando es necesario para cumplir con la ley,
          proteger nuestros derechos, o proporcionar nuestros servicios.</p>
        <h3><strong>Derechos de los usuarios</strong></h3>
        <p>Usted tiene derecho a acceder, rectificar y eliminar sus datos personales, así como a oponerse al
          procesamiento de sus datos. Para ejercer estos derechos, póngase en contacto con nosotros en
          contacto@example.com.</p>
        <p>Última actualización: 23/05/2024</p>
      </div>
    </div>
    <div id="politica-cookies-modal" class="custom-modal politica-cookies-modal"><!-- Política de Cookies -->
      <div class="custom-modal-content politica-cookies-content">
        <span class="custom-close" id="close-politica-cookies">&times;</span>
        <h2 class="text-center fs-1 pb-3"><strong>Política de Cookies</strong></h2>
        <p>En eldeportedelaciudad, utilizamos cookies para mejorar su experiencia en nuestro sitio web. Esta política de
          cookies explica qué son las cookies, cómo las usamos y cómo puede gestionarlas.</p>
        <h3><strong>Qué son las cookies</strong></h3>
        <p>Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita nuestro sitio
          web. Nos ayudan a recordar sus preferencias y a mejorar su experiencia de usuario.</p>
        <h3><strong>Tipos de cookies utilizadas</strong></h3>
        <p>Utilizamos cookies de sesión, cookies persistentes y cookies de terceros (como Google Analytics) para
          recopilar información sobre cómo utiliza nuestro sitio web.</p>
        <h3><strong>Propósito de las cookies</strong></h3>
        <p>Las cookies nos ayudan a mejorar nuestro sitio web, proporcionar una mejor experiencia de usuario y analizar
          el tráfico del sitio.</p>
        <h3><strong>Gestión de cookies</strong></h3>
        <p>Usted puede gestionar sus preferencias de cookies a través de la configuración de su navegador. Puede
          aceptar, rechazar o eliminar cookies siguiendo las instrucciones específicas de su navegador.</p>
        <p>Para más información sobre cómo gestionar cookies, visite <a
            href="https://www.aboutcookies.org">AboutCookies.org</a>.</p>
        <p>Última actualización: 23/05/2024</p>
      </div>
    </div>
    <div id="nosotros-modal" class="custom-modal nosotros-modal"><!-- Nosotros -->
      <div class="custom-modal-content nosotros-content">
        <span class="custom-close" id="close-nosotros">&times;</span>
        <h2 class="text-center fs-1 pb-3"><strong>Nosotros</strong></h2>
        <p>Bienvenid@s a <strong><i>eldeportedelaciudad</i></strong>, nos apasiona ofrecer la mejor información y
          cobertura sobre los deportes de <i>Valladolid</i> que más te gustan. Hemos creado una plataforma completa que
          abarca diversos deportes y competiciones, proporcionando a nuestros usuarios acceso fácil a calendarios,
          resultados, clasificaciones y análisis detallados. ¡Descubre todo lo que tenemos preparado para ti!</p>
        <div>
          <h2>Deportes Disponibles</h2>
          <p>Hemos incorporado una variedad de deportes para que todos los aficionados encuentren su lugar:</p>
          <ul>
            <li>Baloncesto</li>
            <li>Balonmano</li>
            <li>Fútbol</li>
            <li>Fútbol Sala</li>
            <li>Hockey Línea</li>
            <li>Rugby</li>
            <li>Voleibol</li>
          </ul>
        </div>
        <div>
          <h2>Características de la Página</h2>
          <ul>
            <li>Calendarios individuales de cada equipo</li>
            <li>Resultados de cada jornada</li>
            <li>Clasificaciones actualizadas</li>
            <li>Análisis de porcentaje para alcanzar objetivos</li>
            <li>Eliminatorias de la copa</li>
            <li>Competiciones europeas</li>
          </ul>
        </div>
        <div>
          <h2>Copa y Europa</h2>
          <h5>Eliminatorias de la Copa</h5>
          <p>Sigue de cerca las eliminatorias de la Copa en cada deporte y mantente informado sobre los equipos que
            luchan por el título.</p>
          <h5>Competiciones Europeas</h5>
          <p>Accede a la información de las competiciones europeas, con detalles sobre los equipos y los partidos.</p>
        </div>
        <div>
          <h2>Sistemas de Ligas</h2>
          <p>Cada deporte tiene su propio sistema de liga con diferentes niveles y estructuras. Te ofrecemos una
            descripción detallada de cada uno de ellos, tanto femenino como masculino:</p>
          <h5>Baloncesto Silla de Ruedas</h5>
          <p>Liga BSR División de Honor, Liga BSR 1ª División, Liga BSR 2ª División y Copa de Europa.</p>
          <h5>Baloncesto Femenino</h5>
          <p>Liga Femenina Endesa, Liga Femenina Challange, Liga Femenina 2, 1ª División Femenina, Euroliga Femenina y
            Eurocopa Femenina</p>
          <h5>Baloncesto Masculino</h5>
          <p>Liga ACB, Liga Leb Oro, Liga Leb Plata, Liga EBA, 1ª División Nacional, Euroliga y Eurocup.</p>
          <h5>Balonmano Femenino</h5>
          <p>Liga Guerrera Ibérdrola, Divisón Honor Oro, División Honor Plata, EHF Champions League y EHF European
            League.</p>
          <h5>Balonmano Masculino</h5>
          <p>Liga Asobal, División Honor Plata, 1ª Divisón Nacional, 2ª División Nacional, Territoriales Autónomicas,
            EHF Champions League y EHF European League.</p>
          <h5>Fútbol Femenino</h5>
          <p>Liga 1ª Divisón Nacional, Liga 1ª Federación, Liga 2ª Federación, Liga 3ª Federación, Liga Gonalpi, Liga
            Doble G y Liga de Campeones.</p>
          <h5>Fútbol Masculino</h5>
          <p>Liga EA Sports, Liga Hypermotion, Liga 1ª Federación, Liga 2ª Federación, Liga 3ª Federación, 1ª Div.
            Regional Aficionados, 1ª Div. Provincial Aficionados, 2ª Div. Provincial Aficionados, 3ª Div. Provincial
            Aficionados, Champions League, Europe League, Conference League. </p>
          <h5>Fútbol Sala Femenino</h5>
          <p>Sin equipo actualmente de Valladolid en esta sección.</p>
          <h5>Fútbol Sala Masculino</h5>
          <p>Liga 1ª División, Liga 2ª División, Liga 2ª División B, Liga 3ª División, Champions.</p>
          <h5>Hockey Línea Femenina</h5>
          <p>Liga Élite Iberdrola, Liga Oro Femenina, Liga Plata Femenina y Copa de Europa.</p>
          <h5>Hockey Línea Masculino</h5>
          <p>Liga Élite Masculina, Liga Oro Masculina, Liga Plata Masculina y Copa de Europa.</p>
          <h5>Rugby Femenino</h5>
          <p>División de Honor Femenina, División Honor B Femenina, Copa Ibérica. </p>
          <h5>Rugby Masculino</h5>
          <p>División Honor, División Honor B, Copa Ibérica.</p>
          <h5>Voleibol Femenino</h5>
          <p>Sin equipo actualmente de Valladolid en esta sección.</p>
          <h5>Voleibol Masculino</h5>
          <p>Superliga Masculina, Superliga Masculina 2, 1ª División Masculina, CEV Champions League, Challange Cup.
          </p>
        </div>
        <div>
          <p>¡Explora y disfruta del deporte con nosotros! Estamos comprometidos a ofrecerte la mejor experiencia
            deportiva en línea. Si tienes alguna pregunta o sugerencia, no dudes en ponerte en <a
              href="#contactanos-modal" id="contacto-link" class="text-decoration-none">contacto</a> con nuestro equipo.
          </p>
        </div>
      </div>
    </div>
    <div id="contactanos-modal" class="custom-modal contactanos-modal"><!-- Nosotros -->
      <div class="custom-modal-content contactanos-content">
        <span class="custom-close" id="close-contactanos">&times;</span>
        <h2 class="text-center fs-1 pb-3"><strong>Contáctanos</strong></h2>
        <p>Escribe tus sugerencias, preguntas o alguna información adicional que se nos haya pasado a nosotros.</p>
        <form action="/enviar_correo" method="POST">
          <div class="mb-3">
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="provincia">Provincia:</label>
            <input type="text" id="provincia" name="provincia" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="sugerencia">Sugerencia o Pregunta:</label>
            <textarea id="sugerencia" name="sugerencia" class="form-control" rows="10" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
  <script src="/static/js/script.js"></script>
  <script>
    function mostrarTexto(enlace) {
      // Obtener el elemento <li> padre del enlace
      var liElement = enlace.parentNode;

      // Encontrar el elemento de texto adicional dentro del <li> padre
      var textoAdicional = liElement.querySelector('.texto-adicional');

      // Toggle para mostrar u ocultar el texto adicional
      if (textoAdicional.style.display === 'none' || textoAdicional.style.display === '') {
        textoAdicional.style.display = 'block'; // Mostrar el texto adicional
        enlace.textContent = 'Ocultar'; // Cambiar el texto del enlace
      } else {
        textoAdicional.style.display = 'none'; // Ocultar el texto adicional
        enlace.textContent = 'Leer más'; // Cambiar el texto del enlace
      }
    }
  </script>
</body>

</html>