<!doctype html>
<html lang="es">
<head>
  <title>Sistemas de Ligas - Fútbol</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body id="body_secciones">
    <section id="cabecera1" class="align-items-center sticky-top">
        <header class="container-fluid d-none d-lg-block"><!-- Cabecera Principal -->
          <!--<div class="d-flex justify-content-center">
            <img src="/static/img/logo_3_bis.png" class="img-fluid" alt="eldeportedelaciudad">
          </div>-->
          <div class="row bg-menu-sistema shadow">
          <div class="col-lg-9 col-md-9">
            <nav class="navbar navbar-expand navbar-light ">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active fs-5 text-white fw-bold" href="/" aria-current="page">Página Principal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white fs-5" href="/sistema_ligas/baloncesto" aria-current="page">Baloncesto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white fs-5" href="/sistema_ligas/balonmano" aria-current="page">Balonmano</a>
                  </li>
                  <li class="nav-item"> 
                    <a class="nav-link active text-white fs-5" href="/sistema_ligas/futbol" aria-current="page">Fútbol</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white fs-5" href="/sistema_ligas/hockey" aria-current="page">Hockey Línea</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white fs-5" href="/sistema_ligas/rugby" aria-current="page">Rugby</a>
                  </li>
                </ul>
              </div>
              </div>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            <img src="/static/img/logo_3_blanco.png" class="img-fluid" alt="eldeportedelaciudad">
          </div>
          </div>
    </section>
    </header><!--Fin header1-->
    <header class="container-fluid d-lg-none d-md-block bg-menu-sistema">
      <section id="cabecera1" class="d-flex justify-content-around align-items-center">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white fw-bold" href="/" aria-current="page">Página Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white" href="/sistema_ligas/baloncesto" aria-current="page">Fútbol</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white" href="/sistema_ligas/balonmano" aria-current="page">Balonmano</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white" href="/sistema_ligas/futbol" aria-current="page">Fútbol</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white" href="/sistema_ligas/hockey" aria-current="page">Hockey Línea</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white" href="/sistema_ligas/rugby" aria-current="page">Rugby</a>
              </li>
            </ul>
          </div>
        </div>
        </nav>
        <div>
          <img src="/static/img/logo_3_blanco.png" class="img-fluid" alt="eldeportedelaciudad">
        </div>
      </section>
    </header><!-- Fin header 2 -->
    <section class="container-lg my-4">
      <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active"><!-- Sistema liga - Fútbol Femenino -->	
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 70rem;">
                <div class="card-body">
                  <h1 class="text-center text-white fw-bold">Fútbol Femenino</h1>
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-12"><!-- Profesional -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h2 class="fw-bold fs-1">Profesional</h2>
                          <p class="fw-bold">Ámbito Nacional</p>
                          <ul class="horizontal-list">
                            <li class="federacion">
                              <p class="encabezados">1ª DIVISIÓN NACIONAL DEL FÚTBOL FEMENINO (1º Nivel)</p>
                              <div class="texto-adicional">
                                <strong>Ascenso de categoría</strong>
                                <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                <strong>Descenso de categoría</strong>
                                <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                <strong>Final de campeones</strong>
                                <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                              </div>
                              <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- Semiprofesional -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h2 class="fw-bold fs-1">Semiprofesional</h2>
                          <p class="fw-bold">Ámbito Nacional</p>
                            <ul class="horizontal-list">
                              <li class="federacion">
                                <p class="encabezados">1ª FEDERACIÓN (2º Nivel)</p>
                                <div class="texto-adicional">
                                  <strong>Ascenso de categoría</strong>
                                  <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                  <strong>Descenso de categoría</strong>
                                  <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                  <strong>Final de campeones</strong>
                                  <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                </div>
                                <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                              </li>
                              <li class="federacion">
                                <p class="encabezados">2ª FEDERACIÓN (3º Nivel)</p>
                                <div class="texto-adicional">
                                  <strong>Ascenso de categoría</strong>
                                  <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                  <strong>Descenso de categoría</strong>
                                  <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                  <strong>Final de campeones</strong>
                                  <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                </div>
                                  <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                              </li>
                              <li class="federacion">
                                <p class="encabezados">1ª NACIONAL (4º Nivel)</p>
                                <div class="texto-adicional">
                                  <strong>Ascenso de categoría</strong>
                                  <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                  <strong>Descenso de categoría</strong>
                                  <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                  <strong>Final de campeones</strong>
                                  <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                </div>
                                  <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    <div class="col-lg-12"><!-- Amateur -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h2 class="fw-bold fs-1">Amateur</h2>
                          <p class="fw-bold">Ámbito Autónomico</p>
                          <ul class="horizontal-list">
                            <li class="federacion">
                              <p class="encabezados">Liga Gonalpi (5º Nivel)</p>
                              <div class="texto-adicional">
                                <strong>Ascenso de categoría</strong>
                                <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                <strong>Descenso de categoría</strong>
                                <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                <strong>Final de campeones</strong>
                                <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                              </div>
                              <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                            </li>
                            <li class="federacion">
                              <p class="encabezados">Liga Doble G (6º Nivel)</p>
                              <div class="texto-adicional">
                                <strong>Ascenso de categoría</strong>
                                <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                <strong>Descenso de categoría</strong>
                                <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                <strong>Final de campeones</strong>
                                <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                              </div>
                                <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item"><!-- Sistema liga - Fútbol Masculino -->
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 70rem;">
                <div class="card-body">
                    <h1 class="text-center text-white fw-bold">Fútbol Masculino</h1>
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-12"><!-- Profesional -->
                          <div class="contenedor">
                            <div class="categoria shadow">
                              <h2 class="fw-bold fs-1">Profesional</h2>
                              <p class="fw-bold">Ámbito Nacional</p>
                              <ul class="horizontal-list">
                                <li class="federacion">
                                  <p class="encabezados">LA LIGA EA SPORTS (1º Nivel)</p>
                                  <div class="texto-adicional">
                                    <strong>Ascenso de categoría</strong>
                                    <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                    <strong>Descenso de categoría</strong>
                                    <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                    <strong>Final de campeones</strong>
                                    <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                  </div>
                                  <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                                </li>
                                <li class="federacion">
                                    <p class="encabezados">LA LIGA HYPERMOTION (2º Nivel)</p>
                                    <div class="texto-adicional">
                                      <strong>Ascenso de categoría</strong>
                                      <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                      <strong>Descenso de categoría</strong>
                                      <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                      <strong>Final de campeones</strong>
                                      <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                    </div>
                                    <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                                  </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12"><!-- Semiprofesional -->
                          <div class="contenedor">
                            <div class="categoria shadow">
                              <h2 class="fw-bold fs-1">Semiprofesional</h2>
                              <p class="fw-bold">Ámbito Nacional</p>
                                <ul class="horizontal-list">
                                  <li class="federacion">
                                    <p class="encabezados">1ª FEDERACIÓN (3º Nivel)</p>
                                    <div class="texto-adicional">
                                      <strong>Ascenso de categoría</strong>
                                      <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                      <strong>Descenso de categoría</strong>
                                      <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                      <strong>Final de campeones</strong>
                                      <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                    </div>
                                    <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                                  </li>
                                  <li class="federacion">
                                    <p class="encabezados">2ª FEDERACIÓN (4º Nivel)</p>
                                    <div class="texto-adicional">
                                      <strong>Ascenso de categoría</strong>
                                      <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                      <strong>Descenso de categoría</strong>
                                      <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                      <strong>Final de campeones</strong>
                                      <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                    </div>
                                      <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                                  </li>
                                  <li class="federacion">
                                    <p class="encabezados">3ª FEDERACIÓN (5º Nivel)</p>
                                    <div class="texto-adicional">
                                      <strong>Ascenso de categoría</strong>
                                      <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                      <strong>Descenso de categoría</strong>
                                      <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                      <strong>Final de campeones</strong>
                                      <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                    </div>
                                      <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        <div class="col-lg-12"><!-- Amateur -->
                        <div class="contenedor">
                          <div class="categoria shadow">
                            <h2 class="fw-bold fs-1">Amateur - CyL</h2>
                            <p class="fw-bold">Ámbito Regional</p>
                            <ul class="horizontal-list">
                              <li class="federacion">
                                <p class="encabezados">Liga Gonalpi (6º Nivel)</p>
                                <div class="texto-adicional">
                                  <strong>Ascenso de categoría</strong>
                                  <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                  <strong>Descenso de categoría</strong>
                                  <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                  <strong>Final de campeones</strong>
                                  <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                </div>
                                  <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                              </li>
                              <li class="federacion">
                                <p class="encabezados">Liga Doble G (7º Nivel)</p>
                                <div class="texto-adicional">
                                  <strong>Ascenso de categoría</strong>
                                  <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                  <strong>Descenso de categoría</strong>
                                  <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                  <strong>Final de campeones</strong>
                                  <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                </div>
                                  <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                              </li>
                              <li class="federacion">
                                <p class="encabezados">Liga Doble G (8º Nivel)</p>
                                <div class="texto-adicional">
                                  <strong>Ascenso de categoría</strong>
                                  <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                  <strong>Descenso de categoría</strong>
                                  <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                  <strong>Final de campeones</strong>
                                  <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                </div>
                                  <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                              </li>
                              <li class="federacion">
                                <p class="encabezados">Liga Doble G (9º Nivel)</p>
                                <div class="texto-adicional">
                                  <strong>Ascenso de categoría</strong>
                                  <p>Ascenderán a Segunda División cuatro equipos. Dos de ellos serán los campeones de cada grupo. Los otros dos serán los ganadores de dos eliminatorias que disputarán los equipos clasificados del 2º al 5º puesto de cada grupo. Las posiciones obtenidas durante la fase regular determinarán los emparejamientos. Las eliminatorias serán a partido único. En caso de empate, habrá prórroga; si después de ella persiste el empate, se clasificará el que mejor puesto haya obtenido en la primera fase, y si ambos terminaron en el mismo puesto, habrá tandas de penaltis.</p>
                                  <strong>Descenso de categoría</strong>
                                  <p>Descenderán a Segunda Federación los cinco últimos equipos de cada grupo (del 16º al 20º).</p>
                                  <strong>Final de campeones</strong>
                                  <p>Los primeros clasificados de cada uno de los dos grupos se enfrentan entre sí para determinar el campeón de la Primera Federación. El ganador se clasifica directamene a la segunda ronda de la Copa del Rey, y obteniendo también el trofeo como Campeón de Primera Federación.</p>
                                </div>
                                   <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>    
                  </div>
                </div>
              </div>
            </div>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section><!--Fin Carrusel-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
    <script src="/static/js/script.js"></script>
    <script>
      function mostrarTexto(enlace) {
    // Obtener el elemento <li> padre del enlace
    var liElement = enlace.parentNode;

    // Encontrar el elemento de texto adicional dentro del <li> padre
    var textoAdicional = liElement.querySelector('.texto-adicional');

    // Toggle para mostrar u ocultar el texto adicional
    if (textoAdicional.style.display === 'none' || textoAdicional.style.display === '') {
        textoAdicional.style.display = 'block'; // Mostrar el texto adicional
        enlace.textContent = 'Ocultar'; // Cambiar el texto del enlace
    } else {
        textoAdicional.style.display = 'none'; // Ocultar el texto adicional
        enlace.textContent = 'Leer más'; // Cambiar el texto del enlace
    }
}
  </script>
</body>
</html> 