<!doctype html>
<html lang="es">
<head>
  <title>Sistemas de Ligas - Rugby</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body id="body_secciones">
    <section id="cabecera1" class="align-items-center sticky-top">
        <header class="container-fluid d-none d-lg-block"><!-- Cabecera Principal -->
          <!--<div class="d-flex justify-content-center">
            <img src="/static/img/logo_3_bis.png" class="img-fluid" alt="eldeportedelaciudad">
          </div>-->
          <div class="row bg-menu-sistema shadow">
          <div class="col-lg-9 col-md-9">
            <nav class="navbar navbar-expand navbar-light ">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
              <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active text-white fw-bold text-menu-seccion" href="/" aria-current="page">Página Principal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/baloncesto" aria-current="page">Baloncesto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/balonmano" aria-current="page">Balonmano</a>
                  </li>
                  <li class="nav-item"> 
                    <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/futbol" aria-current="page">Fútbol</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/hockey" aria-current="page">Hockey Línea</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-white fw-bold text-menu-seccion" href="/sistema_ligas/rugby" aria-current="page">Rugby</a>
                  </li>
                </ul>
              </div>
              </div>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            <img src="/static/img/logo_3_blanco.png" class="img-fluid" alt="eldeportedelaciudad">
          </div>
          </div>
    </section>
    </header><!--Fin header1-->
    <header class="container-fluid d-lg-none d-md-block bg-menu-sistema">
      <section id="cabecera1" class="d-flex justify-content-around align-items-center">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white fw-bold" href="/" aria-current="page">Página Principal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white" href="/sistema_ligas/baloncesto" aria-current="page">Fútbol</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white" href="/sistema_ligas/balonmano" aria-current="page">Balonmano</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white" href="/sistema_ligas/futbol" aria-current="page">Fútbol</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white" href="/sistema_ligas/hockey" aria-current="page">Hockey Línea</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 text-white" href="/sistema_ligas/rugby" aria-current="page">Rugby</a>
              </li>
            </ul>
          </div>
        </div>
        </nav>
        <div>
          <img src="/static/img/logo_3_blanco.png" class="img-fluid" alt="eldeportedelaciudad">
        </div>
      </section>
    </header><!-- Fin header 2 -->
    <section class="container-lg my-4">
      <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active"><!-- Sistema liga - Hockey Femenino -->	
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 70rem;">
                <div class="card-body">
                  <h1 class="text-center text-white fw-bold">Rugby Femenino</h1>
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-12"><!-- División de Honnor Femenina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h2 class="fw-bold fs-1">División de Honor Femenina</h2>
                          <p class="fw-bold">Real Federación Española</p>
                          <p class="fw-bold">1ª Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong>Organización de la categoría</strong>
                            <p>Se jugará entre 8 equipos. Habrá una primera fase de liga regular de 7 partidos
                              en 7 jornadas en la que jugarán todos contra todos a una vuelta, determinándose los
                              emparejamientos por sorteo. Finalizada dicha primera vuelta de liga regular se disputará la segunda fase. Se constituirán dos grupos de 4 equipos (los 4 primeros o Grupo A: del 1º al 4º y los 4 siguientes o Grupo B: del 5º al 8º de acuerdo a lo que establece el Reglamento de Partidos y Competiciones para ligas a un número impar de vueltas) que disputarán una segunda fase de 3 jornadas también mediante sistema de liga regular (todos contra todos) a una vuelta. Todos los puntos cuentan en la clasificación (es decir, se arrastran y mantienen los puntos conseguidos en la primera fase). </p>
                            <strong>Play-Off al Título</strong>
                            <p>Finalizada la liga regular el título se decidirá mediante sistema de “Play off” entre los 6 primeros clasificados de la liga regular (4 del Grupo A y el 1º y 2º del Grupo B), donde el 1º y 2º del Grupo A quedan exentps de jugar los cuartos de final.
                            En la primera jornada (Cuartos de Final) los emparejamientos serán:QF1 3º Grupo A - 2º
                            Grupo B;QF2 4º Grupo A - 1º Grupo A.
                            Los encuentros de la segunda jornada (Semifinales) serán 1º Grupo A - Vencedor de QF2, y 2º Grupo A - Vencedor de QF1. Y la final será entre los ganadores de ambas semifinales, todos los enfrentamientos son a partido único.
                              </p>
                            <strong>Descenso</strong>
                            <p>Desciende a División de Honor B el último clasificado.
                              Promociona con el 2º de División de Honor B, el 7º clasificado, en eliminatoria a
                              partido único en campo neutral. Al finalizar la temporada 2023/24, de mantenerse este
                              sistema de competición, se realizaría una nueva asignación de grupos, conforme a la
                              clasificación de la liga regular a la finalización de la misma.</p>
                            <strong>Copa FER Femenina</strong>
                            <p>La jugarán los 16 equipos de División Honor Femenina y División Honor B Femenina agrupados en 4 grupos geográficos (Levante, Centro, Norte y Sur) de 4 equipos cada uno, en formato de liga a una vuelta, jugando 3 partidos cada uno (dos en casa y uno fuera o viceversa, lo cual será determinado por sorteo puro). Tras la primera fase, se jugarán unas semifinales entre los primeros clasificados de cada grupo y una final, entre los vencedores de ambas semifinales, ambas eliminatorias a partido único, siendo el orden de los emparejamientos (local y visitante) determinado por sorteo puro.</p>
                          </div>
                            <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12"><!-- División Honor B Femenina -->
                      <div class="contenedor">
                        <div class="categoria shadow">
                          <h2 class="fw-bold fs-1">División Honor B Femenina</h2>
                          <p class="fw-bold">Real Federación Española</p>
                          <p class="fw-bold">2º Nivel</p>
                          <div class="texto-adicional text-center">
                            <strong>Organización de la categoría</strong>
                            <p>Se jugará entre 8 equipos. Habrá una primera fase de liga regular de 7 partidos
                              en 7 jornadas en la que jugarán todos contra todos a una vuelta, determinándose los
                              emparejamientos por sorteo. Finalizada dicha primera vuelta de liga regular se disputará la segunda fase. Se constituirán dos grupos de 4 equipos (los 4 primeros o Grupo A: del 1º al 4º y los 4 siguientes o Grupo B: del 5º al 8º de acuerdo a lo que establece el Reglamento de Partidos y Competiciones para ligas a un número impar de vueltas) que disputarán una segunda fase de 3 jornadas también mediante sistema de liga regular (todos contra todos) a una vuelta. Todos los puntos cuentan en la clasificación (es decir, se arrastran y mantienen los puntos conseguidos en la primera fase). </p>
                            <strong>Play-Off Ascenso</strong>
                            <p>Finalizada la liga regular el ascenso se decidirá mediante sistema de “Play off” entre los 6 primeros clasificados de la liga regular (4 del Grupo A y el 1º y 2º del Grupo B), donde el 1º y 2º del Grupo A quedan exentos de jugar los cuartos de final.
                            En la primera jornada (Cuartos de Final) los emparejamientos serán:QF1 3º Grupo A - 2º
                            Grupo B;QF2 4º Grupo A - 1º Grupo A. Los encuentros de la segunda jornada (Semifinales) serán 1º Grupo A - Vencedor de QF2, y 2º Grupo A - Vencedor de QF1. Y la final será entre los ganadores de ambas semifinales, todos los enfrentamientos son a partido único. El ganador ascendera directamente y el subcampeón jugará contra el 7º clasificado de la División de Honor Femenina su participación en la primera categoría de la siguiente temporada.</p>
                            <strong>Descenso</strong>
                            <p>El 8º clasificado descendera directamente a Regional, el 7º clasificado jugará contra el 2º clasificado de Regional, y el campeón jugará la siguiente temporada en la División de Honor B  Femenina.</p>
                          </div>
                            <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item"><!-- Sistema liga - Rugby Masculino -->
            <div class="d-flex justify-content-center">
              <div class="card sistema_ligas shadow" style="width: 70rem;">
                <div class="card-body">
                    <h1 class="text-center text-white fw-bold">Rugby Masculino</h1>
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-12"><!-- Liga Élite Masculina -->
                        <div class="contenedor">
                          <div class="categoria shadow">
                            <h2 class="fw-bold fs-1">División de Honor</h2>
                            <p class="fw-bold">Real Federación Española</p>
                            <p class="fw-bold">1ª Nivel</p>
                            <div class="texto-adicional text-center">
                              <strong>Organización de la categoría</strong>
                              <p>Se jugará entre 12 equipos. Habrá una primera fase de liga regular de 11 partidos
                                en 11 jornadas en la que jugarán todos contra todos a una vuelta, determinándose los
                                emparejamientos por sorteo. Finalizada dicha primera vuelta de liga regular se disputará la segunda fase. Se constituirán dos grupos de 6 equipos (los 6 primeros o Grupo A: del 1º al 6º y los 6 siguientes o Grupo B: del 7º al 12º de acuerdo a lo que establece el Reglamento de Partidos y Competiciones para ligas a un número impar de vueltas) que disputarán una segunda fase de 5 jornadas también mediante sistema de liga regular (todos contra todos) a una vuelta. Todos los puntos cuentan en la clasificación (es decir, se arrastran y mantienen los puntos conseguidos en la primera fase). </p>
                              <strong>Play-Off al Título</strong>
                              <p>Finalizada la liga regular el título se decidirá mediante sistema de “Play off” entre los 8 primeros clasificados de la liga regular (6 del Grupo A y el 1º y 2º del Grupo B).
                              En la primera jornada (Cuartos de Final) los emparejamientos serán: 1º Grupo A - 2º
                              Grupo B; 4º Grupo A - 5º Grupo A; 2º Grupo A - 1º Grupo B (equivale al 7º general) y 3º Grupo A - 6º Grupo A.
                              Los encuentros de la segunda jornada (Semifinales) serán entre los ganadores de los
                              emparejamientos anteriores. Es decir: Vencedor a - Vencedor b y Vencedor c - Vencedor d. Las eliminatorias se jugarán a partido único en el campo del mejor clasificado al término de la segunda vuelta o fase de liga regular.
                              </p>
                              <strong>Descenso</strong>
                              <p>Desciende a División de Honor B el último clasificado.
                                Promociona con el 2º de División de Honor B, el 11º clasificado, en eliminatoria a
                                partido único en campo neutral. Al finalizar la temporada 2023/24, de mantenerse este
                                sistema de competición, se realizaría una nueva asignación de grupos, conforme a la
                                clasificación de la liga regular a la finalización de la misma.</p>
                              <strong>Copa de El Rey</strong>
                              <p>Disputarán esta competición de la Copa de El Rey los cuatro equipos que queden en
                                primer lugar tras los resultados de los partidos de la primera vuelta de la Liga de División de Honor de cada uno de los cuatro grupos de tres equipos que se constituirán por sorteo entre los doce equipos de los que constituyen la División de Honor, de tal forma que cada equipo juega dentro de su grupo un encuentro como local y el otro como visitante.
                                Las eliminatorias de semifinales se disputarán a partido único, por sorteo entre los cuatro equipos clasificados. </p>
                            </div>
                              <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12"><!-- División Honor B -->
                        <div class="contenedor">
                          <div class="categoria shadow">
                            <h2 class="fw-bold fs-1">División Honor B</h2>
                            <p class="fw-bold">Real Federación Española</p>
                            <p class="fw-bold">2º Nivel</p>
                            <div class="texto-adicional text-center">
                                <strong>Organización de la categoría</strong>
                                <p>Se jugará entre 33 equipos en tres grupos de 11 equipos respectivamente. Grupo A
                                  (Norte): Asturias, Cantabria, Castilla y León, Galicia, Navarra-Rioja y País Vasco. Grupo B (Este-Levante): Aragón, Baleares, Castilla La Mancha Este, Cataluña, Murcia y Valencia. Grupo C (Centro-Sur): Andalucía, Canarias, Castilla La Mancha Norte/Sur/Oeste, Extremadura y Madrid.
                                  Habrá dos fases (una primera de 10 partidos en 11 jornadas y una segunda de 7 partidos en 7 jornadas) de liga regular más unos “Play-offs”.
                                </p>
                                <strong>Play-Off Ascenso</strong>
                                <p>Los 4 primeros clasificados jugarán las semifinales a parido único en el campo del mejor clasificado en la 2ª Fase de la Liga Regular. Los ganadores jugarán la final y el campeón ascendera de manera autómatica a la División de Honor, y el subcampeón jugará una eliminatoria con el 11º clasificado de la División de Honor en campo neutral, y el ganador jugará la siguiente temporada en la máxima categoría. </p>
                                <strong>Descenso</strong>
                                <p>El último clasificado del grupo A descenderá a categoría Regional. El
                                  penúltimo jugará una promoción a partido único con el 2º clasificado de la Fase de Ascenso de regional a División de Honor B en el campo del equipo de División de Honor B. En función de los huecos que se produzcan por ascensos y descensos entre esta categoría y la División de Honor masculina, el 11º clasificado y último, por tanto, en su caso, como mínimo promocionará, aunque podría ocurrir que descendiera directamente.</p>
                              </div>
                                <a href="#" class="mostrar-enlace text-decoration-none" onclick="mostrarTexto(this); return false;">Leer más</a>
                          </div>
                        </div>
                      </div>
                    </div>    
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section><!--Fin Carrusel-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
    <script src="/static/js/script.js"></script>
    <script>
      function mostrarTexto(enlace) {
    // Obtener el elemento <li> padre del enlace
    var liElement = enlace.parentNode;

    // Encontrar el elemento de texto adicional dentro del <li> padre
    var textoAdicional = liElement.querySelector('.texto-adicional');

    // Toggle para mostrar u ocultar el texto adicional
    if (textoAdicional.style.display === 'none' || textoAdicional.style.display === '') {
        textoAdicional.style.display = 'block'; // Mostrar el texto adicional
        enlace.textContent = 'Ocultar'; // Cambiar el texto del enlace
    } else {
        textoAdicional.style.display = 'none'; // Ocultar el texto adicional
        enlace.textContent = 'Leer más'; // Cambiar el texto del enlace
    }
}
  </script>
</body>
</html>