<!doctype html>
<html lang="es">
<head>
  <title>Clasificación y Ánalisis Univ. Valladolid</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Página deportiva dedicada a informar sobre los resultados y análisis de las competiciones deportivas en la ciudad de Valladolid, incluyendo la liga local, la Copa del Rey/Reina, competiciones europeas, y explicaciones de los sistemas de liga.">
  <meta name="keywords" content="deporte, Valladolid, resultados, liga local, Copa del Rey, Copa de la Reina, competiciones europeas, análisis, sistemas de liga">
  <meta name="author" content="eldeportedelaciudad">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="/static/css/estilo.css" rel="stylesheet" type="text/css">  
  <!-- Favicon -->  
  <link rel="icon" type="image/jpg" href="/static/img/logo.png"/>  
</head>
<body class="calend_futbol_sala">
  <div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb ms-1">
      <li class="breadcrumb-item"><a href="/seccion/futbol_sala" class="text-white text-decoration-none">Sección</a></li>
      <li class="breadcrumb-item active text-dark" aria-current="page">Clasificación y Ánalisis</li>
    </ol>
  </nav>
  </div>
<h2 class="text-white text-center">Universidad Valladolid 24/25</h2>
<section class="container-lg mb-5">
  <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active"><!--Tabla Clasificación-->	
          <div class="d-flex justify-content-center">
            <div class="card tabla_equ_futb" style="width: 80rem;">
              <div class="card-body">
                <div class="row table-responsive">
                  <h3 class="text-center">Clasificación - Liga 3ª División - Grp-9</h3>
                  <div class="col-1">
                    <!--<table class="table"> <--Posiciones->
                      <thead>
                        <tr>
                          <th>Pos.</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr>
                          <td class="bg-success text-white">1</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">2</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">3</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">4</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">5</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">6</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">7</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">8</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">9</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">10</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">11</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">12</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">13</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">14</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">15</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">16</td>
                        </tr>
                      </tbody>
                    </table>-->
                  </div>
                  <div class="col-12">
                  <table id="tablaClasifUniversidad" class="table tablaClasificacion">
                    <thead>
                      <tr class="text-center">
                        <th>Pos.</th>
                        <th>Equipos</th>
                        <th>PTS</th>
                        <th>PJ</th>
                        <th>PG</th>
                        <th>PE</th>
                        <th>PP</th>
                        <th>GF</th>
                        <th>GC</th>
                        <th>DG</th>
                      </tr>
                    </thead>
                    <tbody class="tablaCuerpo">
                      {% for equipo in clasificacion_analisis_universidad %}
                      <tr class="text-center">
                        <td class="fw-bold {% if equipo.index <= 1 %}pos-champion{% elif equipo.index <= 2 %}pos-uefa{% elif equipo.index <= 3 %}pos-confe{% elif equipo.index >= clasificacion_analisis_universidad|length - 2 %}pos-descenso{% endif %}">
                          {{ equipo.index }}
                        </td>
                        <td class="fw-bold size_equipos">{{ equipo['equipo'] }}</td>
                        <td class="puntos fw-bold">{{ equipo['datos']['puntos'] }}</td>
                        <td class="jugados fw-bold ">{{ equipo['datos']['jugados'] }}</td>
                        <td class="ganados fw-bold">{{ equipo['datos']['ganados'] }}</td>
                        <td class="empatados fw-bold">{{ equipo['datos']['empatados'] }}</td>
                        <td class="perdidos fw-bold">{{ equipo['datos']['perdidos'] }}</td>
                        <td class="favor fw-bold">{{ equipo['datos']['favor'] }}</td>
                        <td class="contra fw-bold">{{ equipo['datos']['contra']}}</td>
                        <td class="diferencia_goles fw-bold">{{ equipo['datos']['diferencia_goles'] }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
              <p class="ms-4"> PTS (Puntos); PJ (Partidos Jugados); PG (Partidos Ganados); PE (Partidos Empatados); PP (Partidos Perdidos); GF (Goles Favor); GC(Goles Contra); DG (Diferencia Goles)</p>
              <p class="ms-4">Campeón (Ascenso Directo)<span class="badge bg-success ms-2">1</span> ; Copa del Rey (25/26)<span class="badge bg-warning ms-2">2</span> ; Descenso<span class="badge bg-danger ms-2">14-16</span></p>
            </div>
          </div>
        </div>
        <div class="carousel-item"><!--Tabla Ascenso-->
          <div class="d-flex justify-content-center">
            <div class="card tabla_equ_futb" style="width: 80rem;">
              <div class="card-body">
                <div class="row table-responsive">
                  <h3 class="text-center">Ascenso - Liga Fem. 2ª Federación</h3>
                  <div class="col-1">
                    <table class="table"> <!--Posiciones-->
                      <thead>
                        <tr>
                          <th>Pos.</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr>
                          <td class="bg-success text-white">1</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">2</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">3</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">4</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">5</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">6</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">7</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">8</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">9</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">10</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">11</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">12</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">13</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">14</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">15</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">16</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-11">
                  <table id="tablaAscensoUniversidad" class="table"><!--Tabla Ascenso-->
                    <thead>
                      <tr class="text-center">
                        <th>Equipos</th>
                        <th>PJ</th>
                        <th>PA</th>
                        <th>Prox</th>
                        <th>PM</th>
                        <th>PO</th>
                        <th>PPes</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for equipo_info in clasificacion_analisis_universidad %}
                      <tr class="text-center">
                        <td class="fw-bold size_equipos">{{ equipo_info['equipo'] }}</td>
                        <td class="jugados1 fw-bold">{{ equipo_info['datos']['jugados'] }}</td>
                        <td class="pts-act1 fw-bold">{{ equipo_info['datos']['puntos'] }}</td>
                        <td class="proxi1 fw-bold"></td>
                        <td class="pts-mate1 fw-bold"></td>
                        <td class="pts-opti1 fw-bold"></td>
                        <td class="pts-pesi1 fw-bold"></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
              <p class="ms-4">PJ (Partidos Jugados); PA (Puntos Actuales); Prox (Proximidad); PM (Puntos Matemáticos); PO(Puntos Optimista); PPes (Puntos Pesimista)</p>
            </div>
          </div>
        </div>
        <!--<div class="carousel-item"><--Tabla PlayOff->
          <div class="d-flex justify-content-center">
            <div class="card tabla_equ_futb" style="width: 80rem;">
              <div class="card-body">
                <div class="row table-responsive">
                   <h3 class="text-center mb-4">PlayOff - Liga 1ª RFEF</h3>
                   <div class="col-1">
                    <table class="table"> <--Posiciones->
                      <thead>
                        <tr>
                          <th>Posición</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr>
                          <td class="bg-secondary text-white">1</td>
                        </tr>
                        <tr>
                          <td class="bg-warning text-white">2</td>
                        </tr>
                        <tr>
                          <td class="bg-warning text-white">3</td>
                        </tr>
                        <tr>
                          <td class="bg-warning text-white">4</td>
                        </tr>
                        <tr>
                          <td class="bg-warning text-white">5</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">6</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">7</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">8</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">9</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">10</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">11</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">12</td>
                        </tr>
                        <tr>
                          <td class="text-white" style="background-color: #e98181;">13</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">14</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">15</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-11">
                  <table id="tablaPlayUniversidad" class="table"><--Tabla PlayOff->
                    <thead>
                      <tr class="text-center">
                        <th>Equipos</th>
                        <th>PJ</th>
                        <th>Ptos.Actuales</th>
                        <th>Proximidad</th>
                        <th>Ptos.Matem</th>
                        <th>Ptos.Optim</th>
                        <th>Ptos.Pesim</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for equipo_info in clasificacion_analisis_universidad %}
                      <tr class="text-center">
                        <td class="fw-bold size_equipos">{{ equipo_info['equipo'] }}</td>
                        <td class="play-jug fw-bold">{{ equipo_info['datos']['jugados'] }}</td>
                        <td class="play-act fw-bold">{{ equipo_info['datos']['puntos'] }}</td>
                        <td class="play-proxi fw-bold"></td>
                        <td class="play-mate fw-bold"></td>
                        <td class="play-opti fw-bold"></td>
                        <td class="play-pesi fw-bold"></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  </div>   
                </div>
              </div>
            </div>
          </div>
        </div>-->
        <div class="carousel-item"><!--Tabla Permanencia-->
          <div class="d-flex justify-content-center">
            <div class="card tabla_equ_futb" style="width: 80rem;">
              <div class="card-body">
                <div class="row table-responsive">
                  <h3 class="text-center mb-4">Descenso 1ª Div. Prov. Aficionados</h3>
                  <div class="col-1">
                    <table class="table"> <!--Posiciones-->
                      <thead>
                        <tr>
                          <th>Pos.</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr>
                          <td class="bg-secondary text-white">1</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">2</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">3</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">4</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">5</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">6</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">7</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">8</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">9</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">10</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">11</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">12</td>
                        </tr>
                        <tr>
                          <td class="bg-secondary text-white">13</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">14</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">15</td>
                        </tr>
                        <tr>
                          <td class="bg-danger text-white">16</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-12">
                  <table id="tablaDescUniversidad" class="table"><!--Tabla Permanencia-->
                    <thead>
                      <tr class="text-center">
                        <th>Equipos</th>
                        <th>PJ</th>
                        <th>PA</th>
                        <th>Prox</th>
                        <th>PM</th>
                        <th>PO</th>
                        <th>PPes</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for equipo_info in clasificacion_analisis_universidad %}
                      <tr class="text-center">
                        <td class="fw-bold posClass">${index + 1}</td>
                        <td class="fw-bold size_equipos">{{ equipo_info['equipo'] }}</td>
                        <td class="desc-jug fw-bold">{{ equipo_info['datos']['jugados'] }}</td>
                        <td class="desc-act fw-bold">{{ equipo_info['datos']['puntos'] }}</td>
                        <td class="desc-prox fw-bold"></td>
                        <td class="desc-mate fw-bold"></td>
                        <td class="desc-opti fw-bold"></td>
                        <td class="desc-pesi fw-bold"></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
              <p class="ms-4">PJ (Partidos Jugados); PA (Puntos Actuales); Prox (Proximidad); PM (Puntos Matemáticos); PO(Puntos Optimista); PPes (Puntos Pesimista)</p>
            </div>
          </div>
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
</section>
  <!--Fin Carrusel-->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
</script> 
  <script src="/static/js/script.js"></script>
  <script src="/static/js/analisis-universidad.js"></script>
</body>
</html>